<h1>Listing case_jurisdictions</h1>

<table>
  <tr>
    <th>Abbreviation</th>
    <th>Name</th>
    <th>Content</th>
  </tr>

<% @case_jurisdictions.each do |case_jurisdiction| %>
  <tr>
    <td><%=h case_jurisdiction.abbreviation %></td>
    <td><%=h case_jurisdiction.name %></td>
    <td><%=h case_jurisdiction.content %></td>
    <td><%= link_to 'Show', case_jurisdiction %></td>
    <td><%= link_to 'Edit', edit_case_jurisdiction_path(case_jurisdiction) %></td>
    <td><%= link_to 'Destroy', case_jurisdiction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New case_jurisdiction', new_case_jurisdiction_path %>