<p>
  <b>Abbreviation:</b>
  <%=h @case_jurisdiction.abbreviation %>
</p>

<p>
  <b>Name:</b>
  <%=h @case_jurisdiction.name %>
</p>

<p>
  <b>Content:</b>
  <%=h @case_jurisdiction.content %>
</p>


<%= link_to 'Edit', edit_case_jurisdiction_path(@case_jurisdiction) %> |
<%= link_to 'Back', case_jurisdictions_path %>