.content-browser
  %hr{:class => "#{section}"}
  .header-spacer
    %h3
      = header
  - content.each do |casebook|
    - if casebook.public
      - version_type = 'public'
    - else
      - version_type = 'draft'
      - action = 'edit'
    %a.wrapper{:href => "#{casebook_url(casebook)}/#{action}"}
      %div{:class => "content-page #{version_type}"}
        .top
          .state= casebook.public ? t('content.dashboard.casebooks.published') : t('content.dashboard.casebooks.draft')
          .title= casebook.title
          .subtitle= casebook.subtitle
        .owner= casebook.owners.first.display_name
