<div class="content-browser">
  <% content.each do |casebook| %>
    <% if casebook.public %>
      <% version_type = 'public' %>
    <% else %>
      <% version_type = 'draft' %>
      <% action = 'layout' %>
    <% end %>
    <% alert_changes = casebook.alert_changes?(current_user) %>
    <a class="wrapper" href="<%= casebook_url(casebook) %>/<%= action %>">
      <div class="content-page <%= version_type %>">
        <div class="casebook-info">
          <div class="state">
            <%= casebook.public ? t('content.dashboard.casebooks.published') : t('content.dashboard.casebooks.draft') %>
          </div>
          <div class="title">
            <%= casebook.title %>
          </div>
          <% if ! alert_changes %>
            <div class="subtitle">
              <%= casebook.subtitle %>
            </div>
          <% end %>
        </div>
        <% if alert_changes %>
          <a class="wrapper" href="<%= casebook_url(casebook.draft) %>/layout">
            <div class="unpublished-changes">
             <span class="exclamation">!</span>
              <span class="description">This casebook has unpublished changes.</span>
            </div>
          </a>
        <% end %>
        <div class="author-info">
          <div class="owner">
            <%= casebook.owner.attribution %><span class="<%= casebook.owner.verified_professor? ? 'verified' : '' %>"></span>
          </div>
          <div class="affiliation">
            <%= casebook.owner.affiliation %>
          </div>
        </div>
        <div class="root-attribution">
          <% if casebook.ancestry %>
            Original author: <%= casebook.root_owner %>
          <% end %>
        </div>
      </div>
    </a>
  <% end %>
</div>
