- if resource.has_elisions?
  %button.toggle-elisions
    = "Show elided text"
- if resource.resource.is_a? Case
  = javascript_pack_tag "vue_app"
  = stylesheet_pack_tag "vue_app", media: "all"
  #vue_app
    %App
  .resource-wrapper
    .case-text
      - resource.annotated_paragraphs(editable: editable).each_with_index do |paragraph_node, paragraph_index|
        .p-handle{data: {'elided-annotation': paragraph_node['data-elided-annotation']}}
          .p-number= paragraph_index + 1
        = paragraph_node.to_html.html_safe
- elsif resource.resource.is_a? TextBlock
  .resource-wrapper
    .case-text
      - resource.annotated_paragraphs(editable: editable).each_with_index do |paragraph_node, paragraph_index|
        .p-handle{data: {'elided-annotation': paragraph_node['data-elided-annotation']}}
          .p-number= paragraph_index + 1
        = paragraph_node.to_html.html_safe
- elsif resource.resource.is_a? Default
  = t 'content.link.follow-link'
  = link_to resource.resource.display_name, resource.resource.url, target: '_blank'
