<% if resource.resource.is_a?(Case) || resource.resource.is_a?(TextBlock) %>
  <div class="resource-wrapper">
    <div class="case-text">
      <% resource.annotated_paragraphs(editable: editable).each_with_index do |p_node, p_idx| %>
        <% unless p_node.children.empty? %>
          <% if p_node['data-elided-annotation'].present? %>
            <div class="p-handle" data-elided-annotation="<%= p_node['data-elided-annotation'] %>" >
              <div class="p-number"><%= p_idx + 1 %></div>
            </div>
          <% else %>
            <div class="p-handle">
              <div class="p-number"><%= p_idx + 1 %></div>
            </div>
          <% end %>
          <%= p_node.to_html.html_safe %>
        <% end %>
      <% end %>
    </div>
  </div>
<% elsif resource.resource.is_a? Default %>
  <%= t 'content.link.follow-link' %>
  <%= link_to resource.resource.display_name, resource.resource.url, target: '_blank' %>
<% end %>