<% content_for :custom_skip_target do %>arbitrary text, necessary so that content_for :custom_skip_target evaluates to true<% end %>
<p id="main" tabindex="-1" class="sr-only">Main Content</p>

<% if @child.present? && @casebook.present? %>
  <header class="casebook-header">
    <div class="casebook-title" href="<%= casebook_path(@casebook) %>">
      <%= @casebook.title %>
    </div>
  </header>
<% end %>
<header class="content">
  <% if @child.present? && @casebook.present? %>
    <div class="breadcrumbs">
      <%= t 'content.show.section' %>
      <% @child.ordinals.each_with_index do |ordinal, idx| %>
        <% unless idx == @child.ordinals.length-1 %>
          <a class="breadcrumb" href="<%= layout_section_path(@casebook, @child.ordinals[0..idx].join('.')) %>"><%= ordinal %></a>
          <span class="separator">.</span>
        <% else %>
          <span class="breadcrumb active"><%= ordinal %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <h1 class="title">
    <%= @content.title %>
    <% if @section.nil? %>
      <% if @content.subtitle? %>
      <h2 class="subtitle">
        <%= @content.subtitle %>
      </h2>
      <% end %>
    <% end %>
  </h1>
</header>
<% if @casebook.present? %>
  <aside class="casebook-actions">
    <%= render 'content/actions' %>
  </aside>
<% end %>
<% if @content.formatted_headnote.present? || @content.subtitle.present? %>
  <section class="headnote">
    <h5>
      <%= t 'content.show.headnote' %>
    </h5>
    <% if @section.present? %>
      <h3>
        <%= @content.subtitle %>
      </h3>
    <% end %>
    <p>
      <%= @content.formatted_headnote %>
    </p>
  </section>
<% else %>
  <section class="no-headnote"></section>
<% end %>
<resource-body :resource="<%= @resource.resource.to_json %>"
               :editable="<%= @editable %>"/>
