<section id="search">
	<% form_tag("/medias", :method => :get, :class => "search") do %>
	<ul>
		<li id="spinner">
			<img src="/images/ui/ajax-loader.gif" alt="" />
		</li>
    <% if current_user -%> 
    <li class="btn">
      <a href="<%= new_media_path %>" class="btn-a">
        <span>CREATE MEDIA ITEM</span>
      </a>
    </li>
    <% end -%>
		<li class="btn">
			<a href="#" class="btn-a btn-tags">
				<span>BROWSE TAGS</span>
			</a>
			<% cache("medias-all-tags") do -%>
			<div class="browse-tags-popup" id="browse_form">
				<ul>
					<% Media.tag_list.each do |tag| %>
					<li><a href="<%= media_tag_path(CGI.escape(tag.name)) %>" class="<%= cycle("even", "odd") %>"><strong><%= tag.name %></strong></a></li>
					<% end -%>
				</ul>
				<div class="cl">&nbsp;</div>
				<div class="center">
					<input type="submit" class="button" value="Filter" />
					<%= link_to raw('Clear &raquo;'), medias_path, :class => 'clear' %>
				</div>
			</div>
			<% end -%>
		</li>
    <%= render :partial => 'shared/search_all_fields' %>
	<% end %>
</section>
<div class="cl"></div>
