<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'medias-logo',
  :url => medias_path,
  :right_search => 'medias/nav_search' } %>
	
<section class="breadcrumbs">
	<aside class="filter">
		<% if params[:tags] -%>
		<p>
		medias tagged: <%= params[:tags].join(', ') %> (<%= pluralize @medias.total_entries, 'Media Item' %> Total)
		<%= link_to "CLEAR TAG", medias_path %>
		</p>
		<% elsif params[:keywords] -%>
		<% elsif params[:tag] -%>
		<p>
		medias tagged: <%= CGI.unescape(params[:tag]) %> (<%= pluralize @medias.total_entries, 'Media Item' %> Total)
		<%= link_to "CLEAR TAG", medias_path %>
		</p>
		<% elsif params[:keywords] -%>
		<p>
		Results for: <%= params[:keywords] %> (<%= pluralize @medias.total_entries, 'Media Item' %> Total)
		<%= link_to "CLEAR SEARCH", medias_path %>
		</p>
		<% else -%>
		<%= @medias.total_entries %> Media Items Total
		<% end -%>
	</aside>
	<aside class="pagination">
		<div class="all_medias_pagination">
		<%= will_paginate @medias, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
	</aside>
	<div class="cl"></div>
</section>

<section id="results">
	<hgroup id="medias_hgroup">
		<ul class="tabs">
			<li><a href="#" class="active" data-region="all_medias">ALL MEDIA ITEMS</a></li>
    		<% if @my_medias.any? -%>
			<li><a href="#" data-region="my_medias">MY MEDIA ITEMS</a></li>
			<% end -%>
			<% if @my_bookmarks.any? -%>
			<li><a href="#" data-region="my_bookmarks">MY BOOKMARKS</a></li>
			<% end -%>
		</ul>
		<aside class="sort">
			<div id="all_medias_sort" data-type="medias">
				<%= render :partial => 'shared/sort', :locals => { :list => @generic_sort_list } %>
			</div>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<article class="songs">
	<ul id="all_medias">
		<%= render :partial => 'shared/objects/media', :collection => @medias %>
	</ul>
	<% if current_user -%>
  <% if @my_medias.any? -%>
	<ul id="my_medias">
		<%= render :partial => 'shared/objects/media', :collection => @my_medias %>
	</ul>
	<% end -%>
	<% if @my_bookmarks.any? -%>
	<ul id="my_bookmarks">
		<%= render :partial => 'shared/objects/media', :collection => @my_bookmarks %>
	</ul>
	<% end -%>
	<% end -%>
	</article>
</section>

<section class="breadcrumbs">
	<aside class="pagination">
		<div class="all_medias_pagination">
		<%= will_paginate @medias, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
	</aside>
	<div class="cl"></div>
</section>

<%= render :partial => "shared/popup", :locals => { :type => "case" } %>
