= simple_form_for @casebook, url: @section.present? ? book_section_path(@book, @section) : book_path(@book), class: 'casebook-details' do |f|
  - if @section.present?
    %header.book-header
      %a.book-title{href: edit_book_path(@book)}= @book.title
      .collaborators= render partial: 'casebooks/collaborators', locals: {casebook: @book}
  %header.casebook
    - if @section.present?
      .breadcrumbs
        = t 'casebooks.show.section'
        - @section.ordinals.each_with_index do |ordinal, idx|
          - unless idx == @section.ordinals.length-1
            %a.breadcrumb{href: edit_book_section_path(@book, @section.ordinals[0..idx].join('.'))}= ordinal
            %span.separator .
          - else
            %span.breadcrumb.active= ordinal
    = f.input :title, placeholder: t('simple_form.labels.casebook.name')
    = f.input :subtitle, placeholder: t('simple_form.labels.casebook.subtitle')
    - if @section.nil?
      .collaborators
        - @casebook.users.each do |user|
          .user{class: user.verified? ? 'verified' : ''}= user.display_name
        %a.add-collaborator= t 'casebooks.edit.add-collaborator'
  %section.headnote
    %h5= t 'casebooks.show.headnote'
    = f.input :headnote, label: false, placeholder: t('simple_form.labels.casebook.description')
  %section.edit-actions
    = f.submit t('simple_form.labels.casebook.save'), class: 'save-button'
    = link_to t('simple_form.labels.casebook.revert'), book_path(@casebook), class: 'reset-button'
- if @casebook.respond_to? :contents
  %section.table-of-contents
    = render partial: 'casebooks/table_of_contents/show', locals: {contents: @casebook.tree, editable: false}
- elsif @casebook.respond_to? :resource
  %section.resource
    = render partial: 'casebooks/resources/show', locals: {resource: @casebook.resource, editable: false}
