- if @section.present?
  %header.book-header
    %a.book-title{href: book_path(@book)}= @book.title
    .collaborators= render partial: 'casebooks/collaborators', locals: {casebook: @book}
%header.casebook
  - if @section.present?
    .breadcrumbs
      = t 'casebooks.show.section'
      - @section.ordinals.each_with_index do |ordinal, idx|
        - unless idx == @section.ordinals.length-1
          %a.breadcrumb{href: book_section_path(@book, @section.ordinals[0..idx].join('.'))}= ordinal
          %span.separator .
        - else
          %span.breadcrumb.active= ordinal
          %span.separator :
  %h1= @casebook.title
  - if @section.nil?
    %h2= @casebook.subtitle
  - if @section.nil?
    .collaborators= render partial: 'casebooks/collaborators', locals: {casebook: @book}
- if @casebook.headnote || @casebook.subtitle
  %section.headnote
    %h5= t 'casebooks.show.headnote'
    - if @section.present?
      %h3= @casebook.subtitle
    %p= @casebook.headnote
- else
  %section.no-headnote
%section.table-of-contents
  - if @casebook.respond_to? :contents
    %h5
      - if @section.present?
        = t 'casebooks.show.section-contents'
      - else
        = t 'casebooks.show.table-of-contents'
    - if @casebook.contents.any?
      = render partial: 'casebooks/table_of_contents/show', locals: {contents: @casebook.tree, editable: @edit_layout}
    - else
      .listing.empty
        - if @edit_layout
          - if @section.present?
            = t 'casebooks.edit.empty-section.html', add_resource_button: link_to(t('casebooks.edit.empty-section.add-button'), new_book_section_path(@book, parent: @section.ordinal_string))
          - else
            = t 'casebooks.edit.empty-book.html', add_section_button: button_to(t('casebooks.edit.empty-book.add-button'), book_sections_path(@book), method: :post)
        - else
          - if @section.present?
            = t 'casebooks.show.empty-section'
          - else
            = t 'casebooks.show.empty-book'
  - elsif @casebook.respond_to? :resource
    %section.resource
      = render partial: 'casebooks/resources/show', locals: {resource: @casebook.resource, editable: false}
