<% include Rails.application.routes.url_helpers %>
<% include ActionView::Helpers::JavaScriptHelper %>

import {html} from 'es6-string-html-template';
import delegate from 'delegate';
import ModalComponent from 'lib/ui/modal';
let modal = null;

delegate(document, 'a.action.export-has-annotations', 'click', showExportModal);
delegate(document, 'a.action.export-no-annotations', 'click', downloadFile);

function resource_export_path(resourceId, format = 'docx') {
  return '<%= j resource_export_path('_ID', format: '_FORMAT') %>'.replace('_ID', resourceId).replace('_FORMAT', format);
}
function section_export_path(sectionId, format = 'docx') {
  return '<%= j section_export_path('_ID', format: '_FORMAT') %>'.replace('_ID', sectionId).replace('_FORMAT', format);
}
function export_casebook_path(casebookId, format = 'docx') {
  return '<%= j export_casebook_path('_ID', format: '_FORMAT') %>'.replace('_ID', casebookId).replace('_FORMAT', format);
}

function downloadFile (e) {
  let pageInfo = document.querySelector('main > header').dataset;
  let includeAnnotations = <%= Rails.application.config.export_annotations_by_default %>;
  if (pageInfo.resourceId)  {
    e.target.href = resource_export_path(pageInfo.resourceId) + (includeAnnotations ? '': '?annotations=false');
  } else if (pageInfo.sectionId)  {
    e.target.href = section_export_path(pageInfo.sectionId) + (includeAnnotations ? '' : '?annotations=false');
  } else {
    e.target.href = export_casebook_path(pageInfo.casebookId) + (includeAnnotations ? '' : '?annotations=false');
  }
}

function showExportModal (e) {
  new ExportModal('export-modal', e.target, {
    'click #export-modal': (e) => { if (e.target.id === 'export-modal') this.destroy()},
    'click .export': (e) => {
      let resourceId = document.querySelector('main > header').dataset.resourceId;
      let sectionId = document.querySelector('main > header').dataset.sectionId;
      let casebookId = document.querySelector('main > header').dataset.casebookId;
      let annotations = e.target.value;
      
      if (resourceId)  {
        window.open(resource_export_path(resourceId) + (annotations == "true" ? '?annotations=true' : '?annotations=false'));
      } else if (sectionId)  {
        window.open(section_export_path(sectionId) + (annotations  == "true" ? '?annotations=true' : '?annotations=false'));
      } else {
        window.open(export_casebook_path(casebookId) + (annotations == "true" ? '?annotations=true' : '?annotations=false'));
      }

      document.querySelector('button.close').click()
    }
  });
}

class ExportModal extends ModalComponent {
  casebookId () {
    return document.querySelector('header.casebook').dataset.casebookId;
  }

  sectionId () {
    return document.querySelector('header.casebook').dataset.sectionId;
  }

  template () {
    return html`<div class="modal fade in" id="${this.id}" style="display: block"  tabindex="-1" aria-labelledby="${this.id}-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="${this.id}-title" class="modal-title export-title"><%= t 'content.publish-modal.title' %></h4>
          </div>
          <div class="modal-body">
            <div class="export-annotations">
              <button name="include-annotations" value=true class="modal-button export with-annotations">With annotations</button>
              <button name="include-annotations" value=false class="modal-button export no-annotations">Without annotations</button>
            </div>
          </div>
        </div>
      </div>
    </div>`
  }
}
