import {html} from 'es6-string-html-template';
import delegate from 'delegate';
import Component from 'lib/ui/component';
import {patch} from 'lib/turbolinks/requests';

delegate(document, 'input.action.publish', 'click', showPublishModal);

let modal = null;

function casebook_path(resourceId, format = 'pdf') {
  return '<%= j casebook_path('_ID') %>'.replace('_ID', resourceId);
}

function showPublishModal (e) {
  e.preventDefault();
  e.stopPropagation();
  modal = new PublishModal;
}

function showSpinner (e) {
  $(".modal-header").hide();
  $(".modal-body").hide();
  $(".modal-footer").hide();
  $(".spinner-group").show().css('display', 'flex');
  $(".spinner").show();
  $(".spinner-header").show();
}

class PublishModal extends Component {
  constructor () {
    super({
      id: 'publish-modal',
      events: {
        'click #publish-modal': (e) => { if (e.target.id === 'publish-modal') this.destroy()},
        'click .close': (e) => {this.destroy()},
        'click .cancel': (e) => { this.destroy() },
        'click .confirm': (e) => {
          showSpinner();
          let casebookId = document.querySelector('main > header').dataset.casebookId;
          patch(casebook_path(casebookId), {content_casebook: {public: true}});
        },
      }
    });
    document.body.appendChild(this.el);
    this.render();
  }

  casebookId () {
    return document.querySelector('header.casebook').dataset.casebookId;
  }

  sectionId () {
    return document.querySelector('header.casebook').dataset.sectionId;
  }

  template () {
    return html`<div class="modal fade in" id="publish-modal" style="display: block">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close"><span>&times;</span></button>
            <h4 class="modal-title"><%= t 'content.publish-modal.title' %></h4>
          </div>
          <div class="publish">
            <div class="spinner-group">
              <span class="spinner-header">Publishing</span>
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <%= I18n.t 'content.publish-modal.body' %>
          </div>
          <div class="modal-footer">
            <%= link_to t('content.publish-modal.cancel'), '#', class: 'modal-button cancel' %>
            <%= link_to t('content.publish-modal.confirm'), '#', class: 'modal-button confirm', input_html: { 'data-toggle' => 'modal' }%>
          </div>
        </div>
      </div>
    </div>`
  }
}
