<p id="word_count">Number of visible words: <%= number_with_delimiter(@collage.words_shown, ',') %> out of <%= number_with_delimiter(@collage.word_count - 1, ',') %></p>

<p>Lineage</p>

<h5>Original <%= @collage.annotatable_type %></h5>
<% if @collage.annotatable_type == 'Case' %>
<%= link_to "\"#{@collage.annotatable.short_name}\"", case_path(@collage.annotatable), :id => 'original_name' %>
<% if @collage.annotatable.decision_date -%>
<br />Decision date: <%= @collage.annotatable.decision_date %>
<% end -%>
<% if @collage.annotatable.case_jurisdiction -%>
<br />Jurisdiction: <%= @collage.annotatable.case_jurisdiction.display_name %>
<% end -%>
<% else -%>
<%= link_to @collage.annotatable.name, text_block_path(@collage.annotatable), :id => 'original_name' %>
<% end -%>
<ul class="lineage">
<%= render :partial => 'collage_children',
		:locals => { :collage => top_ancestor(Collage, @collage),
                     :recursive_level => 0 } %>
</ul>
