<p>
  <label>Last Updated:</label>
  <span id="autosave"><%= collage.updated_at.strftime("%B %d, %Y") %></span>
</p>
<% if collage.tags.any? -%>
<p>
  <label>Tags:</label>
  <% collage.tags.each do |tag| -%>
  <%= link_to tag.name, tag_path("collages", CGI.escape(tag.name)) %>
  <% end -%>
</p>
<% end -%>
<% if collage.annotatable.present? -%>
<p><label>Original Item:</label>
<% if collage.annotatable_type == 'Case' %>
<%= link_to "\"#{collage.annotatable.short_name}\"", case_path(collage.annotatable), :id => 'original_name' %>
<% else -%>
<%= link_to collage.annotatable.name, text_block_path(collage.annotatable), :id => 'original_name' %>
<% end -%>
</p>
<% end -%>

<div id="singleitem_lineage">
  <label>Lineage of:</label> <%= collage.name %>
<ul class="lineage">
<%= render :partial => 'collages/collage_children',
		:locals => { :collage_subtree => collage.root.subtree.includes(:user).arrange,
                 :recursive_level => 0 } %>
</ul>
</div>
