<p>
  <label>Last Updated:</label>
  <span id="autosave"><%= @collage.updated_at.strftime("%B %d, %Y") %></span>
</p>
<p>
  <label>Total Words:</label>
  <span id="word_stats"></span>
</p>
<%= render :partial => "shared/breakdown_barcode", :locals => { :model => Collage, :breakdown_data => @collage.barcode_breakdown } %>
<% if @collage.tags.any? -%>
<p>
  <label>Tags:</label>
  <% @collage.tags.each do |tag| -%>
  <%= link_to tag.name, collage_tag_path(CGI.escape(tag.name)) %>
  <% end -%>
</p>
<% end -%>
<p>
  <label>Annotations:</label>
  <span id="stats_annotation_size"><%= @collage.annotations.size %></a>
</p>
<p>
  <label>Layers:</label>
  <span id="stats_layer_size"><%= @collage.layers.size %></span>
</p>

<% if @collage.annotatable.present? -%>
<p><label>Original Item:</label>
<% if @collage.annotatable_type == 'Case' %>
<%= link_to "\"#{@collage.annotatable.short_name}\"", case_path(@collage.annotatable), :id => 'original_name' %>
<% else -%>
<%= link_to @collage.annotatable.name, text_block_path(@collage.annotatable), :id => 'original_name' %>
<% end -%>
</p>
<% end -%>

<div id="singleitem_lineage">
  <label>Lineage of:</label> <%= @collage.name %>
<ul class="lineage">
<%= render :partial => 'collages/collage_children',
		:locals => { :collage => @collage.root,
                     :recursive_level => 0 } %>
</ul>
</div>
