<section id="search">
	<% form_tag("/collages", :method => :get, :class => "search") do %>
	<ul>
		<li id="spinner">
			<img src="/images/ui/ajax-loader.gif" alt="" />
		</li>
		<% if current_user -%>
		<li class="btn">
			<a href="<%= new_collage_path %>" class="btn-a new-action">
				<span>CREATE COLLAGE</span>
			</a>
		</li>
		<% end -%>
		<li class="btn">
			<a href="#" class="btn-a btn-tags">
				<span>BROWSE TAGS</span>
			</a>
			<% cache("collage-all-tags") do -%>
			<div class="browse-tags-popup">
				<ul>
					<% Collage.tag_list.each do |tag| %>
					<li><a href="<%= collage_tag_path(CGI.escape(tag.name)) %>" class="<%= cycle("even", "odd") %>"><strong><%= tag.name %></strong></a></li>
					<% end -%>
				</ul>
				<div class="cl">&nbsp;</div>
			</div>
			<% end -%>
		</li>
    <%= render :partial => 'shared/search_all_fields' %>
	<% end %>
</section>
<div class="cl"></div>
