<div class="collage-content singleitem anno-redundant" id="collage<%= @collage.id %>" data-id="<%= @collage.id %>">
  <h1 id="singlecollage" class="scale1-5"><%= @collage.name %></h1>
<% if (item_desc = @collage.formatted(:description)) != '' %>
	<div class="details">
		<div id="description" class="item_description">
          <div class="Item-description">
			<%= raw item_desc %>
		  </div>
		</div>
	</div>
<% end %>

<%= render :partial => 'shared/objects/collage_print', :locals => {:collage => @collage} %>
