<div id="collage<%= @collage.id %>" class="collage-content singleitem" data-id="<%= @collage.id %>">
	<% cache("collage-#{@collage.id}-annotatable-content") do %>
	<article>
		<%= raw @collage.annotatable_content %>
	</article>
	<% end -%>
	<h2 class="collage-id"><%= @collage.name %></h2>
  <%= @collage.created_at.to_s(:simpledatetime) %> by <%= raw @collage.creators.collect { |u| u.login }.join(',') %>
  <%= Collage.format_content(@collage.description) %>
</div>

<script type="text/javascript">
var collage_data_<%= @collage.id %> = <%= raw @readable_state || {} %>;
</script>
