<div id="collage<%= @collage.id %>" class="collage-content singleitem" data-id="<%= @collage.id %>">
  <h1 id="singlecollage"><%= @collage.name %></h1>
  <div class="details">
    <p class="info"><%= @collage.created_at.to_s(:simpledatetime) %> by <%= raw @collage.creators.collect { |u| u.display }.join(',') %></p>
    <p class="item_description"><%= Collage.format_content(@collage.description) %></p>
</div>
	<% cache("collage-#{@collage.id}-editable-content") do %>
	<article>
		<%= raw @collage.editable_content %>
	</article>
	<% end -%>
</div>

<script type="text/javascript">
var collage_data_<%= @collage.id %> = <%= raw params[:state] || @collage.readable_state || {} %>;
var annotations_<%= @collage.id %> = <%= raw @collage.annotations.inject({}) { |h, a| h["a#{a.id}"] =  a.to_json(:include => :layers); h }.to_json %>;
var color_map_<%= @collage.id %> = <%= raw @collage.color_map.to_json %>;
</script>
