<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'collage-logo',
  :url => collages_path,
  :right_search => 'collages/nav_search' } %>

<section id="breadcrumbs">
	<aside class="filter">
		<% if params[:tag] -%>
		<p>
		Collages tagged: <%= params[:tag] %> (<%= pluralize @collages.total, 'Collage' %> Total)
		<%= link_to "CLEAR TAG", collages_path %>
		</p>
		<% elsif params[:keywords] -%>
		<p>
		Results for: <%= params[:keywords] %> (<%= pluralize @collages.total, 'Collage' %> Total)
		<%= link_to "CLEAR SEARCH", collages_path %>
		</p>
		<% else -%>
    	<%= pluralize @collages.total, 'Collage' %> Total
		<% end -%>
	</aside>
	<aside class="pagination">
		<%= will_paginate @collages.hits, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
	</aside>
	<div class="cl"></div>
</section>

<section id="results">
	<hgroup id="collage_hgroup">
		<ul class="tabs">
			<li><a href="#" class="active" id="all_collages_link">ALL COLLAGES</a></li>
			<% if false -%>
			<li><a href="#">POPULAR COLLAGES</a></li>
			<% end -%>
  			<% unless @my_collages.blank? %>
			<li><a href="#" id="my_collages_link">MY COLLAGES</a></li>
			<% end -%>
		</ul>
		<aside class="sort">
			<label>SORT:</label>
			<select name="">
				<option value="">BY DATE</option>
				<option value="">BY RATING</option>
			</select>
		</aside>
	</hgroup>
	<article class="songs">
  		<% unless @my_collages.blank? %>
		<ul id="my_collages" class="collage_section">
   	 		<%= render :partial => 'shared/objects/collage', :collection => @my_collages %>
		</ul>
  		<% end %>

		<ul id="all_collages" class="collage_section">
  		<% if @collages.hits.length == 0 %>
    	<li>None found.</li>
 	 	<% else %>
		<%= render :partial => 'shared/objects/collage', :collection => @collages.results %>
  		<% end %>
		</ul>
	</article>
</section>
