<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'collage-logo',
  :url => collages_path,
  :right_search => 'collages/nav_search' } %>

<section id="breadcrumbs">
	<aside class="filter">
		<% if params[:keywords] -%>
		<p>
		Results for: <%= params[:keywords] %> (<%= pluralize @collages.hits.length, 'Collage' %> Total)
		<%= link_to "CLEAR SEARCH", collages_path %>
		</p>
		<% else -%>
    	<%= pluralize @collages.hits.length, 'Collage' %>
		<% end -%>
	</aside>
	<aside class="pagination">
		<%= will_paginate @collages.hits %>
	</aside>
	<div class="cl"></div>
</section>

<section id="results">
	<hgroup id="collage_hgroup">
		<ul class="tabs">
			<li><a href="#" class="active" id="all_collages_link">ALL COLLAGES</a></li>
			<% if false -%>
			<li><a href="#">POPULAR COLLAGES</a></li>
			<% end -%>
  			<% unless @my_collages.blank? %>
			<li><a href="#" id="my_collages_link">MY COLLAGES</a></li>
			<% end -%>
		</ul>
	</hgroup>
  	<% unless @my_collages.blank? %>
	<div id="my_collages" class="collage_section">
    	<%= render :partial => 'shared/objects/collage', :collection => @my_collages %>
	</div>
  	<% end %>

	<div id="all_collages" class="collage_section">
  	<% if @collages.hits.length == 0 %>
    <h2>None found.</h2>
 	 <% else %>
    <%= render :partial => 'collage_list' %>
  	<% end %>
	</div>
</section>
