<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'collage-logo',
  :url => collages_path,
  :right_search => 'collages/nav_search' } %>

<section id="breadcrumbs">
	<aside class="filter">
		<% if params[:tag] -%>
		<p>
		Collages tagged: <%= CGI.unescape(params[:tag]) %> (<%= pluralize @collages.total, 'Collage' %> Total)
		<%= link_to "CLEAR TAG", collages_path %>
		</p>
		<% elsif params[:keywords] -%>
		<p>
		Results for: <%= params[:keywords] %> (<%= pluralize @collages.total, 'Collage' %> Total)
		<%= link_to "CLEAR SEARCH", collages_path %>
		</p>
		<% else -%>
    	<%= pluralize @collages.total, 'Collage' %> Total
		<% end -%>
	</aside>
	<aside class="pagination">
		<div id="all_collages_pagination">
		<%= will_paginate @collages.hits, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
	</aside>
	<div class="cl"></div>
</section>

<section id="results">
	<hgroup id="collage_hgroup">
		<ul class="tabs">
			<li><a href="#" class="active" data-region="all_collages">ALL COLLAGES</a></li>
  			<% if @my_collages.any? %>
			<li><a href="#" data-region="my_collages">MY COLLAGES</a></li>
			<% end -%>
  			<% if @my_bookmarks.any? %>
			<li><a href="#" data-region="my_bookmarks">MY BOOKMARKS</a></li>
			<% end -%>
		</ul>
		<aside class="sort">
			<div id="all_collages_sort" data-type="collages">
				<%= render :partial => 'shared/sort', :locals => { :list => @generic_sort_list } %>
			</div>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<article class="songs">
		<ul id="all_collages" class="collage_section">
  		<% if @collages.hits.length == 0 %>
    	<li>None found.</li>
 	 	<% else %>
		<%= render :partial => 'shared/objects/collage', :collection => @collages.results %>
  		<% end %>
		</ul>

  		<% if @my_collages.any? %>
		<ul id="my_collages" class="collage_section">
   	 		<%= render :partial => 'shared/objects/collage', :collection => @my_collages %>
		</ul>
  		<% end %>

  		<% if @my_bookmarks.any? %>
		<ul id="my_bookmarks" class="collage_section">
   	 		<%= render :partial => 'shared/objects/collage', :collection => @my_bookmarks %>
		</ul>
  		<% end %>
	</article>
</section>

<%= render :partial => "shared/popup", :locals => { :type => "collage" } %>
