<div class="collage-index">
  <div class="info_block">
    <h1 class="yellow_title_med">Collages</h1>
    Collages allow you to annotate text - for instance, <%= link_to('a court case or decision', cases_url) %>. This page lists Collages you have the ability to view or manage.
    <% form_tag(url_for, :method => :get) do %>
      <p>
      <label for="keywords">Keywords:</label> <%= text_field_tag('keywords', params[:keywords], :size => 50) %>
      <input type="submit" class="button" value="Search" /> <%= link_to('clear', url_for()) %></p>
    <% end %>
  </div>

  <% unless @my_collages.blank? %>
    <div class="info_block">
      <h1 class="yellow_title_med">My Collages - <%= @my_collages.length %> total</h1>
    </div>
    <div class="list_block">
      <table class="core_table tablesorter">
        <thead>
          <tr class="table_heading">
            <th>Collage</th>
            <th>Annotations</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'shared/objects/collage', :collection => @my_collages %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @collages.hits.length == 0 %>
    <h2>None found.</h2>
  <% else %>
    <h2>Showing <%= (@collages.hits.length > 1) ? "#{@collages.hits.length} Collages" : '1 collage' %> of <%= @collages.total %> total
    <% if params[:keywords] %><span style="font-size: 14px;"> for "<%=h params[:keywords] %>"</span><% end %></h2>

    <div class="status" id="spinner_block" style="display: none;"><%= image_tag('/images/elements/ajax-loader.gif') %></div>
    <%= render :partial => 'shared/layout_components/per_page_selector' %>
    <%= render :partial => 'collage_list' %>
  <% end %>

  <div class="spacer_block"></div>
</div>
