<% if ! cookies['active-layer-ids'].blank? %> 
  <style type="text/css" id="active-layer-style">
  <%= cookies['active-layer-ids'].split(',').collect{|l| ".l#{l}"}.join(',') %>{
      display: none;
    }
  </style>
<% end %>

<% cache("collage-annotable-content-#{@collage.id}") do %>
  <div class="collage-id" id="collage-<%= @collage.id %>">
    <div id="annotatable-content">
      <%= @collage.annotatable_content %>
    </div>
  </div>
<% end %>

<div id="annotation-tools">
  <h2><%= @collage.display_name %></h2>
  <h3>Layers</h3>
  <%= render :partial => 'shared/collage_meta', :object => @collage %>
  <hr />
  <h3>Hide Layers</h3>
  <div id="view-layer-list" class="layers">
  </div>
  <div class="ajax-error" id="ajax-error-<%= @collage.id %>" style="display: none;"></div>
  <div class="status" id="spinner_block" style="display: none;"><%= image_tag('/images/elements/ajax-loader.gif') %></div>
  <div id="new-annotation-form" style="display: none;"></div>
  <div id="new-annotation-start" style="display: none;"></div>
  <div id="new-annotation-end" style="display: none;"></div>
  <div id="owners" style="display: none;"><%= @collage.owners.to_json %></div>
  <div id="is_owner" style="display: none;"><%= (current_user && @collage.owner?) ? true : false %></div> 
  <div id="please-wait" style="display: none;">Please wait. . .</div>
</div>
