<div class="collage-id" id="collage-<%= @collage.id %>">
  <div id="annotatable-content">
    <%= @collage.annotatable.content %>
  </div>
</div>

<%= link_to 'Edit', edit_collage_path(@collage) %> |
<%= link_to 'Back', collages_path %>

<div id="annotation-tools">
  <% if flash[:notice] %>
    <div class="notice"><%= h flash[:notice] %></div>
  <% end %>
  <h2>Tools</h2>
  <ul>
    <li><a href="#" id="annotate-selection">Annotate</a> <a href="#" id="undo-annotation" class="undo-button">Undo</a></li>
  </ul>
  <% if RAILS_ENV == 'development' %>
    <ul id="selector_info">
      <li id="select_type"></li>
      <li id="anchor_x_path"></li>
      <li id="anchor_sibling_offset"></li>
      <li id="anchor_offset"></li>
      <li id="focus_x_path"></li>
      <li id="focus_sibling_offset"></li>
      <li id="focus_offset"></li>
    </ul>
  <% end %>
  <div class="ajax-error" id="ajax-error-<%= @collage.id %>" style="display: none;"></div>
  <div class="status" id="spinner_block" style="display: none;"><%= image_tag('/images/elements/ajax-loader.gif') %></div>
  <div id="new-annotation-form" style="display: none;"></div>
</div>
