<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'collage-logo',
  :url => collages_path,
  :right_search => 'collages/nav_search' } %>

<div id="tooltip">
Your annotation will start here. Please click another word to set the end point.
<a href="#" id="cancel-annotation">cancel</a>
</div>

<div id="collage">
	<hgroup class="description">
		<h2 class="collage-id" id="collage-<%= @collage.id %>"><%= @collage.name %></h2>
		<aside class="toolbar">
			<ul>
				<li><a href="#" class="link-share">Share</a></li>
  				<% if current_user -%>
				<li>
    				<% form_tag(spawn_copy_collage_path(@collage)) do %>
					<a class="link-copy">Copy</a>
    				<% end %>
				</li>
				<li><%= link_to "Bookmark This Collage", bookmark_item_path("item_collage"), :class => "link-bookmark bookmark-action" %></li>
  				<% end -%>
				<li><a href="#" class="link-print">Print</a></li>
			</ul>
		</aside>
		<aside class="buttons">
			<ul>
				<li class="btn-li">
					<a href="#" class="btn-a"><span>TOOLS</span></a>
					<div class="popup tools-popup">
						<ul>
							<li>
								<strong>FULL TEXT</strong>
								<a href="#" id="full_text"><strong>SHOW</strong></a>
								<div class="cl">&nbsp;</div>
							</li>
							<li>
								<strong>ANNOTATIONS</strong>
								<a href="#" id="hide_show_annotations"><strong>SHOW</strong></a>
								<div class="cl">&nbsp;</div>
							</li>
						</ul>
						<h5>LAYERS</h5>
						<ul id="layers">
   							<% @collage.layers.each do |layer| %>
							<li id="l<%= layer.id %>">
								<strong><%= layer.name %></strong>
								<a href="#" class="hide_show shown"><strong>HIDE</strong></a>
								<a href="#" class="link-o unhighlighted">HIGHLIGHT</a>
								<div class="cl">&nbsp;</div>
							</li>
   							<% end %>
						</ul>
					</div>
				</li>
				<% if current_user && @collage.users.include?(current_user) -%>
				<li class="btn-li">
					<%= link_to "EDIT", '#', :class => "btn-a", :id => "edit-show" %>
				</li>
				<% end -%>
			</ul>
		</aside>
		<div class="cl">&nbsp;</div>
	</hgroup>
	<details>
		<div class="tags">
			<ul>
   				<% @collage.tags.each do |tag| %>
				<li><%= link_to tag.name, collage_tag_path(tag.name) %></li>
   				<% end %><br />
			</ul>
		</div>
		<h5>
			<%= @collage.created_at.to_s(:simpledatetime) %> by <a href="#"><%= @collage.creators.collect { |u| u.login }.join(',') %></a> |
			<a href="#"><strong>COLLAGE STATS</strong></a>
		</h5>
		<% if @collage.description.length > 100 -%>
			<p id="description_less">
			<%= @collage.description[1..100] %>... <a href="#" class="link-more">MORE</a>
			</p>
			<p id="description_more">
			<%= @collage.description %> <a href="#" class="link-less">LESS</a>
			<% if current_user && @collage.users.include?(current_user) -%>
			<%= link_to "EDIT", edit_collage_path(@collage), :class => "edit-action" %>
			<% end -%>
			</p>
		<% else -%>
			<p>
				<%= @collage.description %>
				<% if current_user && @collage.users.include?(current_user) -%>
				<%= link_to "EDIT", edit_collage_path(@collage), :class => "edit-action" %>
				<% end -%>
			</p>
		<% end -%>
	</details>

<% if ! session[:just_born].blank?
    # This is a new collage, make sure we don't hide non-annotated text because it'll be confusing.
    session[:just_born] = nil %>
    <div class="info_block just_born">
      <h1 class="yellow_title_med">Collage created!</h1>
      You've created a new collage. We're showing all text, regardless of whether or not you had un-annotated text hidden before.
    </div>
<% end -%> 

<% 
  active_layers = []
  inactive_layers = []
  active_ids = []
  inactive_ids = []
  layer_cookies = cookies['active-layer-ids'].to_s.split(',').collect{|l| ".l#{l}"}
  @collage.layers.each do |l|
    if layer_cookies.include?(".l#{l.id}")
      active_layers << ".l#{l.id}"
      active_ids << l.id
    else
      inactive_layers << ".l#{l.id}"
      inactive_ids << l.id
    end
  end
%>

<div class="ajax-error" id="ajax-error-<%= @collage.id %>" style="display: none;"></div>
<% if ! cookies['hide-non-annotated-text'].blank? && session[:just_born].blank? %>
  <style type="text/css">
    tt{
      display: none;
    }
  </style>
<% end %>

  <style type="text/css">
    <% unless active_layers.blank? %>
      <%= active_layers.join(',') %>{
      display: none;
    }
  <% end %>
  <% unless inactive_layers.blank? %>
    <%= inactive_layers.join(',') %>{
      display: inline;
  }
  <% end %>
  </style>

	<% cache("collage-annotatable-content-#{@collage.id}") do %>
	<article>
		<%= raw @collage.annotatable_content %>
	</article>
	<% end -%>
</div>
  
 
<script type="text/javascript">
var is_owner = <%= current_user && @collage.can_edit? ? 1 : 0 %>;
</script>
<div id="annotation-form"></div>


<% if false -%>
<div id="tools">
  <% cache("collage-show-layer-controls-#{@collage.id}") do %>
    <div id="layer-tools">
      <h3><span class="print-inline">Hidden </span>Layers</h3>
      <div id="view-layer-list" class="layers">
        <% @collage.layers.each do |l| %>
          <div class="layer-control" id="layer-name-<%= l.id %>"><span class="layer-indicator" id="layer-indicator-<%= l.id %>">on</span> <span class="layer c<%= l.id % 10 %>"><%= l.name %></span><%= image_tag('elements/ajax-loader-horiz.gif', :id => "layer-spinner-#{l.id}", :class => 'layer-spinner') %></div>
        <% end %>
        <div id="toggle-unlayered-text"><span class="layer-indicator" id="unlayered-text-indicator">on</span> <span class="unlayered">unlayered text</span><%= image_tag('elements/ajax-loader-horiz.gif', :id => "unlayered-spinner", :class => 'layer-spinner') %></div>
      </div>
    </div>
  <% end %>

  <div id="please-wait" style="display: none;">Please wait. . .</div>
</div>

Removal of Lineage from Template
    <div class="lineage">
      <h3 class="collapsible lineage">▶ Lineage</h3>
      <ul class="lineage-target">
        <% @collage.ancestors.each do|anc| %>
          <li class="depth-<%= anc.depth %>"><%= link_to(anc,anc) %></li>
        <% end %>

        <% if @collage.parent %>
          <% @collage.siblings.each do |sib| %>
            <li class="depth-<%= sib.depth %>"><%= raw((@collage == sib) ? "&bull; #{h(@collage)}" : link_to(h(sib),sib)) %></li>
          <% end %>
        <% else %>
            <li class="depth-<%= @collage.depth %>">&bull; <%= @collage %></li>
        <% end %>

        <% @collage.children.each do|child| %>
          <li class="depth-<%= child.depth %>"><%= link_to(child,child) %></li>
        <% end %>
      </ul>
    </div>
Annotation Data
    <h3 class="collapsible layer-meta">▶ Layer Meta</h3>
    <%= render :partial => 'shared/collage_meta', :object => @collage %>
More Annotation Data
	<% cache("collage-annotation-print-content-#{@collage.id}") do %>
  <div class="print-block print-annotation-list">
    <h1>Annotations</h1>
    <% @collage.annotations.find(:all,:include => {:accepted_roles => {:users => []}, :layers=> []}).each do |ann| %>
      <% if ann.annotation_word_count > 0 %>
        <div class="annotation">
          <h2><%= ann.layers.map(&:name).join(',') %> #<%= ann.id %></h2>
          <% unless ann.annotation.blank? %>
            <div class="annotation"><%= Annotation.format_content(ann.annotation) %></div>
          <% end %>
          <div class="meta">
            <span class="user"><span>created by</span> <%= ann.creators && ann.creators.collect{|c| c.login}.join(',') %></span>
            <% if ann.editors %>
              <span class="user"><span>edited by</span> <%= ann.editors.collect{|c| c.login}.join(',') %></span>
            <% end %>
            <span class="datetime unixtime"><%= ann.updated_at.to_s(:long) %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
	<% end %>
<% end -%>
