<% 
  active_layers = []
  inactive_layers = []
  layer_cookies = cookies['active-layer-ids'].to_s.split(',').collect{|l| ".l#{l}"}
  @collage.layers.each do |l|
    if layer_cookies.include?(".l#{l.id}")
      active_layers << ".l#{l.id}"
    else
      inactive_layers << ".l#{l.id}"
    end
  end
%>

<div class="ajax-error" id="ajax-error-<%= @collage.id %>" style="display: none;"></div>
<div class="status" id="spinner_block" style="display: none;"><%= image_tag('/images/elements/ajax-loader.gif') %></div>
<% if ! cookies['hide-non-annotated-text'].blank? && session[:just_born].blank? %>
  <style type="text/css">
    tt{
      display: none;
    }
  </style>
<% end %>
<% 
  if ! session[:just_born].blank?
    # This is a new collage, make sure we don't hide non-annotated text because it'll be confusing.
    session[:just_born] = nil %>
    <div class="info_block just_born">
      <h1 class="yellow_title_med">Collage created!</h1>
      You've created a new collage. We're showing all text, regardless of whether or not you had un-annotated text hidden before.
    </div>
<%
  end 
%>

  <style type="text/css">
    <% unless active_layers.blank? %>
      <%= active_layers.join(',') %>{
      display: none;
    }
  <% end %>
  <% unless inactive_layers.blank? %>
    <%= inactive_layers.join(',') %>{
      display: inline;
  }
  <% end %>
  </style>

<div id="tools">
  <a id="hide" href="#">hide</a>
  <h2><%=h @collage.display_name %></h2>
  <h3>Layer Info</h3>
  <%= render :partial => 'shared/collage_meta', :object => @collage %>
  <div id="layer-tools">
    <h3>Layers</h3>
    <div id="view-layer-list" class="layers">
      <% @collage.layers.each do |l| %>
        <div class="tag-container">
          <%= check_box_tag("layer-checkbox-#{l.id}",1,(!active_layers.blank? && active_layers.include?(".l#{l.id}")) ? true : false, {:class => "layer-control", :id => "layer-checkbox-#{l.id}"}) %>
          <label for="layer-checkbox-<%= l.id %>"><span class="c<%= l.id % 10 %>" id="layer-name-<%= l.id %>"><%=h l.name %></span></label>
        </div>
      <% end %>
    </div>
    <br /><input name="hide-non-annotated-text" id="hide-non-annotated-text" type="checkbox" value="" /><label for="hide-non-annotated-text">Unlayered text</label><br/>
    <div id="layer-button">
      <%= link_to('hide', collage_path(@collage), :class => 'layer-button') %>
    </div>
  </div>
  <div id="annotation-form" style="display: none;"></div>
  <div id="new-annotation-start" style="display: none;"></div>
  <div id="new-annotation-end" style="display: none;"></div>
  <div id="owners" style="display: none;"><%=h @collage.owners.to_json %></div>
  <div id="is_owner" style="display: none;"><%= (current_user && @collage.can_edit?) ? true : false %></div> 
  <div id="please-wait" style="display: none;">Please wait. . .</div>
  <div id="annotation-start-marker" style="display: none;">
    Your annotation will start here. Please click another word to set the end point.
    <div id="cancel-annotation"><a href="#">cancel</a></div>
  </div>
  <hr class="print-block" />
</div>

<% cache("collage-annotatable-content-#{@collage.id}") do %>
  <div class="collage-id" id="collage-<%= @collage.id %>">
    <div id="annotatable-content">
      <%= @collage.annotatable_content %>
    </div>
  </div>
<% end %>

