<% if ! cookies['active-layer-ids'].blank? %> 
  <style type="text/css">
    <% 
      active_layers = []
      inactive_layers = []
      layer_cookies = cookies['active-layer-ids'].split(',').collect{|l| ".l#{l}"}
      @collage.layers.each do |l|
        if layer_cookies.include?(".l#{l.id}")
          active_layers << ".l#{l.id}"
        else
          inactive_layers << ".l#{l.id}"
        end
      end
    %>
    <% unless active_layers.blank? %>
      <%= active_layers.join(',') %>{
      display: none;
    }
  <% end %>
  <% unless inactive_layers.blank? %>
    <%= inactive_layers.join(',') %>{
      display: inline;
  }
  <% end %>
  </style>
<% end %>

<% cache("collage-annotatable-content-#{@collage.id}") do %>
  <div class="collage-id" id="collage-<%= @collage.id %>">
    <div id="annotatable-content">
      <%= @collage.annotatable_content %>
    </div>
  </div>
<% end %>

<div id="annotation-tools">
  <h2><%= @collage.display_name %></h2>
  <h3>Layers</h3>
  <%= render :partial => 'shared/collage_meta', :object => @collage %>
  <h3>Hide Layers</h3>
  <div id="view-layer-list" class="layers">
    <% @collage.layers.each do |l| %>
      <%= check_box_tag("layer-checkbox-#{l.id}",1,active_layers.include?(".l#{l.id}"), {:class => "layer-control", :id => "layer-checkbox-#{l.id}"}) %>
      <label for="layer-checkbox-<%= l.id %>"><span class="c<%= l.id %>" id=""><%= l.name %></span></label>
    <% end %>
  </div>
  <div id="layer-button">
    <%= link_to('apply', collage_path(@collage), :class => 'layer-button') %>
  </div>
  <div class="ajax-error" id="ajax-error-<%= @collage.id %>" style="display: none;"></div>
  <div class="status" id="spinner_block" style="display: none;"><%= image_tag('/images/elements/ajax-loader.gif') %></div>
  <div id="annotation-form" style="display: none;"></div>
  <div id="new-annotation-start" style="display: none;"></div>
  <div id="new-annotation-end" style="display: none;"></div>
  <div id="owners" style="display: none;"><%= @collage.owners.to_json %></div>
  <div id="is_owner" style="display: none;"><%= (current_user && @collage.owner?) ? true : false %></div> 
  <div id="please-wait" style="display: none;">Please wait. . .</div>
</div>
