<form action="<%= export_unique_collage_path(@collage) %>" target="_blank" method="POST" id="collage_print">
<input type="hidden" id="state" name="state" value="" />
</form>
<div id="fixed_links">
<a href="#" class="fixed_link left-tooltip" id="collapse_toggle" title="Collage Info">Collapse/Expand</a>
<% if @collage.annotator_version == 1 -%>
<a href="#" class="fixed_link requires_edit left-tooltip" id="edit_toggle" title="Edit/Read">Edit/View</a>
<% end -%>
<a href="#" class="fixed_link left-tooltip" id="fixed_print" title="Print <%= @collage.name %>">Print</a>
<a href="#" class="fixed_link left-tooltip btn-a dont_hide" id="fixed_font" title="Change the size of the text">Font Settings</a>
</div>

<aside id="singleitem_barcode_toolbar">
  <%= render :partial => "shared/barcode", :locals => { :object => @collage } %>
  <% if @collage.heatmap_active -%>
  <a href="#" id="heatmap_toggle" title="Show Heatmap" class="link-heatmap tooltip"><span class="icon icon-heatmap"><span>Show/Hide Heatmap</span></span></a>
  <% else -%>
  <a href="#" id="heatmap_toggle" title="Heatmap capabilities are temporarily disabled because this collage has multiple annotator versions." class="link-heatmap tooltip inactive"><span class="icon icon-heatmap"><span>Show/Hide Heatmap</span></span></a>
  <% end -%>
  <a href="<%= copy_collage_path(@collage) %>" class="tooltip remix-action requires_logged_in" id="copy-collage" title="Remix <%= @collage.name %>" data-type="collage" data-title="<%= @collage.name %>">
    <span class="icon icon-remix-large"><span>Remix Collage</span></span>
  </a>
  <%= link_to raw('<span class="icon icon-add-large"><span>Add To Playlist</span></span>'), '#', "data-item_id" => @collage.id, "data-type" => "collage", :class => 'link-add tooltip requires_logged_in', :title => "Add to a Playlist" %>
  <%= link_to raw('<span class="icon icon-favorite-large"><span>Bookmark Collage</span></span>'), '#', :class => "bookmark-action tooltip requires_logged_in", :title => "Bookmark #{@collage.name}", "data-type" => "collage", "data-itemid" => @collage.id %>
</aside>

<div id="collage<%= @collage.id %>" class="singleitem" data-itemid="<%= @collage.id %>" data-annotator_version="<%= @collage.annotator_version %>">
  <div id="main_details">
    <h1 class="scale1-5"><%= @collage.name %></h1>
    <h3 class="scale1-5 <%= @collage.root != @collage ? 'with_creators' : '' %>">
      <% if @collage.root != @collage -%>
      <span class="creator_details">
        <span>Original Creator: </span><%= link_to(@collage.root.user.display, user_path(@collage.root.user)) %>
      </span>
      <span class="creator_details">
        <span>Current Version: </span><%= link_to(@collage.user.display, user_path(@collage.user), :id => "author-link", "data-author_id" => @collage.user.id) %>
      </span>
      <% else -%>
      <span>by </span><%= link_to(@collage.user.display, user_path(@collage.user), :id => "author-link", "data-author_id" => @collage.user.id) %>
      <% end -%>
    </h3>
    <aside id="buttons">
      <a href="#" class="btn-a afterload dont_hide" id="text-layer-tools">SHOW/HIDE</a>
      <div class="popup text-layers-popup">
        <h5 class="first">TEXT</h5>
        <ul>
          <li>
            <a href="#" class="tooltip" title="Show the entire text of <%= @collage.name %>" id="full_text">SHOW FULL TEXT</a>
          </li>
          <li id="show_unlayered">
            <a href="#" class="tooltip" title="Show All Unlayered">SHOW ALL UNLAYERED</a>
          </li>
          <li id="hide_unlayered">
            <a href="#" class="tooltip"  title="Hide All Unlayered">HIDE ALL UNLAYERED</a>
          </li>
        </ul>
        <ul id="layers">
           <% @collage.layers.each do |layer| %>
          <li data-id="l<%= layer.id %>" data-name="<%= layer.name %>" data-hex="<%= @color_map["l#{layer.id}"] ? @color_map["l#{layer.id}"] : cycle('ffcc00', '99ccff', '99cc33', 'ff9999', 'b2c1d0', 'ff9933', 'cc99cc') %>">
            <a href="#" class="l<%= layer.id %> hide_show shown tooltip" title="Hide the <%= layer.name %> layer" >HIDE "<%= layer.name %>"</a>
          </li>
           <% end -%>
        </ul>

        <ul>
          <li><a href="#" class="tooltip" title="Show <%= @collage.user.login %>'s version of the collage" id="author_edits">SHOW <%= @collage.user.simple_display %>'S TEXT EDITS</a></li>
        </ul>

        <% if @collage.annotator_version == 1 -%>
        <h5>ANNOTATIONS</h5>
        <ul>
          <li id="show_annotations">
            <a href="#" title="View all annotations" class="tooltip" <%= raw 'class="inactive"' if @collage.annotations.inject(0) { |s, a| s + a.annotation_word_count.to_i } == 0 %>>SHOW ALL ANNOTATIONS</a>
          </li>
          <li id="hide_annotations">
            <a href="#" title="Hide all annotations" class="tooltip" <%= raw 'class="inactive"' if @collage.annotations.inject(0) { |s, a| s + a.annotation_word_count.to_i } == 0 %>>CONTRACT ALL ANNOTATIONS</a>
          </li>
          <li id="annotations_na">
          N/A
          </li>
        </ul>
        <% end -%>

        <h5>HIGHLIGHTS</h5>
        <ul id="layers_highlights">
           <% @collage.layers.each do |layer| %>
          <li data-id="l<%= layer.id %>" data-name="<%= layer.name %>" data-hex="<%= @color_map["l#{layer.id}"] ? @color_map["l#{layer.id}"] : cycle('ffcc00', '99ccff', '99cc33', 'ff9999', 'b2c1d0', 'ff9933', 'cc99cc') %>">
            <a href="#" title="Highlight the <%= layer.name %> Layer" class="l<%= layer.id %> tooltip link-o">HIGHLIGHT "<%= layer.name %>" <span class="indicator" style="background-color:#<%= @color_map["l#{layer.id}"] ? @color_map["l#{layer.id}"] : cycle('ffcc00', '99ccff', '99cc33', 'ff9999', 'b2c1d0', 'ff9933',     'cc99cc') %>"></span></a>
          </li>
           <% end -%>
        </ul>

        <% if @collage.annotations.detect { |a| a.cloned == true } %>
        <h5 id="inherited_h">ACTIONS</h5>
        <span id="inherited_span" class="requires_edit">
          <a href="#" id="delete_inherited_annotations" class="tooltip" title="Delete Inherited Layers and Annotations from remix">DELETE INHERITED LAYERS</a>
        </span>
        <% end -%>
      </div>
    </aside>
    <div class="clear"></div>
  </div>
  <div id="description" class="scale1-1">
    <%= Collage.format_content(@collage.description) %>
    <%= link_to raw('<span class="icon icon-edit"></span>EDIT COLLAGE INFORMATION<span class="icon icon-arrow"></span>'), edit_collage_path(@collage), :class => "edit-action requires_edit collage_edit scale0-8" %>
    <%= link_to raw('<span class="icon icon-delete"></span>DELETE COLLAGE<span class="icon icon-arrow"></span>'), @collage, "data-type" => "collage", "data-id" => @collage.id, :class => "delete-action requires_edit scale0-8" %>
    <% if @collage.annotator_version == 1 %>
    <%= link_to raw('<span class="icon icon-upgrade"></span>UPGRADE COLLAGE<span class="icon icon-arrow"></span>'), @collage, "data-type" => "collage", "data-id" => @collage.id, :class => "upgrade-action requires_edit scale0-8" %>
    <% end -%>
  </div>

  <div class="ajax-error" id="ajax-error-<%= @collage.id %>" style="display: none;"></div>
  <div class="article">
  <% if @collage.annotator_version == 1 %>
    <% cache("collage-#{@collage.id}-editable-content") do %>
    <%= raw @collage.editable_content %>
    <% end -%>
  <% else -%>
    <% cache("collage-#{@collage.id}-editable-content-v2") do %>
    <%= raw @collage.editable_content_v2 %>
    <% end -%>
  <% end -%>
  </div>
</div>

<div id="stats" class="right_panel">
  <a href="#" class="right_panel_close">Close</a>
  <h3 class="info">Collage Information<span class="icon icon-panel"></span></h3>
  <div class="stats_panel">
    <%= render :partial => 'meta' %>
  </div>
  <h3>Author Stats</h3>
  <%= render :partial => "shared/author_stats", :locals => { :user => @collage.user } %>
  <% if false -%>
  <h3>Related Collages</h3>
  <% end -%>
</div>
<div id="edit_item" class="requires_edit right_panel">
  <a href="#" class="right_panel_close"></a>
  <table class="tabs" width="100%"><tr>
    <td width="50%">
      <a id="new_annotation" class="current tooltip" href="#" title='To create a layer (to show or hide a portion of text) and/or to create an annotation, click the word at the beginning and the word at the end of text that you would like to edit. Then create or select a layer, pick a color to highlight, and/or add your annotation in this right panel. Click "Save" to submit your edit.'>Edit</a>
    </td>
    <td>
      <a id="new_link" href="#" title='To create a link to another collage in H2O, click at the beginning and end of text that you would like to link, search for a collage to link to, and click "Select" to assign the link.' class="tooltip">Link</a>
    </td>
  </tr></table>
  <div id="annotation_edit" class="tab_panel new_annotation">
      <div class="dynamic"></div>
    </p>
  </div>
  <div id="link_edit" class="tab_panel new_link" style="display:none;">
    <div id="search_wrapper_outer">
      <a id="link_search" href="#">SEARCH</a>
	    <div id="search_wrapper">
      <%= text_field_tag :keywords, params[:keywords], :id => "collage-keyword-search" %>
	    </div>
    </div>
    <div id="linking_error">
    You may not create overlapping links.
    </div>
    <div class="dynamic"></div>
  </div>
</div>

<div class="clear"></div>
  
<script type="text/javascript">
var editability_path = "<%= access_level_collage_path(@collage) %>"; 
var original_data = <%= raw @collage.readable_state || '{}' %>;
var annotations = <%= raw @collage.annotations.inject({}) { |h, a| h["a#{a.id}"] =  a.to_json(:include => :layers); h }.to_json %>;
<% if @collage.annotator_version == 1 -%>
var collage_links = <%= raw @collage.collage_links.inject({}) { |h, a| h["c#{a.id}"] =  a; h }.to_json %>;
<% end -%>
var linked_collages = <%= raw @collage.annotations.select { |a| a.linked_collage_id.present? }.inject({}) { |h, a| h["c#{a.linked_collage_id}"] = a.linked_collage.name; h }.to_json %>; 
var color_list = <%= raw Collage.color_list.to_json %>;
var layer_color_map = <%= raw @color_map.to_json %>;
var layer_data = <%= raw @collage.layer_data.to_json %>;
var heatmap = <%= raw @collage.heatmap.to_json %>;
</script>
