<div class="collage-id" id="collage-<%= @collage.id %>">
  <div id="annotatable-content">
    <%= @collage.annotatable.content %>
  </div>
</div>

<%= link_to 'Edit', edit_collage_path(@collage) %> |
<%= link_to 'Back', collages_path %>

<div id="annotation-tools">
  <ul>
    <li><a href="#" id="annotate">Annotate</a></li>
    <li><a href="#" id="excerpt-selection">Excerpt text selection</a></li>
  </ul>
  <div class="ajax-error" id="ajax-error-<%= @collage.id %>" style="display: none;"></div>
  <div class="status" id="spinner_block" style="display: none;"><%= image_tag('/images/elements/ajax-loader.gif') %></div>
</div>
