<% 
  active_layers = []
  inactive_layers = []
  active_ids = []
  inactive_ids = []
  layer_cookies = cookies['active-layer-ids'].to_s.split(',').collect{|l| ".l#{l}"}
  @collage.layers.each do |l|
    if layer_cookies.include?(".l#{l.id}")
      active_layers << ".l#{l.id}"
      active_ids << l.id
    else
      inactive_layers << ".l#{l.id}"
      inactive_ids << l.id
    end
  end
%>

<div class="ajax-error" id="ajax-error-<%= @collage.id %>" style="display: none;"></div>
<% if ! cookies['hide-non-annotated-text'].blank? && session[:just_born].blank? %>
  <style type="text/css">
    tt{
      display: none;
    }
  </style>
<% end %>
<% 
  if ! session[:just_born].blank?
    # This is a new collage, make sure we don't hide non-annotated text because it'll be confusing.
    session[:just_born] = nil %>
    <div class="info_block just_born">
      <h1 class="yellow_title_med">Collage created!</h1>
      You've created a new collage. We're showing all text, regardless of whether or not you had un-annotated text hidden before.
    </div>
<%
  end 
%>

  <style type="text/css">
    <% unless active_layers.blank? %>
      <%= active_layers.join(',') %>{
      display: none;
    }
  <% end %>
  <% unless inactive_layers.blank? %>
    <%= inactive_layers.join(',') %>{
      display: inline;
  }
  <% end %>
  </style>

<div id="tools">
  <a id="hide" href="#">hide</a>
  <h2><%=h @collage.display_name %></h2>
  <% unless current_user.blank? %>
    <% form_tag(spawn_copy_collage_path(@collage)) do %>
      <%= submit_tag('Copy this collage', :class => 'button') %>
    <% end %>
  <% end %>

  <% cache("collage-show-layer-controls-#{@collage.id}") do %>
    <div class="lineage">
      <h3>Lineage</h3>
      <ul class="lineage">
        <% @collage.ancestors.each do|anc| %>
          <li class="depth-<%= anc.depth %>"><%= link_to(anc,anc) %></li>
        <% end %>

        <% if @collage.parent %>
          <% @collage.siblings.each do |sib| %>
            <li class="depth-<%= sib.depth %>"><%= (@collage == sib) ? "&bull; #{@collage}" : link_to(sib,sib) %></li>
          <% end %>
        <% else %>
            <li class="depth-<%= @collage.depth %>"><%= "&bull; #{@collage}" %></li>
        <% end %>

        <% @collage.children.each do|child| %>
          <li class="depth-<%= child.depth %>"><%= link_to(child,child) %></li>
        <% end %>
      </ul>
    </div>
    <h3>Layer Info</h3>

    <%= render :partial => 'shared/collage_meta', :object => @collage %>
    <div id="layer-tools">
      <h3><span class="print-inline">Hidden </span>Layers</h3>
      <div id="view-layer-list" class="layers">
        <% @collage.layers.each do |l| %>
          <div class="tag-container">
            <%= check_box_tag("layer-checkbox-#{l.id}",1,nil, {:class => "layer-control", :id => "layer-checkbox-#{l.id}"}) %>
            <label for="layer-checkbox-<%= l.id %>"><span class="c<%= l.id % 10 %>" id="layer-name-<%= l.id %>"><%=h l.name %></span></label>
          </div>
        <% end %>
      </div>
      <br /><input name="hide-non-annotated-text" id="hide-non-annotated-text" type="checkbox" value="" /><label for="hide-non-annotated-text">Unlayered text</label><br/>
      <div id="layer-button">
        <%= link_to('hide', collage_path(@collage), :class => 'layer-button') %>
      </div>
    </div>
  <% end %>

  <% unless active_ids.blank? 
  active_ids_for_jquery = active_ids.map{|aid| "#layer-checkbox-" + aid.to_s}.join(',')
%>
    <%= javascript_tag %Q|
  jQuery(document).ready(function(){
    jQuery('#{active_ids_for_jquery}').attr('checked',true);
  });
    | %>
  <% end %>

  <div id="annotation-form" style="display: none;"></div>
  <div id="new-annotation-start" style="display: none;"></div>
  <div id="new-annotation-end" style="display: none;"></div>
  <div id="is_owner" style="display: none;"><%= (current_user && @collage.can_edit?) ? true : false %></div> 
  <div id="please-wait" style="display: none;">Please wait. . .</div>
  <div id="annotation-start-marker" style="display: none;">
    Your annotation will start here. Please click another word to set the end point.
    <div id="cancel-annotation"><a href="#">cancel</a></div>
  </div>
  <hr class="print-block" />
</div>

<% cache("collage-annotatable-content-#{@collage.id}") do %>
  <div class="collage-id" id="collage-<%= @collage.id %>">
    <div id="annotatable-content">
      <%= @collage.annotatable_content %>
    </div>
  </div>
<% end %>

<hr class="print-block" />

<% cache("collage-annotation-print-content-#{@collage.id}") do %>
  <div class="print-block">
    <h1>Annotations</h1>
    <% @collage.annotations.each do |ann| %>
      <div class="annotation">
        <h2><%=h ann.layer_list.join(',') %> #<%= ann.id %></h2>
        <% unless ann.annotation.blank? %>
          <div class="annotation"><%= Annotation.format_content(ann.annotation) %></div>
        <% end %>
        <div class="meta">
          <span class="user"><span>created by</span> <%= ann.creators && ann.creators.collect{|c| c.login}.join(',') %></span>
          <% if ann.editors %>
            <span class="user"><span>edited by</span> <%= ann.editors.collect{|c| c.login}.join(',') %></span>
          <% end %>
          <span class="datetime unixtime"><%= ann.updated_at.to_s(:long) %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
