<p id="quick_collage_instruction">Create a collage by selecting one of the cases or texts below, or remix from an existing collage.</p>
<section id="results" class="multiitems">
  <div class="left">
    <input id="quick_collage_keyword" value="" />
    <a href="#" id="quick_collage_search" class="button">SEARCH</a>
  </div>
  <aside class="sort">
    <%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[:all] } %> 
  </aside>
  <div class="search_details">
    <% if params[:keywords] -%>
    <h1>
    Search Results: <b><%= params[:keywords] %></b>
    </h1>
    <% end -%>
    <%= pluralize @results.total, "Result" %>
    <aside class="pagination" id="collage_pagination">
    <%= will_paginate @results.hits, :container => false, :previous_label => '', :next_label => '', :params => { :ajax => 1 } %>
    </aside>
  </div>
  <ul id="results_set">
    <% @results.results.each do |hit| -%>
		<%= render :partial => "shared/objects/#{hit.class == Case ? 'case_obj' : hit.class.to_s.downcase}",
               :locals => { (hit.class == Case ? :case_obj : hit.class.to_s.downcase.to_sym) => hit } %>
    <% end %>
  </ul>
</section>
