<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'homepage-logo',
  :url => "/",
  :right_search => 'shared/search_all' } %>

<div id="home_nav">
	<div class="panel" id="questions">
        <%= link_to '', question_instances_path, :class => "icon_nav" %>
        <%= link_to 'Question Tool', question_instances_path %>
        <p>A backchannel for live lecture feedback and questions.</p>
		<%= link_to 'Create a Forum', new_question_instance_path, :class => "button" %>
	</div>
	<div class="panel" id="rotisserie">
        <%= link_to '', rotisserie_instances_path, :class => "icon_nav" %>
        <%= link_to 'Rotisserie', rotisserie_instances_path %>
		<p>A structured forum for online discussion of class cocntent that encourages class members
		to interact with other students' ideas.</p>
		<%= link_to 'Start a Discussion', new_rotisserie_discussion_path, :class => "button" %>
	</div>
	<div class="panel" id="collage">
        <%= link_to '', item_collages_path, :class => "icon_nav" %>
		<%= link_to 'Collage', collages_path %>
		<p>A tool built with the goal of creating an entirely online law school casebook by allowing
		a seed document to be annotated with various layers and notes.</p>
		<%= link_to 'Start a Collage', new_collage_path, :class => "button new-action" %>
		<%= link_to 'Find/Create a Collage', collages_path, :class => "button" %>
	</div>
	<div class="panel last" id="playlist">
        <%= link_to '', playlists_path, {:id => "playlists", :class => "icon_nav"} %>
		<%= link_to 'Playlists', playlists_path %>
		<p>A platform for collections of online content that are easily shared and remixed, and are
		ideal for use as an online course syllabus.</p>
		<%= link_to 'Build a Playlist', new_playlist_path, :class => "button new-action" %>
	</div>
	<div class="cl"></div>
</div>

<div id="activity_panel">
  <h3>H20 Panel</h3>
  <ul>
    <li><%= @counts[:cases] %> <%= link_to "cases", cases_path %></li>
    <li><%= @counts[:questions] %> <%= link_to "questions", question_instances_path %></li>
    <li><%= @counts[:text_blocks] %> text blocks</li>
    <li><%= @counts[:rotisseries] %> <%= link_to "rotisseries", rotisserie_instances_path %></li>
    <li><%= @counts[:collages] %> <%= link_to "collages", collages_path %></li>
    <li><%= @counts[:taggings] %> taggings</li>
    <li><%= @counts[:annotation] %> case annotations</li>
  </ul>
  <div class="cl"></div>
</div>
<div id="activity_border"></div>
<div id="empty_panel"></div>
<div class="cl"></div>
<div id="activity_bottom"></div>
