<div id="home_index">   
	<div class="welcome" id="welcome1">
	  <div class="inner_wrapper">
	    <div class="row">
	      <div class="col-xs-12 paneltop" id="maintext1">
	        <h1>Welcome to H2O</h1>
	        <div class="col-xs-12">
	          <p>H2O is a free platform for creating, sharing and adapting open course materials.</p>
	          <a id="get_started" href="/users/new" class="afterload"> <div class="btn btn-default browsebtn">Get Started</div></a>
	          <a href="#" id="base_dashboard" class="requires_logged_in"> <div class="btn btn-default browsebtn">View Dashboard</div></a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
  <div class="welcome" id="welcome2">
    <div class="inner_wrapper">
        <div class="col-sm-12 paneltop"><h1>Develop Course Materials</h1></div>
        <div class="col-sm-12 coltxt">
          <p>Use playlists to make an online syllabus or casebook, and use collages to highlight, edit and annotate cases.</p>
        </div>
        <div class="col-sm-6 colimg col-playlists">
          <a href="/playlists?featured=true"><div class="btn btn-default browsebtn"><!--<img src="images/plisticon_blue.png">-->Browse Playlists</div></a>
          <%= image_tag 'homepage_playlist.png', :class => 'img-responsive' %>
        </div>
        <div class="col-sm-6 colimg col-collages">
          <a href="/collages?featured=true"><div class="btn btn-default browsebtn">Browse Collages</div></a>
          <%= image_tag 'homepage_collage.png', :class => 'img-responsive' %>
        </div>
        <div class="clear"></div>
    </div>
  </div> 
  <div class="welcome" id="welcome3">
    <div class="inner_wrapper">
      <div class="col-sm-12 paneltop"><h1>Share and Adapt Content</h1></div>
      <div class="col-xs-4 colimg" style="text-align: right">
        <%= image_tag 'homepage_add.png', :class => 'img-responsive' %></div>
        <div class="col-xs-4 colimg">
          <%= image_tag 'homepage_bookmark.png', :class => 'img-responsive' %>
        </div>
        <div class="col-xs-4 colimg" style="text-align: left">
        <%= image_tag 'homepage_remix.png', :class => 'img-responsive' %>
      </div>
      <div class="clear"></div>
      <div class="col-sm-12">
        <p>All the content on H2O is licensed for sharing and adaptation under a Creative Commons license <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(CC BY-NC-SA 3.0)</a>. You can remix content created by other H2O users, and they will be able to do the same with any materials you add.</p>
      </div>
    </div>
  </div>
  <div class="welcome" id="welcome4">
    <div class="inner_wrapper">
      <div class="col-sm-12 paneltop"><h1>Join the H2O Community</h1></div>
      <div class="col-sm-12 coltxt">
        <p>Join faculty users like <a href="http://www.law.harvard.edu/faculty/directory/10992/Zittrain">Jonathan Zittrain</a> and <a href="http://www.law.harvard.edu/faculty/directory/10176/Cohen">I. Glenn Cohen</a> of Harvard Law School, <a href="https://www.law.stanford.edu/profile/pamela-s-karlan">Pam Karlan</a> of Stanford Law School, and many others.</p>
        <a href="/users/new" id="sign_up"><div class="btn btn-default browsebtn">Sign Up</div></a>
      </div>
    </div>
  </div>
</div>
