<div id="home_index">
	<div class="panel" id="description">
    <h1>Welcome to H2O, a suite of online classroom tools</h2>
    <h2>Develop, remix, and share online textbooks, casebooks, and modules filled with edited cases, texts, audio, images, videos, and PDFs under a <a href="/p/terms">Creative Commons license</a>.</h2>
    <div id="links">
      <% if current_user -%>
      <%= link_to "DASHBOARD", user_path(current_user), :class => "button" %>
      <% else -%>
      <a href="/users/new" class="button">GET STARTED</a>
      <% end -%>
      <a href="/p/about" class="button">ABOUT</a>
      <a href="http://h2odev.law.harvard.edu/blog/" class="button">BLOG</a>
      <a href="/p/terms" class="button">TERMS</a>
      <a href="/p/contact_us" class="button">CONTACT</a>
    </div>
  </div>
  <div class="panel featured_panel" id="featured_playlists">
    <h3><%= link_to "Playlists", playlists_path %></h3>
    <%= render :partial => "partial_results/playlists" %>
  </div>
  <div class="panel featured_panel" id="featured_users">
    <h3>Users<span></span></h3>
    <%= render :partial => "partial_results/users" %>
  </div>
	<div class="clear"></div>
  <div class="panel featured_panel" id="featured_collages">
    <h3><%= link_to 'Collages', collages_path %></h3>
    <%= render :partial => "partial_results/generic", :locals => { :klass => Collage } %>
  </div>
  <div class="panel featured_panel" id="featured_medias">
    <h3><%= link_to 'Media Items', medias_path %></h3>
    <%= render :partial => "partial_results/generic", :locals => { :klass => Media } %>
  </div>
  <div class="panel featured_panel" id="featured_texts">
    <h3><%= link_to 'Texts', text_blocks_path %></h3>
    <%= render :partial => "partial_results/generic", :locals => { :klass => TextBlock } %>
  </div>
  <div class="panel featured_panel" id="featured_cases">
    <h3><%= link_to 'Cases', cases_path %></h3>
    <%= render :partial => "partial_results/generic", :locals => { :klass => Case } %>
  </div>
	<div class="clear"></div>
</div>

<%= render :partial => "shared/popup", :locals => { :type => "playlist" } %>
