<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'homepage-logo',
  :url => "/",
  :right_search => 'shared/search_all' } %>

<div id="home_nav">
	<div class="panel" id="collage">
        <%= link_to '', collages_path, :class => "icon_nav" %>
		<%= link_to 'Collage', collages_path %>
		<p>A tool built with the goal of creating an entirely online law school casebook by allowing
		a seed document to be annotated with various layers and notes.</p>
    <% if false && current_user -%>
		<%= link_to 'Start a Collage', new_collage_path, :class => "button new-action" %>
    <% end -%>
		<%= link_to 'Find/Create a Collage', collages_path, :class => "button" %>
	</div>
	<div class="panel" id="playlist">
    <%= link_to '', playlists_path, {:id => "playlists", :class => "icon_nav"} %>
		<%= link_to 'Playlists', playlists_path %>
		<p>A platform for collections of online content that are easily shared and remixed, and are
		ideal for use as an online course syllabus.</p>
		<%= link_to 'Build a Playlist', new_playlist_path, :class => "button new-action" %>
	</div>
	<div class="panel last" id="highlighted_playlist">
    <%= link_to '', playlists_path, {:id => "highlighted_playlists", :class => "icon_nav"} %>
		<%= link_to 'Highlighted Playlists', playlists_path %>
    <p>A selection of playlists spanning intellectual domains.</p>
    <% @highlighted_playlists.each do |p| -%>
      <%= link_to p.name, playlist_url(p), :class => "button" %><br />
    <% end -%>
	</div>
	<div class="cl"></div>
</div>
