<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'homepage-logo',
  :url => "/",
  :right_search => 'shared/search_all' } %>
	
<section id="breadcrumbs">
	<aside class="filter">
		<p>
		<% if params[:keywords] -%>
		Results for:
		<%= params[:keywords] %> (<%= pluralize @playlists.total, 'Playlist' %>,
		<%= pluralize @collages.total, 'Collage' %>,
		<%= pluralize @cases.total, 'Case' %>)
		<%= link_to "CLEAR SEARCH", search_all_path %>
		<% else -%>
		All materials:
		(<%= pluralize @playlists.total, 'Playlist' %>,
		<%= pluralize @collages.total, 'Collage' %>,
		<%= pluralize @cases.total, 'Case' %>)
		<% end -%>
		</p>
	</aside>
	<aside class="pagination">
		<div id="all_playlists_pagination" data-type="playlists">
		<%= will_paginate @playlists.hits, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
		<div id="all_collages_pagination" style="display:none;" data-type="collages">
		<%= will_paginate @collages.hits, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
		<div id="all_cases_pagination" style="display:none;" data-type="cases">
		<%= will_paginate @cases.hits, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
	</aside>
	<div class="cl"></div>
</section>

<section id="results">
	<hgroup id="playlists_hgroup">
		<ul class="tabs">
			<li><a href="#" class="active" data-region="all_playlists">PLAYLISTS</a></li>
			<li><a href="#" data-region="all_collages">COLLAGES</a></li>
			<li><a href="#" data-region="all_cases">CASES</a></li>
		</ul>
		<aside class="sort">
			<div id="all_playlists_sort" data-type="playlists">
				<%= render :partial => 'shared/sort', :locals => { :list => @generic_sort_list } %>
			</div>
			<div id="all_collages_sort" style="display:none;" data-type="collages">
				<%= render :partial => 'shared/sort', :locals => { :list => @generic_sort_list } %>
			</div>
			<div id="all_cases_sort" style="display:none;" data-type="cases">
				<%= render :partial => 'shared/sort', :locals => { :list => @case_sort_list } %>
			</div>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<article class="songs">
	<ul id="all_playlists">
		<%= render :partial => 'shared/objects/playlist', :collection => @playlists.results %>
	</ul>
	<ul id="all_collages" style="display:none;">
		<%= render :partial => 'shared/objects/collage', :collection => @collages.results %>
	</ul>
	<ul id="all_cases" style="display:none;">
		<%= render :partial => 'shared/objects/case_obj', :collection => @cases.results %>
	</ul>
	</article>
</section>

<%= render :partial => "shared/popup", :locals => { :type => "collage" } %>
