<section id="results" class="multiitems">
  <aside class="sort">
    <%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[:all] } %> 
  </aside>
  <div class="search_details">
    <% if params[:keywords] -%>
    <h1>
    Search Results: <b><%= params[:keywords] %></b>
    </h1>
    <% end -%>
    <%= pluralize @results.total, "Result" %>
    <aside class="pagination standard_pagination">
    <%= will_paginate @results.hits, :container => false, :previous_label => '', :next_label => '' %>
    </aside>
  </div>
  <ul id="results_set">
    <% @results.results.each do |hit| -%>
		<%= render :partial => "shared/objects/#{hit.class == Case ? 'case_obj' : hit.class.to_s.downcase}",
               :locals => { (hit.class == Case ? :case_obj : hit.class.to_s.downcase.to_sym) => hit } %>
    <% end %>
  </ul>
</section>

<%= render :partial => "shared/popup", :locals => { :type => "collage" } %>
