<div id="new-annotation-error" style="display:none;" class="error"></div>
<% unless request.xhr? %>
  <h1><%= (@annotation.new_record?) ? 'Add' : 'Edit' %> Annotation</h1>
<% end %>
<% semantic_form_for @annotation do |form| %>
  <% form.inputs do %>
    <% [:collage_id, :annotation_start, :annotation_end].each do |col| %>
      <%= form.input col, :as => :hidden %>
    <% end %>
    <% if false && @annotation.new_record? -%>
    <li id="text_layer">
      <h5>TEXT</h5>
      <%= params[:text] %>
    </li>
    <% end -%>
    <li id="new_layers">
      <a href="#" id="add_new_layer">+ ADD NEW LAYER</a>
    </li>
    <li id="layer_header"><h5 id="layer_appear">LAYER COLOR</h5></li>
    <% @annotation.collage.layers.each do |l| %>
    <li class="layer_check">
      <input type="checkbox" name="existing_layer_list[]" <%= raw checked="checked" if @annotation.layers.include?(l) %> value="<%= l.name %>" />
      <label data-value="<%= @color_map[l.name] ? @color_map[l.name] : cycle('ffcc00', '99ccff', '99cc33', 'ff9999', 'b2c1d0', 'ff9933', 'cc99cc') %>" style="background-color:#<%= @color_map[l.name] ? @color_map[l.name] : cycle('ffcc00', '99ccff', '99cc33', 'ff9999', 'b2c1d0', 'ff9933', 'cc99cc') %>"><%= l.name %></label>
    </li>
    <% end %>
    <%= form.input :annotation,
      :as => :text,
      :input_html => {:size => '60x10'},
      :required => false
    %>
  <% end %>
  <input type="submit" name="submit" class="button" id="annotation_submit" value="SAVE" />
  <% if @annotation.new_record? -%>
  <a class="mod_button" href="#" id="cancel_new_annotation">CANCEL</a>
  <% else -%>
  <a class="mod_button" href="#" data-id="<%= @annotation.id %>" id="delete_annotation">DELETE</a>
  <% end -%>
<% end %>
