  <div id="new-annotation-error" style="display:none;" class="error"></div>
  <% unless request.xhr? %>
    <h1><%= (@annotation.new_record?) ? 'Add' : 'Edit' %> Annotation</h1>
  <% end %>
      <div id="preview-container">
        <h3>Preview</h3>
        <div id="annotation_preview"><%= (@annotation.new_record?) ? '' : Annotation.format_annotation(@annotation.annotation) %></div> 
      </div>
  <% semantic_form_for @annotation do |form| %>
    <% form.inputs do %>
      <% [:collage_id, :annotation_start, :annotation_end].each do |col| %>
        <%= form.input col, :as => :hidden %>
      <% end %>
      <%= form.input :annotation,
        :as => :text,
        :input_html => {:size => '60x10'},
        :hint => 'You can use markdown in the annotation. ' + link_to('docs', 'http://redcloth.org/textile', :target => '_blank'),
        :label => 'Annotation<br/>',
        :required => false
      %>
      <%= form.input :layer_list,
        :as => :string,
        :hint => 'Please define the layers this annotation belongs to in a comma-separated list.',
        :label => 'Layer',
        :input_html => {:class => 'tagging-autofill-layers'}
      %>
    <% end %>
    <% unless request.xhr? %>
      <% form.buttons do %>
        <%= form.commit_button 'Save' %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= javascript_tag(%Q|jQuery(document).ready(function() {
  jQuery("#annotation_annotation").markItUp(mySettings);
});|) %>
