<div id="new-annotation-error" style="display:none;" class="error"></div>
<% unless request.xhr? %>
  <h1><%= (@annotation.new_record?) ? 'Add' : 'Edit' %> Annotation</h1>
<% end %>
<% semantic_form_for @annotation do |form| %>
  <% form.inputs do %>
    <% [:collage_id, :annotation_start, :annotation_end].each do |col| %>
      <%= form.input col, :as => :hidden %>
    <% end %>
    <%= form.input :annotation,
      :as => :text,
      :input_html => {:size => '60x10'},
      :label => false,
      :required => false
    %>
    <% if @annotation.layers.any? -%>
    <h5 id="layer_appear">APPEARS IN LAYER:</h5>
    <% end -%>
    <% @annotation.collage.layers.each do |l| %>
    <li class="layer_check">
      <input type="checkbox" <%= raw checked="checked" if @annotation.layers.include?(l) %> data-value="<%= l.name %>" />
      <label style="background-color:#<%= cycle('ffcc00', '99ccff', '99cc33', 'ff9999', 'b2c1d0', 'ff9933', 'cc99cc') %>"><%= l.name %></label>
    </li>
    <% end %>
    <li id="new_layers">
      <label>CREATE NEW LAYERS</label>
      <input type="text" />
    <li>
    <%= form.input :layer_list,
      :as => :hidden,
      :label => false
    %>
  <% end %>
  <% unless request.xhr? %>
    <% form.buttons do %>
      <%= form.commit_button 'Save' %>
    <% end %>
  <% end %>
<% end %>
