<% if false %>
  This partial is named "_case_form" because rails creates invalid code internally if it's named simply "case" - for the obvious reason that it's creating a broken "case" control structure in subsequently eval'd code. Stupid.
<% end %>

<div id="case-error" style="display:none;" class="error"></div>
<% unless request.xhr? %>
  <h1><%= (@case.new_record?) ? 'Add New case' : "Edit #{@case}" %></h1>
<% end %>
<% semantic_form_for(@case, :html => {:id => 'case-form'}) do |form| %>
  <% form.object.case_docket_numbers.build %>
  <% form.object.case_citations.build %>
  <% form.inputs do %>
    <%= form.input :short_name %>
    <%= form.input :full_name, :required => false %>
    <%= form.input :decision_date, :as => :string, :hint => 'YYYY-MM-DD format' %>
    <%= form.input :author, :required => false, :hint => 'The name of the judge.' %>
    <hr />
    <%= form.input :case_jurisdiction, :as => :select, :collection => CaseJurisdiction.all(:order => 'name'), :hint => ((form.object.new_record?) ? 'Please choose a jurisdiction. If it doesn\'t exist, enter it below' : 'Please choose a jurisdiction. You can edit the currently selected jurisdiction below') %>
    <% form.semantic_fields_for :case_jurisdiction do |cj| %>
      <%= cj.inputs :abbreviation, :name, :name => ((cj.object.new_record?) ? "New jurisdiction" : 'Edit existing jurisdiction') %>
    <% end %>
    <hr />
    <% form.semantic_fields_for :case_docket_numbers do |cd| %>
      <%= cd.inputs :docket_number, :name => ((cd.object.new_record?) ? "Add docket number" : 'Edit existing docket number') %>
    <% end %>
    <hr />
    <% form.semantic_fields_for :case_citations do |cd| %>
      <%= cd.inputs :volume, :reporter, :page, :name => ((cd.object.new_record?) ? "Add citation" : 'Edit existing citation') %>
    <% end %>
    <hr />
    <% if @case.new_record? || @case.content_editable? %>
      <%= form.input :content,
        :as => :text,
        :hint => 'This is where you post the raw HTML that comprises the content of the case. It should not be wrapped in (or include) &lt;body&gt;, &lt;html&gt;, &lt;head&gt; or other high-level structural tags.'
    %>
    <% end %>
    <%= form.input :tag_list,
        :as => :string,
        :hint => 'Please define the tags for this case in a comma-separated list.',
        :label => 'Tags',
        :input_html => {:class => 'tagging-autofill-tags'}
      %>
  <% end %>
  <% unless request.xhr? %>
    <% form.buttons do %>
     <%= form.commit_button 'Save' %>
    <% end %>
  <% end %>
<% end %>
