<div id="collage-error" style="display:none;" class="error"></div>
<% unless request.xhr? %>
  <h1>Add New Collage</h1>
<% end %>
<% semantic_form_for(@collage, :html => {:id => 'collage-form'}) do |form| %>
  <% form.inputs do %>
    <%= form.input :name %>
    <%= form.input :description, 
      :as => :text, 
      :input_html => {:size => '40x5'},
      :required => false,
      :hint => 'You can use textile markdown in the description. ' + link_to('docs', 'http://redcloth.org/textile', :target => '_blank')
    %>
    <%= form.input :annotatable_type,
      :as => :select,
      :collection => Collage.annotatable_classes_select_options,
      :required => true,
      :label => 'I want to annotate a:'
    %>
    <%= form.input :annotatable_id,
      :as => :select,
      :collection => Case.select_options,
      :required => true,
      :label => "Case I want to annotate:"
    %>
  <% end %>
  <% unless request.xhr? %>
    <% form.buttons do %>
     <%= form.commit_button 'Save' %>
    <% end %>
  <% end %>
<% end %>
