<% ['case', 'text_block', 'collage'].each do |variable_name|
  @reportable = instance_variable_get("@#{variable_name}") 
  break if @reportable
end %>
<% if @reportable %>              
<div class="slide-out-div">
  <a class="handle" href="http://link-for-non-js-users.html">Report Content Error</a>
  <div class="standard-form">
    <p id="user-feedback-instruction">Please enter any content errors you see in this <%= @reportable.class.to_s.titleize %>.</p>
    <div id="user-feedback-success"></div> 
    <div id="user-feedback-error"></div>
    <% semantic_form_for(Defect.new, :html => {:id => 'defect-form'}) do |form| %>
      <% form.inputs do %>
        <%= form.input :description, :as => :text, :input_html => {:rows => 10}, :label => "Describe Error"  %>
        <%= form.input :reportable_id, :as => :hidden, :value => @reportable.id %>
        <%= form.input :reportable_type, :as => :hidden, :value => @reportable.class.to_s %>
        <%= form.input :user_id, :as => :hidden, :value => current_user.id  %>
      <% end %>
      <a id="defect_submit" href="#">SAVE</a>
    <% end %>
  </div>
</div>
<% end %>
