<div class="standard-form">
  <h1><%= @default.new_record? ? "Add a new Link" : "Edit #{@default.name} Link" %></h1>
  <% if @default.errors.any? -%>
  <div id="text_block-error" class="error">
  <ul>
    <% @default.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end -%>
  <%= render :partial => "shared/user_verified" %>
  <%= semantic_form_for(@default, :html => { :id => 'default-form' }) do |form| -%>
    <%= form.inputs do %>
      <%= form.input :name %>
      <%= form.input :url %>
      <li class="mce_switches_row">
        <div class="mce_switches">
          <a href="#" id="default_description-html" class="html">HTML</a>
          <a href="#" id="default_description-tmce" class="current">Visual</a>
        </div>
      </li>
      <%= form.input :description, :as => :text, :required => false, :input_html => { :rows => 10 } %>
      <%= form.input :content_type, :as => :select, :include_blank => false, :collection => Default.content_types_options %>
      <%= form.input :tag_list,
        :input_html => {:class => 'tagging-autofill-tags', :value => @default.tags.collect { |t| t.name }.join(',') } %>
      <%= render :partial => 'shared/forms/metadatum', :locals => {:form => form } %>
      <%= render :partial => 'shared/captcha', :locals => { :single_resource => @default } %>
    <% end -%>
    <%= form.actions do -%>
    <%= form.action :submit, :as => 'button', :label => "Save" %>
    <% end -%>
  <% end -%>
</div>
