<div class="slide-out-div">
  <a class="handle" href="http://link-for-non-js-users.html">Report Content Error</a>
  <div class="standard-form">
    <p id="user-feedback-instruction">Please enter any content errors you see in this <%= @single_resource.class.to_s.titleize %>.</p>
    <div id="user-feedback-success"></div> 
    <div id="user-feedback-error"></div>
    <% semantic_form_for(Defect.new, :html => {:id => 'defect-form'}) do |form| %>
      <% form.inputs do %>
        <%= form.input :description, :as => :text, :input_html => {:rows => 5 }, :label => "Describe Error"  %>
        <%= form.input :single_resource_id, :as => :hidden, :value => @single_resource.id %>
        <%= form.input :single_resource_type, :as => :hidden, :value => @single_resource.class.to_s %>
        <%= form.input :user_id, :as => :hidden, :value => current_user ? current_user.id : '' %>
      <% end %>
      <a id="defect_submit" href="#" class="button">SAVE</a>
    <% end %>
  </div>
</div>
