  <div class="standard-form">
    <div id="media-error" style="display:none;" class="error"></div>
    <h1 id="generic_title"><%= @media.new_record? ? 'Add a new media' : "Edit \"#{@media.name}\"" %></h1>
    <% semantic_form_for(@media, :html => {:id => 'media-form'}) do |form| %>
      <% form.inputs do %>
        <%= form.input :name %>
        <%= form.input :public, :input_html => {:class => 'privacy_toggle'} %>
        <%= form.input :description, :as => :text, :required => false  %>
        <%= form.input :media_type, :as => :radio %>
        <li id="media_detail">
          <label for="media_content">Content <abbr title="required">*</abbr></label>
          <p style="clear:both;display:block;">You can add media items by inserting the HTML embed code of the item in the box below. You can learn more about HTML embed code <a href="http://www.htmlcodetutorial.com/embeddedobjects/_EMBED.html" target="_blank">here</a>.</p>
        </li>
        <%= form.input :content,
            :label => '' %>
        <%= form.input :tag_list,
          :as => :string,
          :hint => 'Please define the tags for this media in a comma-separated list.',
          :label => 'Tags',
          :input_html => {:class => 'tagging-autofill-tags'},
          :required => false
        %>
        <%= render :partial => 'shared/forms/visibility_selectors', :locals => { :form => form } %>
        <% if @media.new_record? %><%= render :partial => 'shared/forms/captcha' %><% end %>
      <% end %>

      <% form.buttons do %>
        <%= form.commit_button 'SAVE' %>
      <% end %>
    <% end %>
  </div>
