<div id="playlist_item_form">
<% if @base_model_class == Default -%>
<h2 id="generic_title"><%= (@object.new_record?) ? "Add this to your playlist" : "Edit this playlist item" %></h2>
<% else -%>
<h2 id="generic_title"><%= (@object.new_record?) ? "Add this #{@base_model_class.to_s.singularize.downcase} to your playlist" : "Edit this playlist item" %></h2>
<% end -%>
  <div id="error_block" class="error ui-corner-all" style="display: none;"></div>
  <% semantic_form_for @object, :html => {:class => "case_form"} do |form| %>
    <% form.inputs do %>
      <% if @base_model_class == Default -%>
      <li><%= form.input :url,  :as => :string, :input_html => {:class => "ui-widget-content ui-corner-all"} %></li>
      <% end -%>
      <% if @can_edit_all -%>
      <li><%= form.input :name,  :as => :string, :input_html => {:class => "ui-widget-content ui-corner-all"} %></li>
      <% end -%>
      <% if @can_edit_desc -%>
      <li><%= form.input :description,
        :input_html => {:size => '40x5', :class => "ui-widget-content ui-corner-all"},
        :required => false
    %></li>
      <% end -%>
      <% if !@object.new_record? && @can_edit_notes -%>
      <li>
        <label for="playlist_item_notes">Notes</label>
        <textarea name="playlist_item[notes]" cols="38" rows="5" class="ui-widget-content ui-corner-all"><%= @object.playlist_item.notes.to_s %></textarea>
      </li>
      <li>
        <label for="playlist_item_notes">Are Notes Public?</label>
        <input type="checkbox" name="playlist_item[public_notes]" <%= raw 'checked="checked"' if @object.playlist_item.public_notes %> />
      </li>
      <% end -%>
      <% if @base_model_class != Default -%>
      <%= form.input(:url, :as => :hidden) %>
      <% end -%>
      <%= hidden_field_tag 'container_id', params[:container_id] %>
    <% end -%>
  <% end -%>
</div>
