<div id="question-instance-error" style="display:none;" class="error"></div>
<% unless request.xhr? %>
  <h1>Add New Question Tool</h1>
<% end %>
<% semantic_form_for(@question_instance, :html => {:id => 'question-instance-form'}) do |form| %>
  <% form.inputs do %>
    <%= form.input :name %>
    <%= form.input :description, 
      :as => :text, 
      :input_html => {:size => '40x5'},
      :required => false,
      :hint => "You can use html and textile markdown in the description. #{link_to('docs', 'http://redcloth.org/textile', :target => '_blank')}<br/>Allowed tags: #{ WHITELISTED_TAGS.sort.join(' ') }"
    %>
    <%= form.input :password,
      :required => false
    %>
    <%= form.input :featured_question_count, 
      :as => :select, 
      :collection => QuestionInstance::FEATURED_QUESTION_COUNTS,
      :required => true,
      :label => 'Number of "featured" questions' 
    %>
  <% end %>
  <% unless request.xhr? %>
    <% form.buttons do %>
     <%= form.commit_button 'SAVE' %>
    <% end %>
  <% end %>
<% end %>
