<div id="new-question-error" style="display:none;" class="error"></div>
<% unless request.xhr? %>
  <h1><%= (@question.parent_id.blank?) ? 'Add question' : 'Add Comment' %></h1>
<% end %>
<% semantic_form_for @question do |form| %>
  <% form.inputs do %>
    <%= form.input :question_instance_id, :as => :hidden %>
    <%= form.input :parent_id, :as => :hidden %>
    <%= form.input :question,
      :as => :text,
      :input_html => {:size => '40x5'},
      :hint => "You can use html and textile markdown in the description. #{link_to('docs', 'http://redcloth.org/textile', :target => '_blank')}<br/>Allowed tags: #{ WHITELISTED_TAGS.sort.join(' ') }",
      :label => (params[:question] && params[:question][:parent_id].to_i != 0) ? 'Comment' : 'Question'
  %>
<% end %>
<% unless request.xhr? %>
  <% form.buttons do %>
    <%= form.commit_button 'SAVE' %>
  <% end %>
<% end %>
<% end %>
