<div id="question-instance-error" style="display:none;" class="error"></div>
<% semantic_form_for(@question_instance, :html => {:id => 'question-instance-form'}) do |form| %>
  <% form.inputs do %>
    <%= form.input :name %>
    <%= form.input :description, 
      :as => :text, 
      :input_html => {:size => '40x5'},
      :required => false,
      :hint => 'You can use textile markdown in the description. ' + link_to('docs', 'http://redcloth.org/textile', :target => '_blank')
    %>
    <%= form.input :password,
      :required => false
    %>
    <%= form.input :featured_question_count, 
      :as => :select, 
      :collection => QuestionInstance::FEATURED_QUESTION_COUNTS,
      :required => true,
      :label => 'Number of "featured" questions' 
    %>
    <%= form.input :new_question_timeout, 
      :as => :select, 
      :collection => QuestionInstance::NEW_QUESTION_TIMEOUTS,
      :required => false
    %>
    <%= form.input :old_question_timeout, 
      :as => :select, 
      :collection => QuestionInstance::OLD_QUESTION_TIMEOUTS,
      :required => false
    %>
  <% end %>
  <% unless request.xhr? %>
    <% form.buttons do %>
     <%= form.commit_button 'Save' %>
    <% end %>
  <% end %>
<% end %>
