<div id="new-reply-error-<%= @reply.question_id %>" style="display:none;" class="error"></div>
<% semantic_form_for @reply do |form| %>
  <% form.inputs do %>
    <%= form.input :question_id, :as => :hidden %>
    <%= form.input :reply,
      :as => :text,
      :input_html => {:size => '40x5'},
      :hint => 'You can use textile markdown in the description. ' + link_to('docs', 'http://redcloth.org/textile', :target => '_blank')
  %>
  <%= form.input :email,
    :required => false 
  %>
    <%= form.input :name,
      :required => false 
    %>
  <%= form.input :posted_anonymously,
    :required => false,
    :label => "Post Anonymously?"
  %>
  <% end %>
<% end %>
