<%
if controller.action_name == 'edit'
  rotisserie_object = RotisseriePost.find(params[:id])
else
  rotisserie_object = RotisseriePost.new
end

html_options = Hash[:class,'ui-widget']

if !params[:parent_id].blank?  ### This is a reply
  parent_id = params[:parent_id]
  container_id = RotisseriePost.find(params[:parent_id]).rotisserie_discussion_id
  html_options[:id] = 'new_rotisserie_reply'
else ### This is a new record
  container_id = params[:container_id]
end
%>

<div id="error_block"></div>
  <% semantic_form_for rotisserie_object, :html => html_options do |form| %>
  <% form.inputs do %>
        <%= form.input :title, :input_html => {:class => "ui-widget-content ui-corner-all"} %>
        <li></li>
        <%= form.input :output, :label => "Response", :input_html => {:size => '40x5', :class => "ui-widget-content ui-corner-all"} %>
        <li></li>

        <%= form.input :rotisserie_discussion_id, :as => :hidden, :value => container_id %>
        <%= form.input(:parent_id, :as => :hidden, :value => parent_id) unless parent_id.blank? %>
        <%= hidden_field_tag :container_id, container_id %>
  <% end %>
  <% end %>

