<div id="text_block-error" style="display:none;" class="error"></div>
<% unless request.xhr? %>
  <h1><%= (@text_block.new_record?) ? 'Add New Text Block' : "Edit #{@text_block}" %></h1>
<% end %>
<% semantic_form_for(@text_block, :html => {:id => 'text_block-form'}) do |form| %>
  <% form.inputs do %>
    <%= form.input :name %>
    <% if @text_block.new_record? || @text_block.content_editable? %>
      <%= form.input :description, :label => 'Textual Content', :as => :text,
        :hint => 'This is where you post the raw text that comprises the content of this text block. It should not be wrapped in (or include) &lt;body&gt;, &lt;html&gt;, &lt;head&gt; or other high-level structural tags.'
      %>
      <%= form.input :mime_type, :label => 'Content Type', :as => :select, :collection =>  TextBlock.mime_type_select_options, :default => 'text/plain' %>
    <% end %>
    <hr />
    <%= form.input :tag_list,
      :as => :string,
      :hint => 'Please define the tags for this text block in a comma-separated list.',
      :label => 'Tags',
      :input_html => {:class => 'tagging-autofill-tags'}
    %>
    <hr />
    <div class="metadata">
      <% form.semantic_fields_for :metadatum do |md| %>
      <%= md.inputs :contributor, :coverage, :creator, :date, :description, :format, :identifier,:language,:publisher,:relation,:rights,:source,:subject,:title,:dc_type, :name => 'Metadata (click to expand)' %>
    <% end %>
  </div>
    <hr />
    <%= form.input :public %>
    <%= form.input :active %>
  <% end %>
  <% unless request.xhr? %>
    <% form.buttons do %>
      <%= form.commit_button 'Save' %>
    <% end %>
  <% end %>
<% end %>
