<h2>Merging draft casebook into published casebook failed.</h2>
<div>
  <p>Exception: </p>
  <%= @exception.inspect %>
</div>
<div>
  <p>Exception Backtrace: </p>
  <%= @exception_backtrace.inspect %>
</div>
<div>User:
  <%= @user.id %>, <%= @user.email_address %>, <%= @user.title %>
</div>
<div>Draft Casebook: <%= @draft.id %></div>
<div>Published Casebook:<%= @published.id %></div>