<% @rotisserie_instances = RotisserieInstance.all %>

<table class="core_table">
  <thead>
    <tr class="table_heading ">
      <th>Instance Title</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @rotisserie_instances.each do |rotisserie_instance| %>
      <tr>
        <td><%= link_to rotisserie_instance.title, rotisserie_instance %></td>
        <td>
          <% if rotisserie_instance.admin? || rotisserie_instance.owner? %>
          <button id="button-instance-edit-<%= rotisserie_instance.id %>" name="button-instance-edit" class="ui-button ui-state-default ui-corner-all">
            <%= image_tag "/images/icons/application_form_edit.png" %>
          </button>
          <% end %>
        </td>
        <td>
          <% if rotisserie_instance.admin? || rotisserie_instance.owner? %>
          <button id="button-instance-delete-<%= rotisserie_instance.id %>" name="button-instance-delete" class="ui-button ui-state-default ui-corner-all">
            <%= image_tag "/images/icons/application_form_delete.png" %>
          </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>