<div id="text_block-list">
  <%= will_paginate @text_blocks.hits %>
  <div class="clear"></div>
      <table class="core_table tablesorter">
        <thead>
          <tr class="table_heading">
            <th>text_block</th>
            <th>Date</th>
            <th>Tags</th>
            <th>Collages</th>
            <% if current_user %>
              <th colspan="2">&nbsp;</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @text_blocks.results.each do |c| %>
            <tr>
              <td><%= link_to(c.display_name, c) %></td>
              <td><%=h c.decision_date %></td>
              <td class="layers"><%= c.tags.collect{|t| "<span class=\"c#{t.id % 10}\">#{h(t.name)}</span>"}.join(', ') %></td>
              <td>
                <% if ! c.collages.blank? %>
                  <ul>
                    <% c.collages.each do |collage| %>
                      <li><%= link_to(collage.display_name, collage) %></li>
                    <% end %>
                  </ul>
                <% end %>
              </td>
              <% if current_user %>
                <td>
                  <%= link_to('collage this', new_collage_path(:annotatable_type => 'TextBlock', :annotatable_id => c), :class => 'button') %>
                  <% if @is_text_block_admin || @my_text_blocks.include(c) %> 
                    <%= link_to('edit', edit_text_block_path(c), :class => 'button' ) %>
                    <% if c.deleteable? %>
                      <%= link_to('delete', text_block_path(c), :method => :delete, :class => 'button', :confirm => 'Are you sure?' ) %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @text_blocks.hits %>
    </div>
<%= javascript_tag(%q|
jQuery(document).ready(function(){
  jQuery('.button').button();
  jQuery('.tablesorter').tablesorter();
  jQuery('.pagination a').click(function(e){
    e.preventDefault();
    jQuery.ajax({
      type: 'GET',
      dataType: 'script',
      url: jQuery(this).attr('href'),
      success: function(html){
        jQuery('#text_block-list').html(html);
      }
    });
  });
});
|) %>
