<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'text_blocks-logo',
  :url => text_blocks_path,
  :right_search => 'text_blocks/nav_search' } %>
	
<section class="breadcrumbs">
	<aside class="filter">
		<% if params[:tags] -%>
		<p>
		text_blocks tagged: <%= params[:tags].join(', ') %> (<%= pluralize @text_blocks.total_entries, 'Text Block' %> Total)
		<%= link_to "CLEAR TAG", text_blocks_path %>
		</p>
		<% elsif params[:keywords] -%>
		<% elsif params[:tag] -%>
		<p>
		text_blocks tagged: <%= CGI.unescape(params[:tag]) %> (<%= pluralize @text_blocks.total_entries, 'Text Block' %> Total)
		<%= link_to "CLEAR TAG", text_blocks_path %>
		</p>
		<% elsif params[:keywords] -%>
		<p>
		Results for: <%= params[:keywords] %> (<%= pluralize @text_blocks.total_entries, 'Text Block' %> Total)
		<%= link_to "CLEAR SEARCH", text_blocks_path %>
		</p>
		<% else -%>
		<%= @text_blocks.total_entries %> Text Blocks Total
		<% end -%>
	</aside>
	<aside class="pagination">
		<div class="all_text_blocks_pagination">
		<%= will_paginate @text_blocks, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
	</aside>
	<div class="cl"></div>
</section>

<section id="results">
	<hgroup id="text_blocks_hgroup">
		<ul class="tabs">
			<li><a href="#" class="active" data-region="all_text_blocks">ALL TEXT BLOCKS</a></li>
    		<% if @my_text_blocks.any? -%>
			<li><a href="#" data-region="my_text_blocks">MY TEXT BLOCKS</a></li>
			<% end -%>
			<% if @my_bookmarks.any? -%>
			<li><a href="#" data-region="my_bookmarks">MY BOOKMARKS</a></li>
			<% end -%>
		</ul>
		<aside class="sort">
			<div id="all_text_blocks_sort" data-type="text_blocks">
				<%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[:text_blocks] } %>
			</div>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<article class="songs">
	<ul id="all_text_blocks">
    <% @text_blocks.each do |text_block| -%>
      <% if text_block.is_a?(TextBlock) -%>
		    <%= render :partial => 'shared/objects/text_block', :locals => { :text_block => text_block } %>
      <% else -%>
		    <%= render :partial => 'shared/objects/journal_article', :locals => { :journal_article => text_block } %>
      <% end -%>
    <% end -%>
	</ul>
	<% if current_user -%>
  <% if @my_text_blocks.any? -%>
	<ul id="my_text_blocks">
    <% @my_text_blocks.each do |text_block| -%>
      <% if text_block.is_a?(TextBlock) -%>
		    <%= render :partial => 'shared/objects/text_block', :locals => { :text_block => text_block } %>
      <% else -%>
		    <%= render :partial => 'shared/objects/journal_article', :locals => { :journal_article => text_block } %>
      <% end -%>
    <% end -%>
	</ul>
	<% end -%>
	<% if @my_bookmarks.any? -%>
	<ul id="my_bookmarks">
    <% @my_bookmarks.each do |text_block| -%>
      <% if text_block.is_a?(TextBlock) -%>
		    <%= render :partial => 'shared/objects/text_block', :locals => { :text_block => text_block } %>
      <% else -%>
		    <%= render :partial => 'shared/objects/journal_article', :locals => { :journal_article => text_block } %>
      <% end -%>
    <% end -%>
	</ul>
	<% end -%>
	<% end -%>
	</article>
</section>

<section class="breadcrumbs">
	<aside class="pagination">
		<div class="all_text_blocks_pagination">
		<%= will_paginate @text_blocks, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
	</aside>
	<div class="cl"></div>
</section>

<%= render :partial => "shared/popup", :locals => { :type => "case" } %>
