<div id="fixed_links">
<a href="#" class="fixed_link left-tooltip" id="collapse_toggle" title="Text Info">Collapse/Expand</a>
<a href="<%= export_text_block_path(@text_block) %>" class="fixed_link left-tooltip" id="fixed_print" title="Print <%= @text_block.name %>">Print</a>
<a href="#" class="fixed_link left-tooltip btn-a dont_hide" id="fixed_font" title="Change the size of the text">Font Settings</a>
</div>

<aside id="singleitem_barcode_toolbar">
  <% if current_user -%>
  <%= link_to raw('<span class="icon icon-tocollage-large"><span>Collage This</span></span>'), new_collage_path(:annotatable_type => 'TextBlock', :annotatable_id => @text_block), :class => 'collage-this new-action tooltip', :title => "Collage This" %>
  <%= link_to raw('<span class="icon icon-add-large"><span>Add to Playlist</span></span>'), '#', "data-item_id" => @text_block.id, "data-type" => "text_block", :class => 'link-add tooltip requires_logged_in', :title => "Add to a Playlist" %>
  <%= link_to raw('<span class="icon icon-favorite-large"><span>Bookmark Text</span></span>'), '#', :class => "bookmark-action tooltip requires_logged_in", :title => "Bookmark #{@text_block.name}", "data-type" => "text_block", "data-itemid" => @text_block.id %>
  <% end -%>
</aside>

<div id="text_block" class="singleitem" data-itemid="<%= @text_block.id %>">
  <div id="main_details">
    <h1 class="scale1-5"><%= @text_block.display_name %></h1>
  </div>
  <% if current_user && (current_user.has_role?(:superadmin) || current_user.text_blocks.include?(@text_block)) %>
  <div id="description" class="scale1-1">
    <%= link_to raw('<span class="icon icon-edit"></span>EDIT TEXT INFORMATION<span class="icon icon-arrow"></span>'), edit_text_block_path(@text_block), :class => "edit-external scale0-8" %>
    <%= link_to raw('<span class="icon icon-delete"></span>DELETE TEXT<span class="icon icon-arrow"></span>'), @text_block, "data-type" => "text_block", "data-id" => @text_block.id, :class => "delete-action scale0-8" %>
  </div>
  <% end -%>
  <article>
    <%= raw @text_block.content %>
  </article>
</div>

<div id="stats" class="right_panel">
  <a href="#" class="right_panel_close">Close</a>
  <h3 class="info">Text Information<span class="icon icon-panel"></span></h3>
  <div class="stats_panel">
    <%= render :partial => "meta" %>
  </div>
  <h3>Author Stats</h3>
  <%= render :partial => "shared/author_stats", :locals => { :user => @text_block.user } %>
</div>

<div class="clear"></div>
