<li>
  <% if collage.copy? %>
  <%= link_to "#{collage.name} (VERSION #{collage.version})", collage_version_path(collage, collage.version) %><br />
	<% else %>
  <%= link_to collage.name, collage_path(collage) %><br />  
	<% end %>
	Collaged <%= collage.created_at.to_s(:simpledatetime) %> by
  <%= link_to(@collage.user.display, user_path(@collage.user)) %>
  <% if collage.public_children.any? -%>
  <ul>
  <% collage.public_children.each do |child| -%>
  <%= render :partial => 'cases/ancestry', :locals => { :collage => child } %>
  <% end -%>
  </ul>
  <% end -%>
</li>
