<% unless iframe? %>
<div id="fixed_links">
<a href="#" class="fixed_link left-tooltip" id="collapse_toggle" title="Case Info">Collapse/Expand</a>
<a href="<%= export_case_path(court_case) %>" class="fixed_link left-tooltip" id="fixed_print" title="Print <%= court_case.name %>">Print</a>
<a href="#" class="fixed_link left-tooltip btn-a dont_hide" id="fixed_font" title="Change the size of the text">Font Settings</a>
</div>

<aside id="singleitem_barcode_toolbar">
  <%= link_to raw('<span class="icon icon-tocollage-large"><span>Clone and Annotate</span></span>'), new_collage_path(:annotatable_type => 'Case', :annotatable_id => court_case), :class => 'collage-this new-action tooltip requires_logged_in', :title => "Clone and Annotate" %>
  <%= link_to raw('<span class="icon icon-add-large"><span>Add to Playlist</span></span>'), '#', "data-item_id" => court_case.id, "data-type" => "case", :class => 'link-add tooltip requires_logged_in', :title => "Add to a Playlist" %>
  <%= link_to raw('<span class="icon icon-favorite-large"><span>Bookmark Case</span></span>'), '#', :class => "bookmark-action tooltip requires_logged_in", :title => "Bookmark #{court_case.name}", "data-type" => "case", "data-itemid" => court_case.id %>
</aside>
<% end %>

<div id="case" class="singleitem leftcol" data-itemid="<%= court_case.id %>">
  <div id="main_details">
    <h1 class="scale1-5"><%= court_case.display_name %></h1>
  </div>
  <div id="description" class="scale1-1">
    <% unless iframe? %>
    <%= link_to raw('<span class="icon icon-edit"></span>EDIT CASE INFORMATION<span class="icon icon-arrow"></span>'), edit_case_path(court_case), :class => "edit-external scale0-8 requires_edit" %>
    <%= link_to raw('<span class="icon icon-delete"></span>DELETE CASE<span class="icon icon-arrow"></span>'), court_case, "data-type" => "case", "data-id" => court_case.id, :class => "delete-action requires_edit scale0-8" %>
    <% end %>
  </div>
  <div class="article">
    <%= raw court_case.content %>
  </div>
</div>

<% unless iframe? %>
<div id="stats" class="right_panel">
  <a href="#" class="right_panel_close">Close</a>
  <h3 class="info">Case Information<span class="icon icon-panel"></span></h3>
  <div class="stats_panel">
  <%= render partial: "cases/meta", locals: { court_case: court_case } %>
  </div>
  <h3>Author Stats</h3>
  <%= render :partial => "shared/author_stats", :locals => { :user => court_case.user } %>
</div>
<% end %>

<div class="clear"></div>

<script type="text/javascript">
var editability_path = "<%= access_level_case_path(court_case) %>";
</script>
