<p>
  <label>Last Updated:</label>
  <%= court_case.updated_at.strftime("%B %d, %Y") %>
</p>
<p>
  <label>Decision date:</label>
  <%= court_case.decision_date %>
</p>

<% unless court_case.opinions.blank? %>
<p>
  <label>Author:</label>
  <%= court_case.majority %>
</p>
<% end %>

<% unless court_case.case_citations.blank? %>
<p>
  <label>Citations:</label>
  <%= court_case.case_citations.collect{|cc| cc.display_name}.join(', ') %>
</p>
<% end %>

<% unless court_case.case_docket_numbers.blank? %>
<p>
  <label>Docket Numbers:</label>
  <%= court_case.case_docket_numbers.collect{|cc| cc.display_name}.join(', ') %>
</p>
<% end %>

<% unless court_case.case_court.blank? %>
<p>
  <label>Jurisdiction:</label>
  <%= court_case.case_court.display_name %>
</p>
<% end %>
