<section id="search"> 
	<% form_tag("/cases", :method => :get, :class => "search") do %>
	<ul>
		<li id="spinner">
			<img src="/images/ui/ajax-loader.gif" alt="" />
		</li>
		<% if current_user -%>
		<li class="btn">
			<a href="<%= new_case_path %>" class="btn-a">
				<span>CREATE CASE</span>
			</a>
		</li>
		<% end -%>
		<li class="btn">
			<a href="#" class="btn-a btn-tags">
				<span>BROWSE TAGS</span>
			</a>
			<% form_tag(cases_path, :method => :get) do %>
			<% cache("cases-all-tags") do -%>
			<div class="browse-tags-popup" id="cases_browse">
				<ul>
					<% Case.tag_list.each do |tag| %>
					<li>
						<span><%= check_box_tag("tags[]",tag.name, ((params[:tags] && params[:tags].include?(tag.name)) ? true : false), {:class => 'tag-control', :id => "tag-control-#{tag.id}"}) %>
						<strong><%= tag.name %></strong></span>
					</li>
					<% end -%>
				</ul>
				<div class="cl">&nbsp;</div>
				<div class="center">
					<input type="submit" class="button" value="Filter" />
					<%= link_to raw('Clear &raquo;'), cases_path, :class => 'clear' %>
				</div>
			</div>
			<% end -%>
			<% end -%>
		</li>
		<li class="field">
			<%= text_field_tag('keywords', params[:keywords], :size => 50) %>
		</li>
		<li class="submit">
			<input type="submit" class="submit" value="SEARCH" name="submit" />
		</li>
	</ul>
	<% end %>
</section>
<div class="cl"></div>
