<h1>Editing case</h1>

<% form_for(@case) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :current_opinion %><br />
    <%= f.check_box :current_opinion %>
  </p>
  <p>
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </p>
  <p>
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </p>
  <p>
    <%= f.label :decision_date %><br />
    <%= f.date_select :decision_date %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :party_header %><br />
    <%= f.text_field :party_header %>
  </p>
  <p>
    <%= f.label :lawyer_header %><br />
    <%= f.text_field :lawyer_header %>
  </p>
  <p>
    <%= f.label :header_html %><br />
    <%= f.text_field :header_html %>
  </p>
  <p>
    <%= f.label :jurisdiction_id %><br />
    <%= f.text_field :jurisdiction_id %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @case %> |
<%= link_to 'Back', cases_path %>