<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'cases-logo',
  :url => cases_path,
  :right_search => 'cases/nav_search' } %>
	
<section id="breadcrumbs">
	<aside class="filter">
		<% if params[:tags] -%>
		<p>
		Cases tagged: <%= params[:tags].join(', ') %> (<%= pluralize @cases.total, 'Case' %> Total)
		<%= link_to "CLEAR TAG", cases_path %>
		</p>
		<% elsif params[:keywords] -%>
		<% elsif params[:tag] -%>
		<p>
		Cases tagged: <%= params[:tag] %> (<%= pluralize @cases.total, 'Case' %> Total)
		<%= link_to "CLEAR TAG", cases_path %>
		</p>
		<% elsif params[:keywords] -%>
		<p>
		Results for: <%= params[:keywords] %> (<%= pluralize @cases.total, 'Case' %> Total)
		<%= link_to "CLEAR SEARCH", cases_path %>
		</p>
		<% else -%>
		<%= @cases.total %> Cases Total
		<% end -%>
	</aside>
	<aside class="pagination">
		<div id="all_cases_pagination">
		<%= will_paginate @cases.hits, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
	</aside>
	<div class="cl"></div>
</section>

<section id="results">
	<hgroup id="cases_hgroup">
		<ul class="tabs">
			<li><a href="#" class="active" data-region="all_cases">ALL CASES</a></li>
    		<% if @my_cases.any? -%>
			<li><a href="#" data-region="my_cases">MY CASES</a></li>
			<% end -%>
			<% if @my_bookmarks.any? -%>
			<li><a href="#" data-region="my_bookmarks">MY BOOKMARKS</a></li>
			<% end -%>
		</ul>
		<%= render :partial => 'shared/sort' %>
		<div class="cl"></div>
	</hgroup>
	<article class="songs">
	<ul id="all_cases" class="cases_section">
		<%= render :partial => 'cases_block' %>
	</ul>
	<% if current_user -%>
    <% if @my_cases.any? -%>
	<ul id="my_cases" class="cases_section">
		<%= render :partial => 'shared/objects/case_obj', :collection => @my_cases %>
	</ul>
	<% end -%>
	<% if @my_bookmarks.any? -%>
	<ul id="my_bookmarks" class="cases_section">
		<%= render :partial => 'shared/objects/case_obj', :collection => @my_bookmarks %>
	</ul>
	<% end -%>
	<% end -%>
	</article>
</section>

<%= render :partial => "shared/popup", :locals => { :type => "case" } %>

<% if false -%>
<div class="case-index">
  <div class="info_block">
    <h1 class="yellow_title_med">Cases</h1>
    <p>Cases exist primarily to be annotated in the <%= link_to 'collage', collages_path %> annotation engine and integrated into <%= link_to 'playlists', playlists_path %>.</p>
    <div class="layers">
      <% form_tag(url_for, :method => :get) do %>
        <h2>Filter by tags or keywords</h2>
        <p>
        <label for="keywords">Keywords:</label> <%= text_field_tag('keywords', params[:keywords], :size => 50) %><br/>
        <% Case.tag_counts_on(:tags).all(:order => :name).each do|t| %>
          <div class="tag-container">
            <%= check_box_tag("tags[]",t.name, ((params[:tags] && params[:tags].include?(t.name)) ? true : false), {:class => 'tag-control', :id => "tag-control-#{t.id}"}) %><label for="tag-control-<%= t.id %>"><span class="c<%= t.id % 10 %>"><%= t.name %></span></label>
          </div>
        <% end %>
        </p>
        <div class="clear spacer_block"></div>
        <%= check_box_tag('any', true,((params[:any]) ? true : false), {:id => 'any'}) %><label for="any">Match any tag</label>
        <input type="submit" class="button" value="Filter" /> <%= link_to('clear', url_for()) %>
      <% end %>
    </div>
  </div>
  <div class="spacer_block"></div>

  <% unless @my_cases.blank? %>
    <div class="info_block">
      <h1 class="yellow_title_med">My Cases - <%= @my_cases.length %> total</h1>
    </div>
    <div class="list_block">
      <table class="core_table tablesorter">
        <thead>
          <tr class="table_heading">
            <th>Case</th>
            <th>Date</th>
            <th>Tags</th>
            <th>Collages</th>
            <% if current_user %>
              <th colspan="2">&nbsp;</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'shared/objects/case_obj', :collection => @my_cases %>
        </tbody>
      </table>
    </div>
  <% end %>

  <div class="list_block">
    <% if @cases.blank? %>
      <h2>None found.</h2>
    <% else %>

      <h2>Showing <%= (@cases.hits.length > 1) ? "#{@cases.hits.length} cases" : '1 case' %> of <%= @cases.total %> total
        <span style="font-size: 14px"><% if params[:tags] %>
            <br />Tags: <%= params[:tags].collect{|t| %Q|"#{t}"|}.join((params[:any]) ? ' OR ' : ' AND ') %> 
          <% end %>
          <% unless params[:keywords].blank? %>
            <br />Keywords: "<%= params[:keywords] %>"
          <% end %>
        </span>
      </h2>

      <%= render :partial => 'shared/layout_components/per_page_selector' %>
      <%= render :partial => 'case_list' %>

    <% end %>
  </div>
  <%= render :partial => 'shared/layout_components/per_page_selector' %>
  <% if current_user %>
    <div class="info_block controls">
      <%= link_to 'New case', new_case_path, :class => 'button' %>
    </div>
  <% end %>
</div>
<% end -%>

