<h1>Listing cases</h1>

<table>
  <tr>
    <th>Current opinion</th>
    <th>Short name</th>
    <th>Full name</th>
    <th>Decision date</th>
    <th>Author</th>
    <th>Party header</th>
    <th>Lawyer header</th>
    <th>Header html</th>
    <th>Jurisdiction</th>
    <th>Content</th>
  </tr>

<% @cases.each do |c| %>
  <tr>
    <td><%=h c.current_opinion %></td>
    <td><%=h c.short_name %></td>
    <td><%=h c.full_name %></td>
    <td><%=h c.decision_date %></td>
    <td><%=h c.author %></td>
    <td><%=h c.party_header %></td>
    <td><%=h c.lawyer_header %></td>
    <td><%=h c.header_html %></td>
    <td><%=h c.case_jurisdiction_id %></td>
    <td><%=h c.content %></td>
    <td><%= link_to 'Show', c %></td>
    <td><%= link_to 'Edit', edit_case_path(c) %></td>
    <td><%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New case', new_case_path %>
