<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'cases-logo',
  :url => cases_path,
  :right_search => 'cases/nav_search' } %>
	
<section class="breadcrumbs">
	<aside class="filter">
		<% if params[:tags] -%>
		<p>
		Cases tagged: <%= params[:tags].join(', ') %> (<%= pluralize @cases.total_entries, 'Case' %> Total)
		<%= link_to "CLEAR TAG", cases_path %>
		</p>
		<% elsif params[:keywords] -%>
		<% elsif params[:tag] -%>
		<p>
		Cases tagged: <%= params[:tag] %> (<%= pluralize @cases.total_entries, 'Case' %> Total)
		<%= link_to "CLEAR TAG", cases_path %>
		</p>
		<% elsif params[:keywords] -%>
		<p>
		Results for: <%= params[:keywords] %> (<%= pluralize @cases.total_entries, 'Case' %> Total)
		<%= link_to "CLEAR SEARCH", cases_path %>
		</p>
		<% else -%>
		<%= @cases.total_entries %> Cases Total
		<% end -%>
	</aside>
	<aside class="pagination">
		<div class="all_cases_pagination">
		<%= will_paginate @cases, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
	</aside>
	<div class="cl"></div>
</section>

<section id="results">
	<hgroup id="cases_hgroup">
		<ul class="tabs">
			<li><a href="#" class="active" data-region="all_cases">ALL CASES</a></li>
    		<% if @my_cases.any? -%>
			<li><a href="#" data-region="my_cases">MY CASES</a></li>
			<% end -%>
			<% if @my_bookmarks.any? -%>
			<li><a href="#" data-region="my_bookmarks">MY BOOKMARKS</a></li>
			<% end -%>
		</ul>
		<aside class="sort">
			<div id="all_cases_sort" data-type="cases">
				<%= render :partial => 'shared/sort', :locals => { :list => @case_sort_list } %>
			</div>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<article class="songs">
	<ul id="all_cases">
		<%= render :partial => 'shared/objects/case_obj', :collection => @cases %>
	</ul>
	<% if current_user -%>
    <% if @my_cases.any? -%>
	<ul id="my_cases">
		<%= render :partial => 'shared/objects/case_obj', :collection => @my_cases %>
	</ul>
	<% end -%>
	<% if @my_bookmarks.any? -%>
	<ul id="my_bookmarks">
		<%= render :partial => 'shared/objects/case_obj', :collection => @my_bookmarks %>
	</ul>
	<% end -%>
	<% end -%>
	</article>
</section>

<section class="breadcrumbs">
	<aside class="pagination">
		<div class="all_cases_pagination">
		<%= will_paginate @cases, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
	</aside>
	<div class="cl"></div>
</section>

<%= render :partial => "shared/popup", :locals => { :type => "case" } %>
