<%= javascript_tag %Q|

jQuery(function(){
  jQuery.extend({
    getUserSelection: function(){
     var selection = jQuery().selectedText();
     console.log('selection is : ' + selection);
     console.log('object is: ' + selection.anchorNode.id);
      console.log(selection);
     return selection['anchorNode'];

    },
    getRangeObj: function(selectionObject){
      if (! selectionObject){
        selectionObject = jQuery.getUserSelection();
      }
      if (selectionObject.getRangeAt) {
        alert('getting range via simpler method');
        console.log(selectionObject.anchorNode);
        console.log(selectionObject.focusNode);
        alert('Anchor Container:' + selectionObject.anchorNode.tagName + selectionObject.anchorNode.id + ' Start Offset:' + selectionObject.anchorOffset);
        alert('Focus Container:' + selectionObject.focusNode.tagName + selectionObject.focusNode.id + ' End Offset:' + selectionObject.focusOffset);
        return selectionObject.getRangeAt(0);
      } else { 
    		var range = document.createRange();
    		range.setStart(selectionObject.anchorNode,selectionObject.anchorOffset);
    		range.setEnd(selectionObject.focusNode,selectionObject.focusOffset);
    		return range;
    	}
    }
  });
});

jQuery(document).ready(function(){

  jQuery('p').click(function(){
    //alert(jQuery(this).attr('id'));
  });

  jQuery('#collapse_text').click(function(e){
      e.preventDefault();
      var rangeObj = jQuery.getRangeObj();
      if(window.console){
        console.log(rangeObj);
      }
      alert('Start Container:' + rangeObj.startContainer.tagName + rangeObj.startContainer.id + ' Start Offset:' + rangeObj.startOffset);
      alert('End Container:' + rangeObj.endContainer.tagName + rangeObj.endContainer.id + ' Start Offset:' + rangeObj.endOffset);
      if(rangeObj.startContainer == rangeObj.endContainer){
        alert("It's the same parent container");
        rangeObj.deleteContents();
        rangeObj.insertNode(document.createTextNode('. . . '));
      } else {
        alert("We've gone across containers");
        rangeObj.deleteContents();
        rangeObj.insertNode(document.createTextNode('. . . '));
      }
//      console.log('start object' + rangeObj.start
//      alert(rangeText.split("&").join("&amp;").split( "<").join("&lt;").split(">").join("&gt;")); 
  });

});
| %>
<p>
  <b>Current opinion:</b>
  <%=h @case.current_opinion %>
</p>

<p>
  <b>Short name:</b>
  <%=h @case.short_name %>
</p>

<p>
  <b>Full name:</b>
  <%=h @case.full_name %>
</p>

<p>
  <b>Decision date:</b>
  <%=h @case.decision_date %>
</p>

<p>
  <b>Author:</b>
  <%=h @case.author %>
</p>

<p>
  <b>Party header:</b>
  <%=h @case.party_header %>
</p>

<p>
  <b>Lawyer header:</b>
  <%=h @case.lawyer_header %>
</p>

<p>
  <b>Header html:</b>
  <%=h @case.header_html %>
</p>

<p>
  <b>Jurisdiction:</b>
  <%=h @case.case_jurisdiction_id %>
</p>

<p id="content">
  <b>Content:</b>
  <%= @case.content %>
</p>

<div id="tools">
  <a href="#" id="annotate">Annotate</a> | <a href="#" id="collapse_text">Collapse</a>
</div>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
