<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'cases-logo',
	:url => cases_path,
	:right_search => 'cases/nav_search' } %>

<div id="case" class="singleitem" data-itemid="<%= @case.id %>">
	<hgroup class="description">
		<h2><%= @case.display_name %></h2>
		<aside class="toolbar">
			<ul>
				<% if false -%><li><a href="#" class="link-share">Share</a></li><% end -%>
				<% if current_user -%>
					<li><%= link_to "Collage This", new_collage_path(:annotatable_type => 'Case', :annotatable_id => @case), :class => 'collage-this new-action' %></li>
					<li><%= link_to "Bookmark This Case", '#', :class => 'link-bookmark bookmark-action' %></li>
				<% end -%>
				<li id="print-container">
					<a href="<%= export_case_path(@case) %>" class="link-print" target="_blank">
					<span>Print</span>
					</a>
				</li>
			</ul>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<div class="details">
		<% cache "case-#{@case.id}-tags" do -%>
		<div class="tags">
			<ul>
				<% @case.tags.each do |tag| -%>
				<li><%= link_to tag.name, case_tag_path(CGI.escape(tag.name)) %></li>
				<% end -%>
			</ul>
		</div>
		<% end -%>
		<div class="cl"></div>
		<% cache "case-#{@case.id}-detail" do -%>
				<p>Decision date: <%= @case.decision_date %></p>
				<% unless @case.author.blank? %>
				<p>Author: <%= @case.author %></p>
				<% end -%>
				<% unless @case.case_citations.blank? %>
				<p>Citations: <%= @case.case_citations.collect{|cc| cc.display_name}.join(', ') %></p> 
				<% end %>
				<% unless @case.case_docket_numbers.blank? %>
			 	<p>Docket Numbers: <%= @case.case_docket_numbers.collect{|cc| cc.display_name}.join(', ') %></p> 
				<% end %>
				<% unless @case.case_jurisdiction.blank? %>
				<p>Jurisdiction: <%= @case.case_jurisdiction.display_name %></p> 
				<% end %>
		<% end -%>
		<% if current_user &&	(@is_case_admin || @my_cases.include?(@case)) %>
		<%= link_to "EDIT", edit_case_path(@case) %>
		<% end -%>
	</div>
	<article>
			<%= raw @case.content %>
	</article>
</div>

