<script language="javascript">
jQuery(document).ready(function(){

  jQuery('p').click(function(){
    //alert(jQuery(this).attr('id'));
  });

  jQuery('#collapse_text').click(function(e){
      e.preventDefault();
      var sel = window.getSelection();

      var anchorNode = null;
      var anchorOffset = 0;
      var anchorSiblingOffset = 0

      var focusNode = null;
      var focusOffset = 0;
      var focusSiblingOffset = 0

      var range = null;

      console.log('Anchor Node Name: ' + sel.anchorNode.nodeName);
      console.log('Focus Node Name: ' + sel.focusNode.nodeName);

      console.log(jQuery.getXPath(sel.focusNode));
      if((sel.anchorNode === sel.focusNode) ){
        //Everything happens in a single node.
        if(sel.anchorNode.nodeName == '#text'){
          //This is a selection in the same node and it isn't the entire node.
          console.log('You have selected part of a singular node');
          anchorNode = sel.anchorNode;
          anchorOffset = sel.anchorOffset;
          focusNode = sel.anchorNode;
          focusOffset = sel.focusOffset;

          var anchorXPath = '/' + jQuery.getXPath(anchorNode).join('/'); 

          console.log('Anchor Node:' + anchorNode + ' anchorOffset:' + anchorOffset + ' focusNode: ' + focusNode + ' focusOffset: ' + focusOffset);
          for(var i=0; i <= sel.anchorNode.parentNode.childNodes.length; i++){
            if(sel.anchorNode.parentNode.childNodes[i] == sel.anchorNode){
              anchorSiblingOffset = i;
            }
          }
          var rangeObj = jQuery.storeRange(anchorXPath,anchorSiblingOffset,anchorOffset,anchorXPath,anchorSiblingOffset,focusOffset);
          console.log(rangeObj);
          var range = jQuery.createRange(rangeObj);
          range.deleteContents();

        } else if(sel.focusOffset == sel.anchorNode.childNodes.length){
          console.log('You have selected an entire node- just one.');
          //They have selected an entire node, singularly.
          anchorNode = sel.anchorNode;
          anchorOffset = 0;
          focusNode = sel.anchorNode;
          focusOffset = sel.anchorNode.childNodes.length;
          console.log('Anchor Node:' + anchorNode + ' anchorOffset:' + anchorOffset + ' focusNode: ' + focusNode + ' focusOffset: ' + focusOffset);

          var anchorXPath = '/' + jQuery.getXPath(anchorNode).join('/');

          var rangeObj = jQuery.storeRange(anchorXPath,0,0,anchorXPath,0,focusOffset);
          console.log(rangeObj);
          var range = jQuery.createRange(rangeObj);
          range.deleteContents();

          range = document.createRange();
          range.setStart(anchorNode,anchorOffset);
          range.setEnd(focusNode,focusOffset);
          range.deleteContents();
        }
      } else {
        // This is a selection that spans nodes


        anchorNode = sel.anchorNode;
        anchorOffset = sel.anchorOffset;
        focusNode = sel.focusNode;
        focusOffset = sel.focusOffset;
      }

//      myRangeObj = {anchorNode: anchorNode, anchorOffset: anchorOffset, anchorSiblingOffset: anchorSiblingOffset, focusNode: focusNode, focusOffset: focusOffset, focusSiblingOffset: focusSiblingOffset};
//      console.log(myRangeObj);

  });

});
</script>
<p>
  <b>Current opinion:</b>
  <%=h @case.current_opinion %>
</p>

<p>
  <b>Short name:</b>
  <%=h @case.short_name %>
</p>

<p>
  <b>Full name:</b>
  <%=h @case.full_name %>
</p>

<p>
  <b>Decision date:</b>
  <%=h @case.decision_date %>
</p>

<p>
  <b>Author:</b>
  <%=h @case.author %>
</p>

<p>
  <b>Party header:</b>
  <%=h @case.party_header %>
</p>

<p>
  <b>Lawyer header:</b>
  <%=h @case.lawyer_header %>
</p>

<p>
  <b>Header html:</b>
  <%=h @case.header_html %>
</p>

<p>
  <b>Jurisdiction:</b>
  <%=h @case.case_jurisdiction_id %>
</p>

<p id="content">
  <b>Content:</b>
  <%= @case.content %>
</p>

<div id="annotation-tools">
  <a href="#" id="annotate">Annotate</a> | <a href="#" id="collapse_text">Collapse</a>
</div>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
