<% cache("question-instance-index-#{@question_instance.id}-#{request.xhr?.to_s}-#{params[:sort]}") do %>
  <% if ! request.xhr? %>
    <div class="question-instance-description">
      <div class="ajax-error" id="ajax-error-<%= @question_instance.id %>" style="display: none;"></div>
      <div class="status" id="spinner_block" style="display: none;"><%= image_tag('/images/elements/ajax-loader.gif') %></div>
      <h1><%= h @question_instance.name %></h1>
      <% if ! @question_instance.description.blank? %>
        <div class="description"><%= format_html(@question_instance.description) %></div>
      <% end %>
      <div class="meta">
        <span class="datetime">created <%= @question_instance.created_at.to_s(:simpledatetime) %></span>
        <div class="controls" id="controls-<%= @question_instance.id %>">
          <strong>Sort:</strong> <%= select_tag(:sort, options_for_select(Question::POSSIBLE_SORTS_FOR_SELECT)) %>
          <%= link_to('add question', '#', :id => "new-question-for-#{@question_instance.id}-0", :class=>"new-question-for") %> 
        </div>
      </div>
    </div>
    <div id="new-question-form" style="display: none;"></div>
  <% end %>

  <div class="clear"></div>
  <div class="questions" id="questions-<%= @question_instance.id %>">
    <div class="featured">
      <h2>Featured Questions</h2>
      <% featured_questions = @question_instance.featured_questions(:sort => params[:sort]) %>
      <%= render :partial => 'shared/objects/question', :collection => featured_questions %> 
    </div>

    <div class="other">
      <%= render :partial => 'shared/objects/question', :collection => @question_instance.not_featured_questions(:questions_to_exclude => featured_questions, :sort => params[:sort]) %> 
    </div>
  </div>

  <div class="clear"></div>

  <% if ! request.xhr? %>
    <% if @NEVER_TRUE %>
      <div id="timer-controls"><span id="timer-notice"></span>
        Update every: <a href="#" id="seconds-5">5 sec</a> <a href="#" id="seconds-10">10 sec</a> <a href="#" id="seconds-20">20 sec</a> <a href="#" id="seconds-60">1 min</a> <a href="#" id="seconds-300">5 min</a>
      </div>
    <% end %>
  <% end %>
<% end %>

<div id="updated-at" style="display: none;"><%= @question_instance.updated_at %></div>
<div id="updated-at-singleton" style="display: none;"></div>
<div id="is-owner" style="display:none;"><%= current_user && current_user.has_role?(:owner, @question_instance) %></div>
