<section id="results">
	<hgroup id="default_hgroup">
		<ul class="tabs">
			<li><a href="#" data-region="user_collections">USER COLLECTIONS</a></li>
			<li><a href="#" data-region="user_info">USER INFO</a></li>
		</ul>
		<aside class="sort">
		</aside>
		<div class="clear"></div>
	</hgroup>
	<article class="songs">
  <ul id="user_collections">
    <li class="listitem">
      <div class="controls">
        <ul>
          <li class="link-add">
            <a href="<%= new_user_collection_path %>" class="new-action">Add</a>
          </li>
        </ul>
      </div>
      <div class="details">
        <h4><a href="<%= new_user_collection_path %>" class="new-action">Create a New User Collection</a></h4>
      </div>
      <div class="clear"></div>
    </li>
    <%= render :partial => "shared/objects/user_collection", :collection => @current_user.collections %>
  </ul>
	<ul id="user_info">
      <li><b>Login:</b> <%= @user.login %></li>
      <li><b>Login count:</b> <%= @user.login_count %></li>
      <li><b>Last request at:</b> <%= @user.last_request_at %></li>
      <li><b>Last login at:</b> <%= @user.last_login_at %></li>
      <li><b>Current login at:</b> <%= @user.current_login_at %></li>
      <li><b>Last login ip:</b> <%= @user.last_login_ip %></li>
      <li><b>Current login ip:</b> <%= @user.current_login_ip %></li>
      <li><%= link_to 'Edit', edit_user_path(@user) %></li>
	</ul>
	</article>
</section>
