<header class="users">
  <div class="content">
    <h1>
      <%= t 'users.edit-profile.header' %>
    </h1>
  </div>
</header>
<section class="sign-up">
  <div class="content">
    <div class="layout">
      <div class="form">
        <%= simple_form_for @user, url: user_path(@user) do |f| %>
          <div class="error-transition <%= @user.errors.any? ? '' : 'hide' %>"><%= f.error_notification %></div>
            <%= f.input :email_address, hint: t('users.sign-up.edu-only_html') %>
            <%= f.input :attribution %>
            <%= f.input :affiliation %>

              <% if @user.verified_professor %>
                <div class="verified-professor">
                  Verified Professor
                  <span class="verified"></span>
                </div>
            <% elsif @user.professor_verification_requested %>
              <%= f.input :professor_verification_requested, disabled: true, label: 'Professor Verification Requested', input_html: {class: 'disabled'} %>
            <% else %>
              <%= f.input :professor_verification_requested, label: "Request Professor Verification" %>
            <% end %>

            <%= f.button :submit, t('simple_form.labels.user.save-changes') %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="reset-password">
  <div class="content">
    <div class="layout">
      <h3><%= t 'users.change-password.header' %></h3>
      <div class="form">
        <%= simple_form_for @user, url: user_path(@user) do |f| %>
          <%= f.input :current_password, required: true %>
          <%= f.input :password, required: true %>
          <%= f.input :password_confirmation, required: true %>
          <%= f.button :submit, t('simple_form.labels.user.change-password') %>
        <% end %>
      </div>
      <!-- <div class="pitch">
        <h2>
          <%= t 'users.sign-up.pitch.header' %>
        </h2>
        <ul>
          <% t('users.sign-up.pitch.features').each do |feature| %>
            <li>
              <%= feature %>
            </li>
          <% end %>
        </ul>
      </div> -->
    </div>
  </div>
</section>
