<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'homepage-logo',
  :url => "/",
  :right_search => 'shared/search_all' } %>

<section class="breadcrumbs">
	<aside class="filter">
		<p>
		Results for: <%= @user.login %>
    (<% @types.each do |type| -%><%= pluralize @results[type].total_entries, type.to_s.singularize.humanize %><%= ', ' if type != @types.last %><% end -%>)
		</p>
	</aside>
  <%= render :partial => 'shared/user_pagination' %>
	<div class="cl"></div>
</section>

<section id="results">
	<hgroup id="default_hgroup">
		<ul class="tabs">
      <% @types.each do |type| -%>
      <li><a href="#" data-region="all_<%= type.to_s %>"><%= type.to_s.humanize.upcase %></a></li>
      <% end -%>
	    <% if @user.bookmarks.any? -%>
			<li><a href="#" data-region="bookmarks" id="bookmark_tab">BOOKMARKS</a></li>
			<% end -%>
      <% if current_user == @user -%>
			<li><a href="#" data-region="user_collections">USER COLLECTIONS</a></li>
			<li><a href="#" data-region="user_info">USER INFO</a></li>
      <% end -%>
		</ul>
		<aside class="sort">
      <% @types.each do |type| -%>
			<div id="all_<%= type.to_s %>_sort" style="display:none;" data-type="<%= type.to_s %>">
				<%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[type] } %>
			</div>
      <% end -%>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<article class="songs">
  <% @types.each do |type| -%>
	<ul id="all_<%= type.to_s %>">
    <%= render :partial => "shared/objects/#{type == :cases ? 'case_obj' : type.to_s.singularize}", :collection => @results[type] %>
	</ul>
	<% end -%>
	<% if @user.bookmarks.any? -%>
	<ul id="bookmarks" class="playlists">
		<% @user.bookmarks.each_with_index do |item, index| -%>
		<%= render :partial => 'shared/objects/playlist_item',
		  :locals => { :item => item, 
		    :parent_index => '',
			:index => index,
			:recursive_level => 0,
			:my_playlist => @user == current_user } %>
		<% end -%>
	</ul>
	<% end -%>
  <% if current_user == @user -%>
  <ul id="user_collections">
    <li class="listitem">
      <div class="controls">
        <ul>
          <li class="link-add">
            <a href="<%= new_user_collection_path %>" class="new-action">Add</a>
          </li>
        </ul>
      </div>
      <div class="details">
        <h4><a href="<%= new_user_collection_path %>" class="new-action">Create a New User Collection</a></h4>
      </div>
      <div class="cl"></div>
    </li>
    <%= render :partial => "shared/objects/user_collection", :collection => @current_user.collections %>
  </ul>
	<ul id="user_info">
      <li><b>Login:</b> <%= @user.login %></li>
      <li><b>Attribution:</b> <%= @user.attribution %></li>
      <li><b>Login count:</b> <%= @user.login_count %></li>
      <li><b>Last request at:</b> <%= @user.last_request_at %></li>
      <li><b>Last login at:</b> <%= @user.last_login_at %></li>
      <li><b>Current login at:</b> <%= @user.current_login_at %></li>
      <li><b>Last login ip:</b> <%= @user.last_login_ip %></li>
      <li><b>Current login ip:</b> <%= @user.current_login_ip %></li>
      <li><%= link_to 'Edit', edit_user_path(@user) %></li>
	</ul>
	<% end -%>
	</article>
</section>

<section class="breadcrumbs">
  <%#= render :partial => 'shared/user_pagination' %>
</section>
