<div id="fixed_links">
  <a href="#" class="fixed_link left-tooltip" id="collapse_toggle" title="Advanced Search">Collapse/Expand</a>
</div>
<div id="stats" class="right_panel drilldown">
  <%= render "shared/drilldown", :locals => { :user_dash => true } %>
</div>

<div id="results">
  <div id="bookshelf_panel" class="leftcol">
    <h3 class="title">
      <%= @user == current_user ? "My" : "#{@user.simple_display}'s" %> Workshop
      <span class="icon icon-bookshelf"></span>
    </h3>
    <aside class="sort">
     <%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[:all] } %>
    </aside>
    <div class="search_details">
      <% if @collection.results.total_entries > 10 -%>
      <aside class="pagination standard_pagination">
        <%= will_paginate @collection.hits, :container => false, :previous_label => 'Previous', :next_label => 'Next' %>
      </aside>
      <% end -%>
      <p id="totals">
        <%= results_display(@collection, @klass_facets) %> Total
      </p>
    </div>
    <ul id="results_set">
      <% @collection.each_hit_with_result do |hit, result| -%>
      <%= render :partial => "shared/objects/#{result.class == Case ? 'case_obj' : result.class.to_s.downcase}",
                 :locals => { :hit => hit, (result.class == Case ? :case_obj : result.class.to_s.downcase.to_sym) => result } %>
      <% end -%>
    </ul>
  </div>
  <div class="clear"></div>

	<% if @user == current_user && @user.bookmarks.any? -%>
	<div id="bookmarks_panel" class="panel special_panel">
	  <div class="header">
	    <h3>Bookmarks</h3>
      <aside class="pagination users_pagination" id="pagination_bookmarks" data-region="bookmarks">
        <%= will_paginate @paginated_bookmarks, :container => false, :previous_label => 'Previous', :next_label => 'Next', :params => { :ajax_region => "bookmarks" } %>
      </aside>
	  </div>
		<ul id="results_bookmarks" class="playlists">
			<% @paginated_bookmarks.each do |bookmark| -%>
      <% item = bookmark.actual_object %>
      <% if item.present? -%>
      <%= render :partial => "shared/objects/#{item.class == Case ? 'case_obj' : item.class.to_s.downcase}",
                 :locals => { :hit => item, (item.class == Case ? :case_obj : item.class.to_s.downcase.to_sym) => item } %>
			<% end -%>
			<% end -%>
		</ul>
	</div>
	<% end -%>


	<% @types.each do |type, v| -%>
  <% if v[:display] && v[:results].any? -%>
	<div class="panel special_panel">
	  <div class="header">
	    <h3><%= v[:header] %></h3>
      <aside class="special_sort" data-region="<%= type %>">
        <%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[type] } %>
      </aside>
      <% if v[:results].total_entries > 10 -%>
      <aside class="pagination users_pagination" id="pagination_<%= type.to_s %>" data-region="<%= type %>">
        <%= will_paginate v[:results], :container => false, :previous_label => 'Previous', :next_label => 'Next', :params => { :ajax_region => "#{type.to_s}" } %>
      </aside>
      <% end -%>
      <div class="clear"></div>
	  </div>
		<ul id="results_<%= type.to_s %>">
			<% v[:results].each do |item| -%>
      <%= render :partial => "shared/objects/#{v[:partial]}",
                 :locals => { :hit => item, v[:partial].to_sym => item } %>
			<% end -%>
		</ul>
	</div>
	<% end -%>
	<% end -%>
</div>
