<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'homepage-logo',
  :url => "/",
  :right_search => 'shared/search_all' } %>

<section class="breadcrumbs">
	<aside class="filter">
		<p>
		Results for: <%= @user.login %>
		(<%= pluralize @playlists.total_entries, 'Playlist' %>,
		<%= pluralize @collages.total_entries, 'Collage' %>,
		<%= pluralize @cases.total_entries, 'Case' %>)
		<%= link_to "CLEAR SEARCH", search_all_path %>
		</p>
	</aside>
	<aside class="pagination">
		<div class="all_playlists_pagination" data-type="playlists">
		<%= will_paginate @playlists, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
		<div class="all_collages_pagination" style="display:none;" data-type="collages">
		<%= will_paginate @collages, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
		<div class="all_cases_pagination" style="display:none;" data-type="cases">
		<%= will_paginate @cases, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
	</aside>
	<div class="cl"></div>
</section>

<section id="results">
	<hgroup id="default_hgroup">
		<ul class="tabs">
		    <% if @playlists.any? -%>
			<li><a href="#" class="active" data-region="all_playlists">PLAYLISTS</a></li>
			<% end -%>
		    <% if @collages.any? -%>
			<li><a href="#" data-region="all_collages">COLLAGES</a></li>
			<% end -%>
		    <% if @cases.any? -%>
			<li><a href="#" data-region="all_cases">CASES</a></li>
			<% end -%>
		    <% if @user.bookmarks.any? -%>
			<li><a href="#" data-region="bookmarks" id="bookmark_tab">BOOKMARKS</a></li>
			<% end -%>
			<% if current_user == @user -%>
			<li><a href="#" data-region="user_info">USER INFO</a></li>
			<% end -%>
		</ul>
		<aside class="sort">
			<div id="all_playlists_sort" data-type="playlists">
				<%= render :partial => 'shared/sort', :locals => { :list => @generic_sort_list } %>
			</div>
			<div id="all_collages_sort" style="display:none;" data-type="collages">
				<%= render :partial => 'shared/sort', :locals => { :list => @generic_sort_list } %>
			</div>
			<div id="all_cases_sort" style="display:none;" data-type="cases">
				<%= render :partial => 'shared/sort', :locals => { :list => @case_sort_list } %>
			</div>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<article class="songs">
	<% if @playlists.any? -%>
	<ul id="all_playlists">
		<%= render :partial => 'shared/objects/playlist', :collection => @playlists %>
	</ul>
	<% end -%>
	<% if @collages.any? -%>
	<ul id="all_collages" style="display:none;">
		<%= render :partial => 'shared/objects/collage', :collection => @collages %>
	</ul>
	<% end -%>
	<% if @cases.any? -%>
	<ul id="all_cases" style="display:none;">
		<%= render :partial => 'shared/objects/case_obj', :collection => @cases %>
	</ul>
	<% end -%>
	<% if @user.bookmarks.any? -%>
	<ul id="bookmarks" class="playlists">
		<% @user.bookmarks.each_with_index do |item, index| -%>
		<%= render :partial => 'shared/objects/playlist_item',
		  :locals => { :item => item, 
		    :parent_index => '',
			:index => index,
			:recursive_level => 0,
			:my_playlist => @user == current_user } %>
		<% end -%>
	</ul>
	<% end -%>
	<% if current_user == @user -%>
	<ul id="user_info" <%= raw 'style="display:none;"' if @playlists.any? || @collages.any? || @cases.any? %>>
      <li><b>Login:</b> <%= @user.login %></li>
      <li><b>Login count:</b> <%= @user.login_count %></li>
      <li><b>Last request at:</b> <%= @user.last_request_at %></li>
      <li><b>Last login at:</b> <%= @user.last_login_at %></li>
      <li><b>Current login at:</b> <%= @user.current_login_at %></li>
      <li><b>Last login ip:</b> <%= @user.last_login_ip %></li>
      <li><b>Current login ip:</b> <%= @user.current_login_ip %></li>
      <li><%= link_to 'Edit', edit_account_path %></li>
	</ul>
	<% end -%>
	</article>
</section>

<section class="breadcrumbs">
	<aside class="pagination">
		<div class="all_playlists_pagination" data-type="playlists">
		<%= will_paginate @playlists, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
		<div class="all_collages_pagination" style="display:none;" data-type="collages">
		<%= will_paginate @collages, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
		<div class="all_cases_pagination" style="display:none;" data-type="cases">
		<%= will_paginate @cases, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
	</aside>
</section>

<%= render :partial => "shared/popup", :locals => { :type => "collage" } %>
