<footer>
  <div class="wrapper">
    <div id="footer_links">
      <% footer_links.each do |page| -%>
      <% if page.slug == "faq" -%>
      <a href="/blog">Blog</a>
      <% end -%>
      <a class="<%= 'last' if footer_links.last == page %>" href="/p/<%= page.slug %>"><%= page.footer_link_text.present? ? page.footer_link_text : page.page_title %></a>
      <% end -%>
    </div>
    <% if params[:controller] == 'base' && params[:action] == 'index' -%>
    <div id="sponsors">
      <a id="berkman" target="_blank" href="http://cyber.law.harvard.edu/"><%= image_tag "berkman.png", :alt => "Berkman" %></a>
      <a id="hlsl" target="_blank" href="http://www.law.harvard.edu/library/"><%= image_tag "hlsl.png", :alt => "HLSL" %></a>
    </div>
    <div id="supporters">
      <h4>Supported by:</h4>
      <a id="liblab" target="_blank" href="http://osc.hul.harvard.edu/liblab">Harvard Library Lab</a>
      <a id="hilt" target="_blank" href="http://hilt.harvard.edu/"><%= image_tag "hilt.png", :alt => "Hilt" %></a>
      <a id="fastcase" target="_blank" href="http://www.fastcase.com/"><%= image_tag "fastcase.gif", :alt => "Fastcase" %></a>
    </div>
    <% end -%>
    <div class="clear"></div>
  </div>
</footer>
