<nav>
	<ul>
		<li><%= link_to "Playlists", playlists_path, { :class => params[:controller] == 'playlists' ? 'active' : '' } %></li>
		<li><%= link_to "Collage", collages_path, { :class => params[:controller] == 'collages' ? 'active' : '' } %></li>
		<li><%= link_to "Cases", cases_path, { :class => params[:controller] == 'cases' ? 'active' : '' } %></li>
		<li><%= link_to "Text Blocks", text_blocks_path, { :class => params[:controller] == 'text_blocks' ? 'active' : '' } %></li>
		<li class="last"><%= link_to "Media Items", medias_path, { :class => params[:controller] == 'medias' ? 'active' : '' } %></li>
	</ul>
	<% if ["collages#show", "playlists#show"].include?("#{params[:controller]}##{params[:action]}") -%>
	<ul class="right requires_logged_in">
		<li class="user_account"></li>
		<li class="last"><%= link_to "sign out", log_out_path %></li>
	</ul>
	<%= link_to "sign in", crossroad_user_session_path, :id => 'header_login', :class => 'afterload' %>
	<% else -%>
	<% if current_user -%>
	<ul class="right" id="logged-in">
		<li><%= link_to current_user.login, user_path(current_user) %></li>
		<li><%= link_to "Dashboard", dashboard_user_path(current_user.id) %></li>
		<li class="last"><%= link_to "sign out", log_out_path %></li>
	</ul>
	<% else -%>
	<%= link_to "sign in", crossroad_user_session_path, :id => 'header_login' %>
	<% end -%>
	<% end -%>
	<div class="cl"></div>
</nav>
