<nav>
	<ul>
		<li><%= link_to "Question Tool", question_instances_path, { :class => params[:controller] == 'question_instances' ? 'active' : '' } %></li>
		<li><%= link_to "Rotisserie", rotisserie_instances_path, { :class => params[:controller] == 'rotisserie_instances' ? 'active' : '' } %></li>
		<li><%= link_to "Playlists", playlists_path, { :class => params[:controller] == 'playlists' ? 'active' : '' } %></li>
		<li><%= link_to "Collage", collages_path, { :class => params[:controller] == 'collages' ? 'active' : '' } %></li>
		<li class="last"><%= link_to "Cases", cases_path, { :class => params[:controller] == 'cases' ? 'active' : '' } %></li>
	</ul>
	<ul class="right">
		<% if current_user -%>
		<li><%= link_to current_user.login, user_path(current_user) %></li>
		<li class="last"><%= link_to "log out", user_session_path, :method => :delete %></li>
		<% else -%>
		<li class="last"><%= link_to "log in", crossroad_user_session_path %></li>
		<% end -%>
	</ul>
	<div class="cl"></div>
</nav>
