<div class="h2o-playlistable-<%= playlistable_item.name %>">
  <p><strong>Keywords:</strong> <%= text_field_tag :keywords, params[:keywords], :id => "#{playlistable_item.name}-keyword-search" %><button class="<%= playlistable_item.name%>-button">Go</button></p>
  <div class="object-list-<%= playlistable_item.name %>-<%= playlistable_item.name.tableize%>">
  <% if @objects -%>
    <table class="core_table tablesorter compact_table">
      <thead>
        <tr class="table_heading">
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @objects.hits.each do |hit| -%>
          <tr>
            <td><%= link_to(hit.stored(:display_name), "##{playlistable_item.name}-#{hit.stored(:id)}") -%></td>
            <td><button class="add-<%= playlistable_item.name %>-button" id="<%= %Q|#{playlistable_item.name}-#{hit.stored(:id)}| %>">Add</button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @objects.hits -%>
  <% end %>
</div>
</div>
<div class="clear"></div>