<% if @display_drilldown -%>
<div id="fixed_links">
  <a href="#" class="fixed_link left-tooltip" id="collapse_toggle" title="Advanced Search">Collapse/Expand</a>
</div>
<div id="stats" class="right_panel drilldown">
<%= render "shared/drilldown" %>
</div>
<% end -%>

<section id="results" class="multiitems leftcol <%= params[:controller] == "users" ? "expanded_leftcol" : "" %>">
  <% if params.has_key?(:featured) %>
  <span class="featured">
  You are viewing featured <%= @type_lookup.to_s.capitalize %>. Click <a href="/<%= @type_lookup %>">here</a> to view all <%= @type_lookup.to_s.capitalize %>.
  </span>
  <% end -%>
	<aside class="sort">
		<%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[@type_lookup] } %>
	</aside>
	<div class="search_details">
		<aside class="pagination standard_pagination">
			<% if @type_lookup == :medias -%>
			<%= will_paginate @collection.results, :container => false, :previous_label => 'Previous', :next_label => 'Next', :params => { :media_type => params[:media_type] } %>
			<% else -%>
			<%= will_paginate @collection.results, :container => false, :previous_label => 'Previous', :next_label => 'Next' %>
			<% end -%>
		</aside>
		<h2>
		<% if params[:tag] -%>
		<%= @label %> tagged: <%= CGI.unescape(params[:tag]) %> (<%= pluralize @collection.results.total_entries, @label %> Total)
		<%= link_to "CLEAR TAG", self.send("#{@type_lookup.to_s}_path") %>
		<% elsif params[:keywords] -%>
		Search Results: <b><%= params[:keywords] %></b>
		<% end -%>
		<p id="totals">
    <%= results_display(@collection, @klass_facets) %> Total
		</p>
		</h2>
	</div>
	<ul id="results_set">
		<% @collection.each_hit_with_result do |hit, result| -%>
    <%= render :partial => "shared/objects/#{result.klass_partial}", :locals => { :hit => hit, result.klass_sym => result } %>
		<% end -%>
	</ul>
	<div class="search_details bottom">
		<aside class="pagination standard_pagination">
			<% if @type_lookup == :medias -%>
			<%= will_paginate @collection.results, :container => false, :previous_label => 'Previous', :next_label => 'Next', :params => { :media_type => params[:media_type] } %>
			<% else -%>
			<%= will_paginate @collection.results, :container => false, :previous_label => 'Previous', :next_label => 'Next' %>
			<% end -%>
		</aside>
	</div>
</section>

<div class="clear"></div>
