<h1>Listing excerpts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Collage</th>
    <th>reason</th>
    <th>Anchor x path</th>
    <th>Anchor sibling offset</th>
    <th>Anchor offset</th>
    <th>Focus x path</th>
    <th>Focus sibling offset</th>
    <th>Focus offset</th>
    <th>Parent</th>
    <th>Children count</th>
    <th>Ancestors count</th>
    <th>Descendants count</th>
    <th>Position</th>
    <th>Hidden</th>
  </tr>

<% @excerpts.each do |excerpt| %>
  <tr>
    <td><%=h excerpt.user_id %></td>
    <td><%=h excerpt.collage_id %></td>
    <td><%=h excerpt.reason %></td>
    <td><%=h excerpt.anchor_x_path %></td>
    <td><%=h excerpt.anchor_sibling_offset %></td>
    <td><%=h excerpt.anchor_offset %></td>
    <td><%=h excerpt.focus_x_path %></td>
    <td><%=h excerpt.focus_sibling_offset %></td>
    <td><%=h excerpt.focus_offset %></td>
    <td><%=h excerpt.parent_id %></td>
    <td><%=h excerpt.children_count %></td>
    <td><%=h excerpt.ancestors_count %></td>
    <td><%=h excerpt.descendants_count %></td>
    <td><%=h excerpt.position %></td>
    <td><%=h excerpt.hidden %></td>
    <td><%= link_to 'Show', excerpt %></td>
    <td><%= link_to 'Edit', edit_excerpt_path(excerpt) %></td>
    <td><%= link_to 'Destroy', excerpt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New excerpt', new_excerpt_path %>
