<h1>New excerpt</h1>

<% form_for(@excerpt) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :collage_id %><br />
    <%= f.text_field :collage_id %>
  </p>
  <p>
    <%= f.label :reason %><br />
    <%= f.text_field :reason %>
  </p>
  <p>
    <%= f.label :anchor_x_path %><br />
    <%= f.text_field :anchor_x_path %>
  </p>
  <p>
    <%= f.label :anchor_sibling_offset %><br />
    <%= f.text_field :anchor_sibling_offset %>
  </p>
  <p>
    <%= f.label :anchor_offset %><br />
    <%= f.text_field :anchor_offset %>
  </p>
  <p>
    <%= f.label :focus_x_path %><br />
    <%= f.text_field :focus_x_path %>
  </p>
  <p>
    <%= f.label :focus_sibling_offset %><br />
    <%= f.text_field :focus_sibling_offset %>
  </p>
  <p>
    <%= f.label :focus_offset %><br />
    <%= f.text_field :focus_offset %>
  </p>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :children_count %><br />
    <%= f.text_field :children_count %>
  </p>
  <p>
    <%= f.label :ancestors_count %><br />
    <%= f.text_field :ancestors_count %>
  </p>
  <p>
    <%= f.label :descendants_count %><br />
    <%= f.text_field :descendants_count %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :hidden %><br />
    <%= f.check_box :hidden %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', excerpts_path %>
