<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'homepage-logo',
  :url => "/",
  :right_search => 'shared/search_all' } %>

<div class="standard-form">
  <h3>Change my settings</h3>
<% form_for @user, :url => settings_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>
</div>

<br /><%= link_to "My Dashboard", user_path(@user) %>
