<% if @page.is_user_guide -%>
<div id="page_user_guide">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td width="260" valign="top" id="help_links">
        <% help_links.each do |page| -%>
        <% if page.slug == "faq" -%>
        <a href="/blog">Blog</a>
        <% end -%>
        <a class="<%= 'active' if @page.slug == page.slug %>" href="/p/<%= page.slug %>"><%= page.user_guide_link_text.present? ? page.user_guide_link_text : page.page_title %></a>
        <% end -%>
      </td>
      <td id="page_content">
        <h1><%= @page.page_title %></h1>
        <%= raw @page.content %>
      </td>
    </tr>
  </table>
</div>
<% else -%>
<div id="page">
  <% if @page.slug != 'terms' -%>
  <h1><%= @page.page_title %></h1>
  <% end -%>
  <%= raw @page.content %>
</div>
<% end -%>
