<%
object_id = params[:id].blank? ? container_id : params[:id]

@rotisserie_discussions = RotisserieInstance.find(object_id).rotisserie_discussions

%>

<table class="ui-widget ui-widget-content">
  <thead>
    <tr class="ui-widget-header ">
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
      <th>Round</th>
    </tr>
  </thead>

  <tbody>
    <% @rotisserie_discussions.each do |rotisserie_discussion| %>
      <tr>
        <td><%= link_to rotisserie_discussion.title, rotisserie_discussion %></td>
        <td>
          <button id="button-discussion-edit-<%= rotisserie_discussion.id %>" name="button-discussion-edit" class="ui-button ui-state-default ui-corner-all">
            <%= image_tag "/images/icons/application_form_edit.png" %>
          </button>
        </td>
        <td>
          <button id="button-discussion-delete-<%= rotisserie_discussion.id %>" name="button-discussion-delete" class="ui-button ui-state-default ui-corner-all">
            <%= image_tag "/images/icons/application_form_delete.png" %>
          </button>
        </td>
        <td>
          <%= rotisserie_discussion.current_round %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>