<%
object_id = params[:id].blank? ? container_id : params[:id]

@rotisserie_discussions = RotisserieInstance.find(object_id).rotisserie_discussions

%>

<table class="ui-widget ui-widget-content ">
  <thead>
    <tr class="ui-widget-header ">
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
      <th>Round</th>
      <th class="table_cell_wide">Start Date</th>
      <th>Crank</th>
      <th>Decrease Start</th>
      <th>Increase Start</th>
    </tr>
  </thead>

  <tbody>
    <% @rotisserie_discussions.each do |rotisserie_discussion| %>
      <tr>
        <td><%= link_to rotisserie_discussion.title, rotisserie_discussion %></td>
        <td>
          <button id="button-discussion-edit-<%= rotisserie_discussion.id %>" name="button-discussion-edit" class="ui-button ui-state-default ui-corner-all">
            <%= image_tag "/images/icons/application_form_edit.png" %>
          </button>
        </td>
        <td>
          <button id="button-discussion-delete-<%= rotisserie_discussion.id %>" name="button-discussion-delete" class="ui-button ui-state-default ui-corner-all">
            <%= image_tag "/images/icons/application_form_delete.png" %>
          </button>
        </td>
        <td id="rotisserie_discussion_round-<%=  rotisserie_discussion.id %>">
          <% if rotisserie_discussion.closed? %>
            Closed
          <% elsif rotisserie_discussion.pending? %>
            Pending
          <% else %>
            <%= rotisserie_discussion.current_round %>
          <% end %>
        </td>
        <td id="rotisserie_discussion_startdate-<%=  rotisserie_discussion.id %>" class="table_cell_wide">
          <%= rotisserie_discussion.start_date %>
        </td>
        <td>
          <% if rotisserie_discussion.crankable? && (rotisserie_discussion.admin? || rotisserie_discussion.owner?)%>
          <button id="button-discussion-activate-<%= rotisserie_discussion.id %>" name="button-discussion-activate" class="ui-button ui-state-default ui-corner-all">
            <%= image_tag "/images/icons/cog.png" %>
          </button>
          <% end %>
        </td>
        <td>
          <% if rotisserie_discussion.admin? || rotisserie_discussion.owner? %>
          <button id="button-discussion-decreasedate-<%= rotisserie_discussion.id %>" name="button-discussion-decreasedate" class="ui-button ui-state-default ui-corner-all">
            <%= image_tag "/images/icons/time_delete.png" %>
          </button>
          <%  end %>
        </td>
        <td>
          <% if rotisserie_discussion.admin? || rotisserie_discussion.owner? %>
          <button id="button-discussion-increasedate-<%= rotisserie_discussion.id %>" name="button-discussion-increasedate" class="ui-button ui-state-default ui-corner-all">
            <%= image_tag "/images/icons/time_add.png" %>
          </button>
          <% end %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>