<li id="response-<%= response.id %>" class="listitem listitem<%= response.id %>" data-itemid="<%= response.id %>">
	<div class="details">
    <p><b>"</b><%= response.content %><b>"</b></p>
    <div class="error">
      Created by <%= link_to(response.user.display, user_path(response.user)) %> on <%= response.created_at.strftime("%B %d, %Y") %>
      <% if response.resource_type == 'TextBlock' -%>
      <%= link_to 'DELETE', text_block_response_path(response.resource_id, response.id), :class => "icon icon-delete tooltip", "data-type" => "response", "data-id" => response.id %>
      <% else -%>
      <%= link_to 'DELETE', collage_response_path(response.resource_id, response.id), :class => "icon icon-delete tooltip", "data-type" => "response", "data-id" => response.id %>
      <% end -%>
    </div>
  </div>
	<div class="clear"></div>
</li>
