<h1>Editing case_docket_number</h1>

<% form_for(@case_docket_number) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :case_id %><br />
    <%= f.text_field :case_id %>
  </p>
  <p>
    <%= f.label :docket_number %><br />
    <%= f.text_field :docket_number %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @case_docket_number %> |
<%= link_to 'Back', case_docket_numbers_path %>