- contents.each do |object|
  - if object.is_a? Casebook::Resource
    .listing-wrapper{data: {ordinals: object.ordinal_string}}
      %a.listing.resource{href: book_section_path(object.book, object), draggable: true, data: {ordinals: object.ordinal_string}}
        .section-number= object.ordinal_string
        .section-title= object.title
        .resource-date
          = object.try(:date_year) || t('casebooks.resource.date.not-applicable')
        - if object.is_a? Casebook::Resource
          - if object.resource.is_a? Case
            .resource-case= object.resource.short_name
          - elsif object.resource.is_a? TextBlock
            .resource-type= t 'casebooks.resource.type.text'
          - elsif object.resource.is_a? Default
            .resource_type= t "casebooks.resource.type.#{object.resource.content_type.parameterize}"
          - else
            .resource-type
              .not-applicable= t "casebooks.resource.type.not-applicable"
      - if editable && object.can_delete?
        .actions
          = button_to t('casebooks.edit.delete-section'), book_section_path(object.book, object), method: :delete, class: 'action-delete'

  - elsif object.is_a? Casebook::Section
    - if @edit_section == object
      = render partial: 'casebooks/sections/form', locals: {section: object}
    - else
      .listing-wrapper{draggable: true, data: {ordinals: object.ordinal_string}}
        %a.listing.section{href: book_section_path(object.book, object), draggable: true, data: {ordinals: object.ordinal_string}}
          .section-number= object.ordinal_string
          .section-title= object.title
        - if editable && object.can_delete?
          .actions
            = button_to t('casebooks.edit.delete-section'), book_section_path(object.book, object), method: :delete, class: 'action-delete'

  - elsif object.is_a? Enumerable
    .section-wrapper
      .section-contents
        = render partial: 'casebooks/table_of_contents/show', locals: {contents: object, editable: editable}
