<div class="annotation-details" id="annotation-details-<%= @annotation.id %>">
  <div class="meta">
    <span class="user"><span>by</span> <%= @annotation.creators && @annotation.creators.collect{|c| c.login}.join(',') %></span>
    <span class="datetime unixtime"><%= @annotation.updated_at.to_s(:long) %></span>
    <div class="layers">Layers: <%= @annotation.layers.collect{|l|"<span class='c#{l.id % 10}'>#{l.name}</span>"}.join(' ') %></div>
  </div>
  <% unless @annotation.annotation.blank? %>
    <h3>Annotation</h3>
    <div class="annotation-content">
      <%= Annotation.format_content(@annotation.annotation) %>
    </div>
    <div class="spacer_block"></div>
  <% end %>
  <h3>Annotated Content</h3>
  <div class="annotated-content">
    <%= @annotation.annotated_content %>
  </div>
</div>
