<div class="annotation-details" id="annotation-details-<%= @annotation.id %>">
  <div id="annotation-tabs-<%= @annotation.id %>">
    <ul>
      <li><a href="#annotation-info-<%= @annotation.id %>">Annotation info</a></li>
      <li><a href="#lineage-info-<%= @annotation.id %>">Lineage</a></li>
    </ul>
    <div id="annotation-info-<%= @annotation.id %>">
      <div class="meta">
        <span class="user"><span>created by</span> <%= @annotation.creators && @annotation.creators.collect{|c| c.login}.join(',') %></span>
        <% if @editors %>
          <span class="user"><span>edited by</span> <%= @editors.collect{|c| c.login}.join(',') %></span>
        <% end %>
        <span class="datetime unixtime"><%= @annotation.updated_at.to_s(:long) %></span>
        <div class="layers">Layers: <%= @annotation.layers.collect{|l|"<span class='c#{l.id % 10}'>#{l.name}</span>"}.join(' ') %></div>
        <div class="counts">Counts: <%= (@annotation.annotation_word_count > 0) ? "#{@annotation.annotation_word_count} word(s) annotating #{@annotation.word_count} words" : "Annotating #{@annotation.word_count} word(s)" %></div>
      </div>
      <% unless @annotation.annotation.blank? %>
        <h3>Annotation</h3>
        <div class="annotation-content">
          <%= Annotation.format_content(@annotation.annotation) %>
        </div>
        <div class="spacer_block"></div>
      <% end %>
      <h3>Annotated Content</h3>
      <div class="annotated-content">
        <%= @annotation.annotated_content %>
      </div>
    </div>
    <div id="lineage-info-<%= @annotation.id %>">
      <h3>Direct Contributors to this annotation:</h3>
      <ul>
        <% @annotation.editors && @annotation.editors.each do |editor| %>
          <li><%= h editor.to_s %></li>
        <% end %>
      </ul>
      <% unless @original_creators.blank? %>
        <h3>Based on an annotation created by:</h3>
        <ul>
          <% @original_creators.each do |role| %>
            <li><%= h role.user %></li>
          <% end %>
        </ul>
      <% end %>
      <h3>Lineage</h3>
      <ul class="lineage">
        <%= [@annotation.path,@annotation.children].flatten.map{|ann| "<li class=\"depth-#{ann.depth}\">#{(ann == @annotation) ? ann : link_to(ann,collage_path(ann.collage.id, :anchor => ann.id), :title => 'Click to see the original annotation in context.')}</li>"}.join(' ') %>
      </ul>
    </div>
  </div>
</div>
