<div class="annotation-details" id="annotation-details-<%= @annotation.id %>">
  <div class="annotation-content"><%= @annotation.annotation %></div>
  <div class="annotated-content">
    <h2>Annotated Content</h2>
    <%= @annotation.annotated_content %>
  </div>

  <div class="meta">
    <span class="user"><span>by</span> <%= @annotation.user.login %></span>
    <span class="datetime unixtime"><%= @annotation.updated_at.to_s(:long) %></span><br />
    <span class="layers">Layers: <%= @annotation.layers.collect{|l|"<span>#{l.name}</span>"}.join(',') %></span>
  </div>
</div>
