<table class="tabs" width="100%" cellpadding="0" cellspacing="0"><tr>
<td><a href="#" id="annotation-info" class="current">Annotation Information</a></td>
<td><a style="display:none;" id="edit_annotation_link" href="#">Edit</a></td>
</tr></table>
</div>
<div class="annotation-info tab_panel">
  <div class="meta stats_panel">
    <p>
      <label>Last Updated:</label>
      <%= @annotation.updated_at.strftime("%B %d, %Y") %>
    </p>
    <p>
      <label>Created by:</label>
      <%= @annotation.creators && @annotation.creators.collect{|c| c.login}.join(',') %>
    </p>
    <% if @annotation.editors.present? -%>
    <p>
      <label>Contributors:</label>
      <%= @annotation.editors && @annotation.editors.collect{|c| c.login}.join(',') %>
    </p>
    <% end -%>
    <% if false && !@original_creators.blank? %>
    <p>
      <label>Based on an annotation created by:</label>
      <%= @original_creators.collect { |c| c.user }.join(', ') %>
    </p>
    <% end %>
    <p>
      <label>Layers:</label>
      <%= raw(@annotation.layers.collect{|l|"<span class='c#{l.id % 10}'>#{l.name}</span>"}.join(' ')) %>
    </p>
    <p>
      <label>Counts:</label>
      <%= (! @annotation.annotation_word_count.blank?) ? "#{@annotation.annotation_word_count} word(s) annotating #{@annotation.word_count} words" : "Annotating #{@annotation.word_count} word(s)" %>
    </p>
  </div>
  <% unless @annotation.annotation.blank? %>
    <h4>Annotation</h4>
    <div class="annotation-content">
      <%= raw @annotation.formatted_annotation_content %>
    </div>
  <% end %>
  <h4>Annotated Content</h4>
  <div class="annotated-content">
    <%= raw @annotation.annotated_content %>
  </div>
  <% if false -%>
  <h4>Lineage</h4>
  <ul class="lineage">
    <%= raw([@annotation.path,@annotation.children].flatten.map{|ann| "<li class=\"depth-#{ann.depth}\">#{(ann == @annotation) ? h(ann) : link_to(h(ann),collage_path(ann.collage.id, :anchor => ann.id), :title => 'Click to see the original annotation in context.')}</li>"}.join(' ')) %>
  </ul>
  <% end -%>
</div>
<div class="edit_annotation_link tab_panel" style="display:none;">
  <%= render :partial => 'shared/forms/annotation' %>
</div>
