<% if case_obj.public -%>
<% cache(["list-object", case_obj], :compress => H2O_CACHE_COMPRESSION) do %>
<li class="listitem listitem<%= case_obj.id %>" id="listitem_case<%= case_obj.id %>" data-itemid="<%= case_obj.id %>" data-type="case">
  <a href="#" class="tooltip list-icon icon icon-case" title="Case"></a>
  <div class="details">
    <h3>
      <%= link_to case_obj.name_abbreviation, case_obj, :class => "title" %>
    </h3>
    <p class="cases_details">
      <%= case_obj.case_citations.collect { |c| c.display_name }.join(', ') %> /

      <% if !case_obj.decision_date.nil? -%>
      <%= case_obj.decision_date %>
      <% end -%>
    </p>
  </div>
  <div class="right_details">
  <div class="controls">
    <%= link_to raw('<span class="icon icon-read"></span>READ'), case_obj, :class => "action read-action" %>
    <a data-item_id="<%= case_obj.id %>" data-type="case" class="link-add" href="#"><span class="icon icon-add"></span>ADD</a>
    <%= link_to raw('<span class="icon icon-favorite"></span>BOOKMARK'), '#',
      :class => "link-bookmark bookmark-action",
      "data-itemid" => case_obj.id,
      "data-type" => "case" %>
  </div>
  </div>
  <div class="clear"></div>
</li>
<% end -%>
<% end -%>
