<li class="listitem listitem<%= case_approval.id %>" data-itemid="<%= case_approval.id %>">
	<% if current_user -%>
	<div class="controls">
		<ul>
			<li class="link-collage"><%= link_to 'Collage This', new_collage_path(:annotatable_type => 'Case', :annotatable_id => case_approval), :class => "new-action" %></li>
			<li class="link-add"><a data-item_id="<%= case_approval.id %>" data-bookmarktype="item_case" data-type="case" href="#">Add</a></li>
		</ul>
	</div>
	<% end -%>
	<div class="details">
		<% cache "case-#{case_approval.id}-tags" do -%>
		<div class="tags">
			<% case_approval.tag_list.each do |tag| %>
			<%= link_to tag, case_tag_path(CGI.escape(tag)) %>
			<% end -%>
		</div>
		<% end -%>
		<h4>
			<%= link_to case_approval.short_name, case_approval %>
      <% if current_user && case_approval.deleteable? && (@is_case_admin || @my_cases.include?(case_approval)) %>
      <%= link_to "DELETE", case_path(case_approval), :class => "action delete-action" %>
    	<% end %>
      <% if current_user && (@is_case_admin || @my_cases.include?(case_approval)) %>
        <%= link_to "EDIT", edit_case_path(case_approval), :class => "action" %>
      <% end %>
      <% if current_user && (@is_case_admin || @my_cases.include?(case_approval)) %>
	    <%= link_to "APPROVE", approve_case_path(case_approval), :class => "action approve-action" %>
      <% end %>
		</h4>
		<% cache "case-#{case_approval.id}-index" do -%>
		<p class="cases_details">
			<%= case_approval.case_citations.collect { |c| "#{c.volume} #{c.reporter.gsub(/\./, '')} #{c.page}" }.join(', ') %> /

			<% if !case_approval.decision_date.nil? -%>
			<%= case_approval.decision_date %>
			<% if case_approval.collages.any? -%> / <% end -%>
			<% end -%>

			<% if case_approval.collages.any? -%>
			<a href="#" class="case_collages" data-id="<%= case_approval.id %>"><%= pluralize case_approval.collages.size, 'Collage' %> &raquo;</a>
			<% end -%>
		</p>
		<% if case_approval.collages.any? -%>
		<div id="collages<%= case_approval.id %>" class="collages">
			<ul id="collages<%= case_approval.id %>">
				<% case_approval.top_ancestors.each do |collage| -%>
				<%= render :partial => 'cases/ancestry', :locals => { :collage => collage } -%>
				<% end -%>
			</ul>
			<a href="#" class="hide_collages" data-id="<%= case_approval.id %>">HIDE &raquo;</a>
		</div>
		<% end -%>
		<% end -%>
		<div class="influence"></div>
	</div>
	<div class="cl"></div>
</li>
