<li class="listitem listitem<%= case_request.id %>" data-itemid="<%= case_request.id %>">
	<div class="details">
		<h4>
			<%= link_to case_request.full_name, case_request %>
      <% if current_user && (@is_case_admin || @my_case_requests.include?(case_request)) %>
      <%= link_to "DELETE", case_request_path(case_request), :class => "action delete-action" %>
    	<% end %>
      <% if current_user && (@is_case_admin || @my_case_requests.include?(case_request)) %>
      <%= link_to "EDIT", edit_case_request_path(case_request), :class => "action" %>
      <% end %>
      <% if current_user && (@is_case_admin) %>
      <%= link_to "CREATE CASE FROM THIS REQUEST", new_from_case_request_cases_path(:case_request_id => case_request.id), :class => "action" %>
      <% end %>
		</h4>
		
		<p class="cases_details">

			<%= case_request.decision_date %>, 
      <%= case_request.author %>,
      <%= case_request.case_jurisdiction %>, 
      <%= case_request.docket_number %>, 
      <%= case_request.volume %>, 
      <%= case_request.reporter %>,
      <%= case_request.page %>,
      <%= case_request.bluebook_citation %>, 
      <%= case_request.status %> 


		</p>
	</div>
  <div class="cl"></div>
</li>
