<li class="listitem listitem<%= case_obj.id %>" id="listitem_case<%= case_obj.id %>" data-itemid="<%= case_obj.id %>">
  <a href="#" class="tooltip list-icon icon icon-case" title="Case"></a>
  <div class="details">
    <h4>
      <%= link_to case_obj.short_name, case_obj %>
      <% if current_user && case_obj.deleteable? && (@is_admin[:case] || @my_belongings[:cases].include?(case_obj)) %>
      <%= link_to "DELETE", case_path(case_obj), :class => "icon icon-delete tooltip", :title => "Delete" %>
      <% end %>
      <% if current_user && (@is_admin[:case] || @my_belongings[:cases].include?(case_obj)) %>
      <%= link_to "EDIT", edit_case_path(case_obj), :class => "icon edit-external icon-edit tooltip", :title => "Edit" %>
      <% end %>
    </h4>
    <% cache "case-#{case_obj.id}-index" do -%>
    <p class="cases_details">
      <%= case_obj.case_citations.collect { |c| "#{c.volume} #{c.reporter.gsub(/\./, '')} #{c.page}" }.join(', ') %> /

      <% if !case_obj.decision_date.nil? -%>
      <%= case_obj.decision_date %>
      <% if case_obj.collages.any? -%> / <% end -%>
      <% end -%>
      <% cache "case-#{case_obj.id}-tags" do -%>
      <% if case_obj.tag_list.any? -%>
      | <%= raw case_obj.tag_list.collect { |tag| link_to(tag, case_tag_path(CGI.escape(tag))) }.join(', ') %>
      <% end -%>
      <% end -%>
    </p>
    <% end -%>
  </div>
  <div class="right_details">
  <div class="barcode_outer">
    <%= render :partial => "shared/barcode", :locals => { :object => case_obj } %>
  </div>
  <% if current_user -%>
  <div class="controls">
    <%= link_to raw('<span class="icon icon-read"></span>READ'), case_obj, :class => "action read-action" %>
    <%= link_to raw('<span class="icon icon-collage-this"></span>COLLAGE THIS'), new_collage_path(:annotatable_type => 'Case', :annotatable_id => case_obj), :class => "new-action link-collage" %>
    <a data-item_id="<%= case_obj.id %>" data-bookmarktype="item_case" data-type="case" class="link-add" href="#"><span class="icon icon-add"></span>ADD</a>
    <%= link_to raw('<span class="icon icon-favorite"></span>BOOKMARK'), '#',
      :class => "link-bookmark bookmark-action", 
      "data-itemid" => case_obj.id,
      "data-type" => "case" %>
  </div>
  <% end -%>
  </div>
  <div class="clear"></div>
</li>
