<li class="listitem listitem<%= case_request.id %>" data-itemid="<%= case_request.id %>">
	<div class="details">
		<h4>
			<%= case_request.full_name %>
      <%= link_to "DELETE", case_request_path(case_request), :class => "icon icon-delete tooltip" %>
      <%= link_to "CREATE CASE FROM THIS REQUEST", new_case_path(:case_request_id => case_request.id), :class => "action" %>
		</h4>
		
		<p class="cases_details">
      <% [:decision_date, :author, :case_jurisdiction, :docket_number, :volume, :reporter, :page, :bluebook_citation].each do |f| -%>
			<%= f %>: <%= case_request.send(f) %><br /> 
      <% end -%>
		</p>
	</div>
  <div class="clear"></div>
</li>
