<li class="listitem listitem<%= case_obj.id %>" data-itemid="<%= case_obj.id %>">
	<% if current_user -%>
	<div class="controls">
		<ul>
			<li class="link-collage"><%= link_to 'Collage This', new_collage_path(:annotatable_type => 'Case', :annotatable_id => case_obj), :class => "new-action" %></li>
			<li class="link-add"><a data-item_id="<%= case_obj.id %>" data-bookmarktype="item_case" data-type="case" href="#">Add</a></li>
		</ul>
	</div>
	<% end -%>
	<div class="details">
		<div class="tags">
			<ul>
				<% case_obj.tags.each do |tag| %>
				<li><%= link_to tag.name, case_tag_path(tag.name) %></li>
				<% end -%>
			</ul>
		</div>
		<h4>
			<%= link_to case_obj.short_name, case_obj %>
			<% if current_user -%>
            <% if @is_case_admin || @my_cases.include?(case_obj) %>
            <%= link_to "DELETE", case_path(case_obj), :class => "action delete-action" %>
			<% end -%>
            <% if @is_case_admin || @my_cases.include?(case_obj) %>
            <%= link_to "EDIT", edit_case_path(case_obj), :class => "action edit-case_obj edit-action" %>
          	<% end %>
          	<% end %>
		</h4>
		<p class="cases_details">
			<%= case_obj.case_citations.collect { |c| "#{c.volume} #{c.reporter.gsub(/\./, '')} #{c.page}" }.join(', ') %> /

			<% if !case_obj.decision_date.nil? -%>
			<%= case_obj.decision_date %>
			<% if case_obj.collages.any? -%> / <% end -%>
			<% end -%>

			<% if case_obj.collages.any? -%>
			<a href="#" class="case_collages" data-id="<%= case_obj.id %>"><%= pluralize case_obj.collages.size, 'Collage' %> &raquo;</a>
			<% end -%>
		</p>
		<% if case_obj.collages.any? -%>
		<div id="collages<%= case_obj.id %>" class="collages">
			<ul id="collages<%= case_obj.id %>">
				<% case_obj.top_ancestors.each do |collage| -%>
				<%= render :partial => 'cases/ancestry', :locals => { :collage => collage } -%>
				<% end -%>
			</ul>
			<a href="#" class="hide_collages" data-id="<%= case_obj.id %>">HIDE &raquo;</a>
		</div>
		<% end -%>
		<div class="influence"></div>
	</div>
	<div class="cl"></div>
</li>
