<li class="listitem">
	<div class="controls">
		<% if current_user %>
  		<% form_tag(spawn_copy_collage_path(collage)) do %>
		<ul>
			<li><%= image_submit_tag "ui/song-controls-copy.png" %></li>
			<li class="link-add"><a class="<%= collage.id %>" href="#">Add</a></li>
		</ul>
  		<% end %>      
  		<% end %>      
	</div>
	<details>
		<div class="tags">
			<ul>
				<% collage.tags.each do |tag| %>
				<li><%= link_to tag.name, collage_tag_path(tag.name) %></li>
				<% end -%>
			</ul>
		</div>
		<h4><%= link_to collage.name, collage_path(collage), :class => "title" %>
			<% if current_user && (@is_collage_admin || @my_collages.include?(collage)) %>
    		<%= link_to 'DELETE', collage, :confirm => 'Are you sure?', :method => :delete, :class => "action delete_action" %>
			<%= link_to 'EDIT', edit_collage_path(collage), :class => "action" %>
  			<% end %>
		</h4>
		<p>
			<%= collage.created_at.to_s(:simpledatetime) %> by
			<%= collage.creators.collect { |u| u.login }.join(',') %>
		</p>
		<p class="extra">
			On: "<%= link_to(collage.annotatable.display_name, collage.annotatable) %>
		</p>
	</details>
	<div class="cl"></div>
</li>
