<% if !collage.nil? -%>
<li class="listitem listitem<%= collage.id %>" data-itemid="<%= collage.id %>">
	<% if current_user %>
	<div class="controls">
  		<% form_tag(spawn_copy_collage_path(collage)) do %>
		<ul>
			<li class="link-copy"><a href="#">Copy</a></li>
			<li class="link-add"><a data-item_id="<%= collage.id %>" data-bookmarktype="item_collage" data-type="collage" href="#">Add</a></li>
		</ul>
  		<% end %>      
	</div>
  	<% end %>      
	<div class="details">
  <% cache "collage-#{collage.id}-tags" do %>
		<div class="tags">
			<% collage.tag_list.each do |tag| %>
			<%= link_to tag, collage_tag_path(CGI.escape(tag)) %>
			<% end -%>
		</div>
		<% end -%>
		<h4><%= link_to collage.name, collage_path(collage), :class => "title" %>
			<% if current_user && (@is_collage_admin || @my_collages.include?(collage)) %>
    		<%= link_to 'DELETE', collage, :class => "action delete-action" %>
  			<% end %>
		</h4>
		<p>
			<%= collage.created_at.to_s(:simpledatetime) %>
      <% if collage.creators -%>
      by
			<%= raw collage.creators.collect { |u| link_to("#{u.login} (#{u.karma.to_i})", user_path(u)) }.join(',') %>
      <% end -%>
		</p>
		<p class="extra">
			On: "<%= link_to(collage.annotatable.display_name, collage.annotatable) %>
		</p>
	</div>
	<div class="cl"></div>
</li>
<% end -%>
