<% if collage.present? -%>
<div class="collage-content" id="collage<%= collage.id %>" data-id="<%= collage.id %>">
<div class="article">
<% cache(["printable-content", collage.annotatable], :expires_in => 2.weeks, :compress => H2O_CACHE_COMPRESSION) do %>
<%= raw collage.printable_content %>
<% end -%>
</div>
</div>
<script type="text/javascript">

document.addEventListener("DOMContentLoaded", function() {
  console.log("firing ICD for id: <%= collage.id %>" );
  export_functions.initiate_collage_data(<%= collage.id %>, {
    data: <%= raw(params[:state] || collage.readable_state || "{}") %>,
    annotations: <%= raw collage.annotations.inject({}) { |h, a| h["a#{a.id}"] =  a.to_json(:include => :layers); h }.to_json %>,
    layer_data: <%= raw collage.layer_data.to_json %>,
    highlights_only: <%= raw collage.highlights_only.to_json %>
  });
});

</script>
<% end -%>
