<tr>
  <td>
    <%= link_to collage.display_name, collage_path(collage) %><br />
    <%= Collage.format_content(collage.description) %>
    <p>On: "<%= link_to(collage.annotatable.display_name, collage.annotatable) %>", in <%= Collage.count(:conditions => {:annotatable_type => collage.annotatable.class.name, :annotatable_id => collage.annotatable_id}) %> collages.</p>
  </td>
  <td>
    <%= render :partial => 'shared/collage_meta', :object => collage %>
  </td>
    <% if current_user %>
      <td>
        <% form_tag(spawn_copy_collage_path(collage)) do %>
          <%= submit_tag('Copy', :class => 'button') %>
        <% end %>
        <% if collage.can_edit? %>
          <%= link_to 'Edit', edit_collage_path(collage), :class => 'button' %>
          <%= link_to 'Delete', collage, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %>
        <% end %>
      </td>
    <% end %>
</tr>
