<li class="listitem listitem<%= content_error.id %>" data-itemid="<%= content_error.id %>">
	<%= link_to(url_for(content_error.annotated_item) + "#a#{content_error.id}", class: "details") do %>
    <h3>
      <% if content_error.annotated_item_type == 'TextBlock' -%>
      <%= "Text Block: #{content_error.annotated_item.name}" %>
      <% else -%>
      <%= "Annotated Item: #{content_error.annotated_item.name}" %>
      <% end -%>
    </h3>
    <p>Reported by <%= content_error.user.display %></p>
    <p><b>Message:</b> <%= content_error.annotation %></p>
  <% end %>
	<div class="clear"></div>
</li>
