<li class="listitem listitem<%= media.id %>" id="listitem_media<%= media.id %>" data-itemid="<%= media.id %>">
  <a href="#" class="tooltip list-icon icon icon-media-<%= media.media_type.slug %>" title="<%= media.media_type.label %>"></a>
	<div class="details">
    <% cache "media-#{media.id}-tags" do %>
      <div class="tags">
        <% media.tag_list.each do |tag| %>
        <%= link_to tag, media_tag_path(CGI.escape(tag)) %>
        <% end -%>
      </div>
    <% end -%>
    <h4>
      <%= link_to media.name, media_path(media), :class => "title" %>
      <% if current_user && (@is_admin[:media] || @my_belongings[:medias].include?(media)) %>
        <%= link_to 'DELETE', media, :class => "icon icon-delete tooltip", :title => "Delete" %>
      <% end %>
      <% if current_user && (@is_admin[:media] || @my_belongings[:medias].include?(media)) %>
        <%= link_to 'EDIT', edit_media_path(media), :class => "icon edit-external icon-edit tooltip", :title => "Edit" %>
      <% end %>
    </h4>
    <% cache "media-#{media.id}-index" do %>
    <p>
      <%= media.created_at.to_s(:simpledatetime) %>
      <% if media.creators -%>
      by
      <%= raw media.creators.collect { |u| link_to(u.display, user_path(u)) }.join(',') %>
      <% end -%>
    </p>
    <% end -%>
	</div>
  <div class="right_details">
  <div class="barcode_outer">
    <%= render :partial => "shared/barcode", :locals => { :object => media } %>
  </div>
	<% if current_user -%>
	<div class="controls">
    <%= link_to raw('<span class="icon icon-read"></span>READ'), media, :class => "action read-action" %>
    <a data-item_id="<%= media.id %>" data-bookmarktype="item_media" data-type="media" href="#" class="link-add"><span class="icon icon-add"></span>ADD</a>
    <%= link_to raw('<span class="icon icon-favorite"></span>BOOKMARK'), '#',
      :class => "link-bookmark bookmark-action", 
      "data-itemid" => media.id,
      "data-type" => "media" %>
	</div>
	<% end -%>
  </div>
	<div class="clear"></div>
</li>
