<li class="listitem listitem<%= pending_case.id %>" data-itemid="<%= pending_case.id %>">
  <a href="#" class="tooltip list-icon icon icon-case" title="Pending Case"></a>
  <div class="details">
    <h3>
      <%= pending_case.name_abbreviation %>
      <%= link_to "DELETE", case_path(pending_case), :class => "icon icon-delete tooltip", :title => "Delete", "data-type" => "case", "data-id" => pending_case.id %>
      <%= link_to "EDIT", edit_case_path(pending_case), :class => "icon edit-external icon-edit tooltip", :title => "Edit" %>
      <% if current_user.has_role?(:case_admin) %>
      <%= link_to "APPROVE", approve_case_path(pending_case), :class => "icon icon-approve action approve-action tooltip", :title => "Approve" %>
      <% end -%>
    </h3>
    <p class="cases_details">
      <%= pending_case.case_citations.collect { |c| c.display_name }.join(', ') %> /

      <% if !pending_case.decision_date.nil? -%>
      <%= pending_case.decision_date %>
      <% end -%>
    </p>
    <div class="influence"></div>
  </div>
  <div class="clear"></div>
</li>
