<li class="listitem listitem<%= pending_case.id %>" data-itemid="<%= pending_case.id %>">
  <a href="#" class="tooltip list-icon icon icon-case" title="Pending Case"></a>
  <div class="details">
    <h4>
      <%= pending_case.short_name %>
      <%= link_to "DELETE", case_path(pending_case), :class => "icon icon-delete tooltip", :title => "Delete" %>
      <%= link_to "EDIT", edit_case_path(pending_case), :class => "icon edit-action icon-edit tooltip", :title => "Edit" %>
      <% if current_user.is_case_admin -%>
      <%= link_to "APPROVE", approve_case_path(pending_case), :class => "icon icon-approve action approve-action tooltip", :title => "Approve" %>
      <% end -%>
    </h4>
    <% cache "case-#{pending_case.id}-index" do -%>
    <p class="cases_details">
      <%= pending_case.case_citations.collect { |c| "#{c.volume} #{c.reporter.gsub(/\./, '')} #{c.page}" }.join(', ') %> /

      <% if !pending_case.decision_date.nil? -%>
      <%= pending_case.decision_date %>
      <% if pending_case.collages.any? -%> / <% end -%>
      <% end -%>
      <% cache "case-#{pending_case.id}-tags" do -%>
      <% if pending_case.tag_list.any? -%>
      | <%= raw pending_case.tag_list.collect { |tag| link_to(tag, case_tag_path(CGI.escape(tag))) }.join(', ') %>
      <% end -%>
      <% end -%>
    </p>
    <% end -%>
    <div class="influence"></div>
  </div>
  <div class="clear"></div>
</li>
