<li class="playlist listitem level<%= recursive_level %>" id="playlist_item_<%= item.id %>" data-itemid="<%= item.resource_item.id %>">
	<div class="controls">
		<ul>
			<li class="number"><%= parent_index == '' ? "#{index + 1}" : "#{parent_index}.#{index}" %></li>
			<li class="link-add"><a class="<%= item.id %>" href="#">+</a></li>
		</ul>
	</div>
	<div class="data">
		<% if recursive_level < 3 && item.resource_item_type == 'ItemPlaylist' && item.resource_item.actual_object -%>
		<%= link_to 'Show/Hide More', '#', :class => 'dd-open' %>
		<% end -%>
		<div class="tags">
			<% if defined?(item.resource_item.actual_object) -%>
			<ul>
				<% item.resource_item.actual_object.tags.each do |tag| -%>	
				<li><a href="#"><%= tag.name %></a></li>
				<% end -%>
			</ul>
			<% end -%>
		</div>
		<hgroup>
			<h3>
				<% if item.resource_item.actual_object -%>
				<%= link_to item.resource_item.name, item.resource_item.actual_object %>
				<% else -%>
				<%= link_to item.resource_item.name, item.resource_item.url %>
				<% end -%>
			</h3>
			<a href="#" class="icon-type icon-type-<%= item.resource_item_type.downcase %>"></a>
			<% if current_user && @playlist_admi || my_playlist %>
			<%= link_to "DELETE", url_for(:controller => item.resource_item_type.tableize, :action => 'destroy', :id => item.resource_item), :class => "action delete-action delete-playlist-item" %>
			<%= link_to "EDIT", url_for(:controller => item.resource_item_type.tableize, :action => 'edit', :id => item.resource_item), :class => "action edit-action" %>
			<% end -%>
			<div class="cl"></div>
		</hgroup>
		<p>
			<%= PlaylistItem.format_content(item.resource_item.description) %>
		</p>
	</div>
	<div class="cl"></div>
	<% if recursive_level < 4 && item.resource_item_type == 'ItemPlaylist' && item.resource_item.actual_object -%>
	<section class="playlists">
		<ul>
			<% item.resource_item.actual_object.playlist_items.each_with_index do |nested_item, nested_index| -%>
			  <%= render :partial => 'shared/objects/playlist_item',
			    :locals => { :item => nested_item,
				  :parent_index => parent_index == '' ? index + 1 : "#{parent_index}.#{index}",
				  :index => nested_index + 1,
				  :recursive_level => recursive_level + 1,
				  :my_playlist => false } %>
			<% end -%>
		</ul>
	</section>
	<% end -%>
 </li>
