<% cache "playlist-list-object-#{hit.stored(:id)}" do %>
<li class="listitem listitem<%= hit.stored(:id) %>" id="listitem_playlist<%= hit.stored(:id) %>" data-itemid="<%= hit.stored(:id) %>">
  <a href="#" class="tooltip list-icon icon icon-playlist" title="Playlist">Playlist</a>
  <div class="details">
    <h3>
      <%= link_to raw(playlist.name), playlist %>
    </h3>
    <p>
      <% if hit.stored(:author_id).present? -%>
      <% if hit.stored(:root_author_id).present? && hit.stored(:root_author_id) != hit.stored(:author_id) -%>
      Original Creator: <%= link_to hit.stored(:root_author_display), "/users/#{hit.stored(:root_author_id)}" %> |
      Current Version: <%= link_to hit.stored(:author_display), "/users/#{hit.stored(:author_id)}" %> |
      <% else -%>
      <%= link_to hit.stored(:author_display), "/users/#{hit.stored(:author_id)}" %> |
      <% end -%>
      <% end -%>
      <%= number_with_delimiter(playlist.collage_word_count[0], :delimiter => ',') %> Words |
      <%= playlist.updated_at.strftime("%B %d, %Y") %>
    </p>
  </div>

  <div class="right_details">
  <div class="barcode_outer">
  <%= render :partial => "shared/barcode", :locals => { :object => playlist } %>
  </div>
  <div class="controls">
    <%= link_to raw('<span class="icon icon-read"></span>READ'), playlist, :class => "action read-action" %>
    <%= link_to raw('<span class="icon icon-remix"></span>REMIX'), copy_playlist_path(playlist), :class => "link-remix remix-action", "data-type" => "playlist", "data-title" => playlist.name %>
    <%= link_to raw('<span class="icon icon-push"></span>PUSH'), push_playlist_path(playlist), :class => "push-action" %>
    <a data-item_id="<%= playlist.id %>" data-bookmarktype="item_playlist" data-type="playlist" href="#" class="link-add"><span class="icon icon-add"></span>ADD</a>
    <%= link_to raw('<span class="icon icon-favorite"></span>BOOKMARK'), '#',
      :class => "link-bookmark bookmark-action", 
      "data-itemid" => playlist.id,
      "data-type" => "playlist" %>
  </div>
  </div>

  <div class="clear"></div>
</li>
<% end -%>
