<li class="<%= "dd-item" if recursive_level == 0 %> playlist listitem level<%= recursive_level %> listitem<%= resource_item.id %> <%= 'last' if last %>" id="playlist_item_<%= item.id %>" data-id="<%= item.id %>" data-itemid="<%= resource_item.id %>">
  <div class="wrapper">
  <div class="inner-wrapper <%= "dd-handle" if recursive_level == 0 %>">
    <table><tr>
      <td class="width_<%= (recursive_level + 1)*11 %> number"><%= parent_index == '' ? "#{index}" : "#{parent_index}.#{index}" %></td>
      <td class="icon-cell">
        <% if item.resource_item_type == 'ItemMedia' && actual_object -%>
        <a href="#" class="tooltip icon icon-media-<%= actual_object.media_type.slug %>" title="<%= actual_object.media_type.label %>"></a>
        <% else -%>
        <a href="#" class="tooltip icon icon-<%= item.clean_type %>" title="<%= actual_object.is_a?(Default) ? "Link" : actual_object.class %>"></a>
        <% end -%>
      </td>
      <td class="rr-cell">
        <% if item.render_dropdown -%>
        <%= link_to 'Show/Hide More', '#', :class => 'rr rr-closed', :id => "rr#{resource_item.id}" %>
        <% end -%>
      </td>
      <td class="title-cell">
		    <% if item.resource_item_type == 'ItemDefault' -%>
		    <%= link_to resource_item.name, actual_object.url, :target => '_blank', :class => "title" %>
		    <% elsif actual_object.present? -%>
		    <%= link_to raw(resource_item.name), actual_object, :target => '_blank', :class => "title" %>
		    <% end -%>
		    <% if recursive_level == 0 %>
		    <%= link_to raw('<span class="icon icon-delete"></span>'), url_for(:controller => item.resource_item_type.tableize, :action => 'destroy', :id => resource_item),
		      :class => "action delete-playlist-item requires_remove" %>
		    <%= link_to raw('<span class="icon icon-edit"></span>'), url_for(:controller => item.resource_item_type.tableize, :action => 'edit', :id => resource_item), 
		      :class => "action edit-playlist-item requires_edit" %>
		    <% end -%>
      </td>
    </tr></table>
    <% if item.render_dropdown -%>
    <div class="additional_details">
      <% if actual_object.present? && [Playlist, Collage].include?(actual_object.class) -%>
      <span class="creator_details">
        Original Creator: <%= raw actual_object.root.owners.collect{|u| link_to(u.simple_display, user_path(u), :class => "author_link") }.join(',') %>
      </span>
      <% if actual_object.root != actual_object -%>
      <span class="creator_details">
      Current Version: <%= raw actual_object.owners.collect{|u| link_to(u.simple_display, user_path(u), :class => "author_link") }.join(',') %>
      </span>
      <% end -%>
      <% end -%>

	    <% if actual_object.respond_to?(:description) && actual_object.description != resource_item.description -%>
	    <div class="resource_item_desc">
	      <%= PlaylistItem.format_content(resource_item.description) %>
	    </div>
	    <% end -%>
	    <% if item.notes.to_s != '' && item.public_notes -%>
	    <div class="notes">
	      <b>Additional Notes:</b><br /><%= PlaylistItem.format_content(item.notes) %>
	    </div>
	    <% end -%>
	    <% if actual_object.respond_to?(:description) && !actual_object.is_a?(TextBlock) && actual_object.description != '' -%>
	    <div class="actual_obj_desc">
	      <%= PlaylistItem.format_content(actual_object.description) %>
	    </div>
	    <% end -%>
    </div>
    <% end -%>
  </div>
  </div>
    <% if recursive_level < 4 && item.resource_item_type == 'ItemPlaylist' && actual_object -%>
    <section class="playlists">
      <ol>
        <% actual_object.playlist_items.each_with_index do |nested_item, nested_index| -%>
          <%= render :partial => 'shared/objects/playlist_item',
            :locals => { :item => nested_item,
            :resource_item => nested_item.resource_item,
            :actual_object => nested_item.resource_item.actual_object,
            :parent_index => parent_index == '' ? index : "#{parent_index}.#{index}",
            :index => nested_index + 1,
            :recursive_level => recursive_level + 1,
            :last => (nested_item == actual_object.playlist_items.last) } %>
        <% end -%>
      </ol>
    </section>
    <% end -%>
 </li>
