<li class="playlist listitem level<%= recursive_level %> listitem<%= item.resource_item.id %>" id="playlist_item_<%= item.id %>" data-itemid="<%= item.resource_item.id %>">
	<div class="controls">
		<ul>
			<li class="number"><%= parent_index == '' ? "#{index}" : "#{parent_index}.#{index}" %></li>
			<li class="link-add requires_logged_in">
				<a class="<%= item.id %>" href="#" data-item_id="<%= item.resource_item_type != 'ItemDefault' && item.resource_item.actual_object ? item.resource_item.actual_object_id : item.resource_item_id %>" data-bookmarktype="<%= item.resource_item_type.underscore %>" data-type="<%= item.object_type %>">+</a>
			</li>
		</ul>
	</div>
	<div class="data">
		<% if recursive_level < 3 && item.resource_item_type == 'ItemPlaylist' && item.resource_item.actual_object -%>
		<%= link_to 'Show/Hide More', '#', :class => 'dd dd-closed', :id => "dd#{item.resource_item.id}" %>
		<% end -%>
		<% if ['ItemCollage', 'ItemCase', 'ItemPlaylist'].include?(item.resource_item_type) && !item.resource_item.actual_object.nil? -%>
		<% type = item.resource_item.actual_object_type.downcase
		   ao = item.resource_item.actual_object
		-%>
		<% cache "#{type}-#{ao.id}-tags" do -%>
		<div class="tags">
			<% ao.tags.each do |tag| -%>	
		  <a href="<%= send "#{type}_tag_path", CGI.escape(tag.name) %>"><%= tag.name %></a>
		  <% end -%>
		</div>
		<% end -%>
		<% end -%>
		<hgroup class="<%= item.resource_item_type.gsub(/^Item/, '').downcase %><%= item.resource_item_type != 'ItemDefault' && item.resource_item.actual_object ? item.resource_item.actual_object_id : item.resource_item_id %>">
		<h3>
        <% if item.resource_item_type == 'ItemDefault' -%>
        <%= link_to item.resource_item.name, item.resource_item.url, :target => '_blank' %>
        <% elsif item.resource_item_type == 'ItemCollage' && !item.resource_item.actual_object.nil? -%>
        <%= link_to item.resource_item.name, item.resource_item.actual_object, :target => '_blank' %>
        <% elsif !item.resource_item.actual_object.nil? -%>
				<%= link_to item.resource_item.name, item.resource_item.actual_object, :target => '_blank' %>
        <% else -%>
        <%= item.resource_item.name %>
        <% end -%>
		    <span class="icon-type icon-type-<%= item.resource_item_type.downcase %>"></span>
			</h3>
			<% if recursive_level == 0 %>
			<%= link_to "REMOVE", url_for(:controller => item.resource_item_type.tableize, :action => 'destroy', :id => item.resource_item), :class => "action delete-action delete-playlist-item requires_remove" %>
			<%= link_to "EDIT", url_for(:controller => item.resource_item_type.tableize, :action => 'edit', :id => item.resource_item), :class => "action edit-action requires_edit" %>
			<% end -%>
			<div class="cl"></div>
		</hgroup>
		<div <%= raw 'class="item_description"' if item.resource_item_type == 'ItemPlaylist' %>>
			<%= PlaylistItem.format_content(item.resource_item.description) %>
		</div>
    <% if item.notes.to_s != '' && item.public_notes -%>
		<div class="notes">
			<b>Additional Notes:</b><br /><%= PlaylistItem.format_content(item.notes) %>
		</div>
    <% end -%>
	</div>
	<div class="cl"></div>
	<% if recursive_level < 4 && item.resource_item_type == 'ItemPlaylist' && item.resource_item.actual_object -%>
	<section class="playlists">
		<ul>
			<% item.resource_item.actual_object.playlist_items.each_with_index do |nested_item, nested_index| -%>
			  <%= render :partial => 'shared/objects/playlist_item',
			    :locals => { :item => nested_item,
				  :parent_index => parent_index == '' ? index : "#{parent_index}.#{index}",
				  :index => nested_index + 1,
				  :recursive_level => recursive_level + 1 } %>
			<% end -%>
		</ul>
	</section>
	<% end -%>
 </li>
