<li class="playlist listitem level<%= recursive_level %> listitem<%= item.resource_item.id %>" id="playlist_item_<%= item.id %>" data-itemid="<%= item.resource_item.id %>">
	<div class="controls">
		<ul>
			<li class="number"><%= parent_index == '' ? "#{index + 1}" : "#{parent_index}.#{index}" %></li>
			<li class="link-add">
				<a class="<%= item.id %>" href="#" data-item_id="<%= item.resource_item_id %>" data-bookmarktype="<%= item.resource_item_type.underscore %>" data-type="<%= item.object_type %>">+</a>
			</li>
		</ul>
	</div>
	<div class="data">
		<% if recursive_level < 3 && item.resource_item_type == 'ItemPlaylist' && item.resource_item.actual_object -%>
		<%= link_to 'Show/Hide More', '#', :class => 'dd dd-closed' %>
		<% end -%>
		<% if ['ItemCollage', 'ItemCase', 'ItemPlaylist'].include?(item.resource_item_type) && !item.resource_item.actual_object.nil? -%>
		<% type = item.resource_item.actual_object_type.downcase
		   ao = item.resource_item.actual_object
		-%>
		<% cache "#{type}-#{ao.id}-tags" do -%>
		<div class="tags">
			<ul>
				<% ao.tags.each do |tag| -%>	
				<li><a href="<%= send "#{type}_tag_path", CGI.escape(tag.name) %>"><%= tag.name %></a></li>
				<% end -%>
			</ul>
		</div>
		<% end -%>
		<% end -%>
		<hgroup>
			<h3>
				<% if item.resource_item_type != 'ItemDefault' && !item.resource_item.actual_object.nil? -%>
				<%= link_to item.resource_item.name, item.resource_item.actual_object %>
				<% else -%>
				<%= link_to item.resource_item.name, item.resource_item.url, :target => 'blank' %>
				<% end -%>
		    <a href="#" class="icon-type icon-type-<%= item.resource_item_type.downcase %>"></a>
			</h3>
			<% if recursive_level == 0 %>
			<%= link_to "REMOVE", url_for(:controller => item.resource_item_type.tableize, :action => 'destroy', :id => item.resource_item), :class => "action delete-action delete-playlist-item requires_edit" %>
			<%= link_to "EDIT", url_for(:controller => item.resource_item_type.tableize, :action => 'edit', :id => item.resource_item), :class => "action edit-action requires_edit" %>
			<% end -%>
			<div class="cl"></div>
		</hgroup>
		<div <%= raw 'class="item_description"' if item.resource_item_type == 'ItemPlaylist' %>>
			<%= PlaylistItem.format_content(item.resource_item.description) %>
		</div>
	</div>
	<div class="cl"></div>
	<% if recursive_level < 4 && item.resource_item_type == 'ItemPlaylist' && item.resource_item.actual_object -%>
	<section class="playlists">
		<ul>
			<% item.resource_item.actual_object.playlist_items.each_with_index do |nested_item, nested_index| -%>
			  <%= render :partial => 'shared/objects/playlist_item',
			    :locals => { :item => nested_item,
				  :parent_index => parent_index == '' ? index + 1 : "#{parent_index}.#{index}",
				  :index => nested_index + 1,
				  :recursive_level => recursive_level + 1 } %>
			<% end -%>
		</ul>
	</section>
	<% end -%>
 </li>
