<li class="listitem listitem<%= playlist.id %>" data-itemid="<%= playlist.id %>">
	<% if current_user -%>
	<div class="controls">
		<ul>
			<li class="link-play"><%= link_to 'Remix Playlist', copy_playlist_path(playlist), :class => "remix-action" %></li>
			<li class="link-add"><a data-item_id="<%= playlist.id %>" data-bookmarktype="item_playlist" data-type="playlist" href="#">Add</a></li>
		</ul>
	</div>
	<% end -%>
	<div class="details">
		<div class="tags">
			<ul>
				<% playlist.tags.each do |tag| %>
				<li><%= link_to tag.name, playlist_tag_path(CGI.escape(tag.name)) %></li>
				<% end -%>
			</ul>
		</div>
		<h4>
			<%= link_to playlist.name, playlist %>
			<% if current_user -%>
          	<% if @is_playlist_admin || @my_playlists.include?(playlist) %>
            <%= link_to "DELETE", playlist_path(playlist), :class => "action delete-action" %>
			<% end -%>
          	<% if @is_playlist_admin || @playlists_i_can_edit.include?(playlist) || @my_playlists.include?(playlist) %>
            <%= link_to "EDIT", edit_playlist_path(playlist), :class => "action edit-playlist edit-action" %>
          	<% end %>
          	<% end %>
		</h4>
		<p>
			<%= playlist.created_at.to_s(:simpledatetime) %> by
			<%= raw playlist.owners.collect{|u| link_to(u.login, user_path(u)) }.join(',') %>
		</p>
		<div class="influence"></div>
	</div>
	<div class="cl"></div>
</li>
