<li class="listitem">
	<div class="controls">
		<% if current_user -%>
		<ul>
			<li class="link-play"><a href="#">Play</a></li>
			<li class="link-add"><a class="<%= playlist.id %>" href="#">Add</a></li>
		</ul>
		<% end -%>
	</div>
	<details>
		<div class="tags">
			<ul>
				<% playlist.tags.each do |tag| %>
				<li><a href="#"><%= tag.name %></a></li>
				<% end -%>
			</ul>
		</div>
		<h4>
			<%= link_to playlist.name, playlist %>
			<% if current_user -%>
          	<% if @is_playlist_admin || @my_playlists.include?(playlist) %>
            <%= link_to "DELETE", '#', :class => "action delete_action delete-playlist" %>
			<% end -%>
          	<% if @is_playlist_admin || @playlists_i_can_edit.include?(playlist) || @my_playlists.include?(playlist) %>
            <%= link_to "EDIT", edit_playlist_path(playlist), :class => "action edit-playlist" %>
          	<% end %>
          	<% end %>
		</h4>
		<p>
			<%= playlist.created_at.to_s(:simpledatetime) %> by
			<%= playlist.owners.collect{|u| u.login}.join(',') %>
		</p>
		<div class="influence"></div>
	</details>
	<div class="cl"></div>
</li>
