<% cache("question-detail-view-#{question.id}") do %>
  <div id="question-<%= question.id %>" class="question<%= (question.sticky) ? ' sticky' : '' %><%= (@updated_question_id == question.id) ? ' updated' : '' %>">
    <div class="votes">
      <%= (question.votes_count.to_i == 0 || ! question.voted_by?(current_user)) ? (link_to(image_tag('elements/arrow-up.gif'),'', :id => "vote-for-#{question.question_instance_id}-#{question.id}")) : '' %>
      <div class="count"><%= question.vote_tally %></div>
      <%= (question.votes_count.to_i == 0 || ! question.voted_by?(current_user)) ? (link_to(image_tag('elements/arrow-down.gif'),'', :id => "vote-against-#{question.question_instance_id}-#{question.id}")) : '' %>
    </div>
    <p><%= h question.question.to_s %></p>
    <div class="meta">
      <span class="replies"><%= question.reply_count %> <%= (question.children.length != 0) ? link_to('show', '#', :id => "show-replies-on-#{question.id}",:class => 'show-replies') : '' %> <%= link_to('add', '#', :id => "new-question-for-#{question.question_instance_id}-#{question.id}", :class => 'new-question-for' ) %></span>
      <span class="user"><span>by</span> <%= question.user.login %></span>
      <span class="datetime"><%= time_ago_in_words(question.created_at) %> ago</span>
    </div>
    <div class="clear"></div>
    <div class="replies-container" id="replies-container-<%= question.id %>" style="display:none;"></div>
  </div>
<% end %>
