<div id="question-<%= question.id %>" class="question<%= (question.sticky) ? ' sticky' : '' %><%= (@updated_question_id == question.id) ? ' updated' : '' %>">
  <div class="votes">
    <div class="count"><%= question.vote_count %></div>
    <div class="actions"><%= (question.vote_count.to_i == 0 || ! question.voted_by?(current_user)) ? (link_to('+','#', :id => "vote-for-#{question.question_instance_id}-#{question.id}")) : 'n/a' %></div>
  </div>
  <p><%= h question.question.to_s %></p>
  <div class="meta">
    <span class="replies"><span>replies:</span> <%= question.reply_count %> <%= link_to('add', '#', :id => "new-reply-on-#{question.id}" ) %></span>
    <span class="user"><span>by</span> <%= question.user.login %></span>
    <span class="datetime"><%= time_ago_in_words(question.created_at) %> ago</span>
  </div>
  <div class="clear"></div>
</div>
