<% cache("question-detail-view-#{question.id}") do %>
  <div id="question-<%= question.id %>" class="question<%= (question.sticky) ? ' sticky' : '' %>">
    <div class="votes" id="votes-for-<%= question.id %>">
      <%= link_to('<div class="up"></div>','', :id => "vote-for-#{question.question_instance_id}-#{question.id}", :class => 'up') %>
      <div class="count"><%= question.vote_tally %></div>
      <%= link_to('<div class="down"></div>','', :id => "vote-against-#{question.question_instance_id}-#{question.id}", :class=> 'down') %>
      <span class="total_count"><%= (question.votes.blank?) ? '' : "#{question.votes.count} total" %></span>
    </div>
    <p><%= h question.question.to_s %></p>
    <div class="meta">
      <span class="replies"><%= question.reply_count %> <%= (question.children.length != 0) ? link_to('show', '#', :id => "show-replies-on-#{question.id}",:class => 'show-replies') : '' %> <%= link_to('add', '#', :id => "new-question-for-#{question.question_instance_id}-#{question.id}", :class => 'new-question-for' ) %></span>
      <span class="user"><span>by</span> <%= question.user.login %></span>
      <span class="datetime unixtime"><%= question.updated_at.to_i %></span>
      <a href="#" class="destroy" id="destroy-<%= question.id %>"></a>
      <a href="#" class="toggle-sticky" id="toggle-sticky-<%= question.id %>"></a>
    </div>
    <div class="clear"></div>
    <div class="replies-container" id="replies-container-<%= question.id %>" style="display:none;"></div>
  </div>
<% end %>
