<div id="question-<%= question.id %>" class="question<%= (question.sticky) ? ' sticky' : '' %>">
  <div class="votes">
    <div class="count"><%= question.vote_count %></div>
    <div class="actions"><%= (question.vote_count.to_i == 0 || ! question.voted_by?(current_user)) ? (link_to('+','#', :id => "vote-for-#{question.question_instance_id}-#{question.id}")) : 'n/a' %></div>
  </div>
  <p><%= h question.question.to_s %></p>
  <div class="meta">
    by <span class="user"><%= question.user.login %></span>
    <span class="datetime"><%= time_ago_in_words(question.created_at) %> ago</span>
  </div>
  <div class="clear"></div>
</div>
