<li id="question-<%= reply.id %>" class="reply<%= (reply.sticky) ? ' sticky' : '' %><%= (@updated_question_id == reply.id) ? ' updated' : '' %>">
  <%= Question.format_content(reply.question) %>
  <span class="meta">
    <span class="replies"><%= link_to('add', new_question_path('question[question_instance_id]' => reply.question_instance_id, 'question[parent_id]' => reply.id), :id => "new-question-for-#{reply.question_instance_id}-#{reply.id}", :class => 'new-question-for' ) %></span><br/>
    <span class="user"><%= reply.user %></span>
    <span class="datetime unixtime"><%= reply.updated_at.to_i %></span>
    <a href="#" id="destroy-<%= reply.id %>" class="destroy"></a>
  </span>
  <% if reply.children.length > 0 %>
    <ul>
      <%= render :partial => 'shared/objects/reply', :collection => reply.children.find(:all, :order => 'position desc') %>
    </ul>
  <% end %>
</li>
