<li class="listitem listitem<%= response.id %>" data-itemid="<%= response.id %>" data-target="<%= url_for(response.resource) %>#<%=  %>">
	<%= link_to(url_for(response.resource) + "#response-#{response.id}", class: "details") do %>
    <h3>
      <% if response.resource_type == 'TextBlock' -%>
      <%= "Text Block: #{response.resource.name}" %>
      <% else -%>
      <%= "Annotated Item: #{response.resource.name}" %>
      <% end -%>
    </h3>
    <p>Created by <%= response.user.display %> on <%= response.created_at.strftime("%B %d, %Y") %></p>
  <% end %>
	<div class="clear"></div>
</li>
