<li class="listitem listitem<%= user.id %>" id="listitem_collage<%= user.id %>" data-itemid="<%= user.id %>">
  <a href="#" class="tooltip list-icon icon icon-user" title="User"></a>
  <div class="details">
    <h3>
      <%= link_to user.simple_display, user_path(user), :class => "title" %>
    </h3>
    <p>
    </p>
  </div>

  <div class="right_details">
  <% if current_user %>
  <div class="controls">
    <%= link_to raw('<span class="icon icon-read"></span>READ'), user, :class => "action read-action" %>
  </div>
  <% end %>
  </div>
  <div class="clear"></div>
</li>

