<% if !user_collection.nil? -%>
<li class="listitem listitem<%= user_collection.id %>" data-itemid="<%= user_collection.id %>">
	<div class="controls">
		<ul>
		</ul>
	</div>
	<div class="details">
		<h4>
			<%= link_to user_collection.name, user_collection_path(user_collection), :class => "title" %>
			<%= link_to 'EDIT', edit_user_collection_path(user_collection), :class => "icon icon-edit tooltip" %>
			<%= link_to 'DELETE', user_collection, :class => "icon icon-delete tooltip" %>
		</h4>
		<p>
      <%= user_collection.description %>
		</p>
		<p class="extra">
			Users: <%= user_collection.users.map { |b| b.email_address }.join(', ') %><br />
			<%= link_to 'MANAGE USERS', manage_users_user_collection_path(user_collection), :class => "action edit-action" %><br />
			Playlists: <%= user_collection.playlists.map { |b| b.name }.join(', ') %><br />
			<%= link_to 'MANAGE PLAYLISTS', manage_playlists_user_collection_path(user_collection), :class => "action edit-action manage-playlists" %><br />
			Collages: <%= user_collection.collages.map { |b| b.name }.join(', ') %><br />
			<%= link_to 'MANAGE COLLAGES', manage_collages_user_collection_path(user_collection), :class => "action edit-action manage-collages" %>
		</p>
		<p class="extra extra<%= user_collection.id %> manage_permissions">
			<%= link_to 'MANAGE PERMISSIONS', manage_permissions_user_collection_path(user_collection), :class => "action edit-action" %>
		</p>
	</div>
	<div class="clear"></div>
</li>
<% end -%>
