<% if !usercollection.nil? -%>
<li class="listitem listitem<%= usercollection.id %>" id="listitem_usercollection<%= usercollection.id %>" data-itemid="<%= usercollection.id %>" data-type="user_collection">
	<div class="details">
		<h3>
			User Collection: <%= usercollection.name %>
			<%= link_to 'EDIT', edit_user_collection_path(usercollection), :class => "icon icon-edit tooltip edit-action" %>
		</h3>
		<p>
      <%= usercollection.description %>
		</p>
    <table width="100%" class="extra">
      <tr>
        <td colspan="3">
			    <%= link_to 'Manage Permissions', manage_permissions_user_collection_path(usercollection), :class => "action edit-action" %>
        </td>
      </tr>
    </table>
    <hr />
    <table width="100%" class="extra">
      <tr>
        <td valign="top" width="26%">
			    <h4>Users (<%= link_to 'Add/Remove', manage_users_user_collection_path(usercollection), :class => "action edit-action" %>)</h4>
          <% if usercollection.users.any? -%>
          <ul>
            <% usercollection.users.each do |user| -%>
            <li><%= link_to user.login, user_path(user) %></li>
            <% end -%>
          </ul>
          <% end -%>
        </td>
        <td valign="top" width="37%">
			    <h4>Playlists: (<%= link_to 'Add/Remove', manage_playlists_user_collection_path(usercollection), :class => "action edit-action manage-playlists" %>)</h4>
          <% if usercollection.playlists.any? -%>
          <ul>
            <% usercollection.playlists.each do |p| -%>
            <li><%= link_to p.name, playlist_path(p) %> (<%= p.public ? "public" : "private" %>)</li>
            <% end -%>
          </ul>
          <% end -%>
        </td>
        <td valign="top" width="37%">
			    <h4>Collages: (<%= link_to 'Add/Remove', manage_collages_user_collection_path(usercollection), :class => "action edit-action manage-collages" %>)</h4>
          <% if usercollection.collages.any? -%>
          <ul>
            <% usercollection.collages.each do |c| -%>
            <li><%= link_to c.name, collage_path(c) %> (<%= c.public ? "public" : "private" %>)</li>
            <% end -%>
          </ul>
          <% end -%>
        </td>
      </tr>
    </table>
	</div>
	<div class="clear"></div>
</li>
<% end -%>
