<% if paginated_group.blank? %>
  <div class="no-results">No results found</div>
<% else %>
  <div class="results-list">
    <% paginated_group.each do |result| %>
      <% if result.is_a? Content::Casebook %>
        <a href="<%= casebook_path(result.id) %>" class="wrapper" data-result-id="<%= result.id %>">
          <div class="results-entry">
            <div class="title">
              <%= result.display_name %>
            </div>
            <div class="owner">
              <% if result.respond_to?(:owner) && result.owner %>
                <div class="user <% if result.owner.verified_professor? %> verified <% end %>"></div>
                <%= result.owner.display_name %>
              <% end %>
            </div>
            <div class="date">
              <%= result.created_at.year %>
            </div>
          </div>
        </a>
      <% elsif result.is_a?(Case) %>
        <a href="<%= case_path(result.id) %>" class="wrapper" data-result-id="<%= result.id %>">
          <div class="results-entry">
            <div class="title">
              <%= result.display_name %>
            </div>
            <div class="citation">
              <%= result.indexable_case_citations %>
            </div>
            <div class="date">
              <%= result.formatted_decision_date %>
            </div>
          </div>
        </a>
      <% elsif result.is_a?(Capapi::Case) %>
        <a href="#" class="wrapper" data-result-id="<%= result.id %>" data-result-type="<%= result.class.name.underscore %>">
          <div class="results-entry">
            <div class="title">
              <%= result.name_abbreviation %>
            </div>
            <div class="citation">
              <%= result.citations[0]&.cite %>
            </div>
            <div class="date">
              <%= Capapi::DataHelpers.parse_date result.decision_date %>
            </div>
          </div>
        </a>
      <% elsif result.is_a? User %>
        <a href="<%= user_path(result.id) %>" class="wrapper" data-result-id="<%= result.id %>">
          <div class="results-entry">
            <div class="profile-image">
              <%= image_tag result.image.url(:thumb) %>
            </div>
            <div class="title">
              <%= result.display_name %>
            </div>
            <div class="casebook-count">
              <%= t 'search.results.user-casebook-count', count: result.casebooks.where(public: true).count %>
            </div>
          </div>
        </a>
      <% end %>
    <% end %>
  </div>
  <%= will_paginate @paginated_group %>
<% end %>
