<header class="advanced-search">
  <%= simple_form_for :search, url: :search, method: :get do |f| %>
    <%= f.input :type, as: :hidden, input_html: { name: 'type', value: @type }  %>
    <div class="narrow-inner">
      <%= text_field_tag :q, @query, class: 'form-control',  placeholder: t('search.labels.query.placeholder') %>
    </div>
    <div class="search-options">
      <%= f.input :sort, collection: {'Title': 'display_name', 'Date': 'updated_at', 'Relevance': 'score'}, selected: params[:sort] || 'display_name', label: 'Sort By:', input_html: { name: 'sort', class: 'minimal' } %>
      <% if @type == 'casebooks' %>
        <%= f.input :author, collection: @filters[:authors], label_method: :attribution, value_method: :id, selected: params[:author] || 'All Authors', include_blank: 'All Authors', input_html: { name: 'author', class: 'minimal' }, label: false %>
        <%= f.input :school, collection: @filters[:schools], selected: params[:school], include_blank: 'All Schools', input_html: { name: 'school', class: 'minimal' }, label: false %>
      <% end %>

      <% if @type == 'users' %>
        <%= f.input :school, collection: @filters[:schools], include_blank: 'All Schools', selected: params[:school], input_html: { name: 'school', class: 'minimal' }, label: false %>
      <% end %>
    </div>
  <% end %>
</header>
<section class="search-results">
  <div class="content">
    <% if @results %>
      <div class="results-container">
        <div class="type-tabs">
          <div class="type-tab <% if @type == 'casebooks' %>active<% end %>">
            <a href="<%= search_path(q: @query, type: 'casebooks', school: params[:school], author: params[:author]) %>" class="wrapper">
              <%= t 'search.results.n-casebook-results', n: @results[:casebooks].try(:total) || 0 %>
            </a>
          </div>
          <div class="type-tab <% if @type == 'cases' %>active<% end %>">
            <a href="<%= search_path(q: @query, type: 'cases') %>" class="wrapper">
              <%= t 'search.results.n-case-results', n: @results[:cases].try(:total) || 0 %>
            </a>
          </div>
          <div class="type-tab <% if @type == 'users' %>active<% end %>">
            <a href="<%= search_path(q: @query, type: 'users', school: params[:school], author: params[:author])) %>" class="wrapper">
              <%= t 'search.results.n-user-results', n: @results[:users].try(:total) || 0 %>
            </a>
          </div>
        </div>
      </div>
      <% if @paginated_group %>
        <%= render partial: 'results', locals: {paginated_group: @paginated_group} %>
      <% else %>
        <div class="no-results">
          <%= t 'search.results.no-results' %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>