<header class="advanced-search">
  <%= simple_form_for :search, url: :search, method: :get do |f| %>
    <%= f.input :type, as: :hidden, input_html: { name: 'type', value: @type }  %>
    <div class="narrow-inner">
      <%= search_field_tag :q, @query, class: 'form-control', placeholder: t('search.labels.query.placeholder'), "aria-label": t('search.labels.query.placeholder') %>
    </div>
    <div class="search-options">
      <% if @type == 'casebooks' %>
        <%= f.input :sort, collection: {'Sort by Title': 'display_name', 'Sort by Date': 'created_at', 'Sort by Relevance': 'score'}, selected: params[:sort] || 'display_name', input_html: { name: 'sort', 'aria-label': 'Sort Results' }, label: false %>

        <%= f.input :author, collection: @attributions, selected: (params[:author].present? ? params[:author] : 'All Authors'), include_blank: 'All Authors', input_html: { name: 'author', 'aria-label': 'Filter by Author' }, label: false %>
        <%= f.input :school, collection: @affiliations, selected:(params[:school].present? ? params[:school] : 'All Schools'), include_blank: 'All Schools', input_html: { name: 'school', 'aria-label': 'Filter by School' }, label: false %>

      <% elsif @type == 'cases' %>
        <%= f.input :sort, collection: {'Sort by Title': 'display_name', 'Sort by Date': 'decision_date', 'Sort by Relevance': 'score'}, selected: params[:sort] || 'display_name', label: false, input_html: { name: 'sort', 'aria-label': 'Sort Results' } %>
      <% elsif @type == 'users' %>
        <%= f.input :school, collection: @affiliations, selected:(params[:school].present? ? params[:school] : 'All Schools'), include_blank: 'All Schools', input_html: { name: 'school', 'aria-label': 'Filter by School'}, label: false %>
      <% end %>
    </div>
  <% end %>
</header>
<section class="search-results">
  <div class="content">
    <% if @results %>
      <div class="results-container">
        <div class="type-tabs">
          <div class="type-tab <% if @type == 'casebooks' %>active<% end %>" <% if @type == 'casebooks' %>aria-current="location"<% end %>>
            <% if params[:sort].present? %>
              <% params[:sort] = 'created_at' %>
            <% end %>
            <a href="<%= search_path(q: @query, type: 'casebooks', school: params[:school], author: params[:author], sort: params[:sort]) %>" class="wrapper">
              <%= t 'search.results.n-casebook-results', n: @results[:casebooks].try(:total) || 0 %>
            </a>
          </div>
          <div class="type-tab <% if @type == 'cases' %>active<% end %>" <% if @type == 'cases' %>aria-current="location"<% end %>>
            <% if @type == 'cases' && params[:sort].present? %>
              <% params[:sort] = 'decision_date' %>
            <% end %>
            <a href="<%= search_path(q: @query, type: 'cases', school: params[:school], author: params[:author], sort: 'decision_date') %>" class="wrapper">
              <%= t 'search.results.n-case-results', n: @results[:cases].try(:total) || 0 %>
            </a>
          </div>
          <div class="type-tab <% if @type == 'users' %>active<% end %>" <% if @type == 'users' %>aria-current="location"<% end %>>
            <a href="<%= search_path(q: @query, type: 'users', school: params[:school], author: params[:author]) %>" class="wrapper">
              <%= t 'search.results.n-user-results', n: @results[:users].try(:total) || 0 %>
            </a>
          </div>
        </div>
      </div>
      <% if @paginated_group.present? %>
        <%= render partial: 'results', locals: {paginated_group: @paginated_group} %>
      <% else %>
        <div class="no-results">
          <h3><%= t 'search.results.no-results', type: @type.capitalize, query: @query %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
