<header>
    <div class="content">
      <%= simple_form_for :search, url: :search, method: :get do |f| %>
        <div class="narrow-inner">
          <%= text_field_tag :q, @query, class: 'form-control',  placeholder: t('search.labels.query.placeholder') %>
        </div>
        <div class="search-advanced">
          <%= f.select :sort, placeholder: t('search.labels.sort-by'), label: false %>
        </div>
      <% end %>
    </div>
</header>
<section class="search-results">
  <div class="content">
    <% if @results %>
      <div class="search-tabs">
        <div class="search-tab <% if @type == 'casebooks' %>active<% end %>">
          <a href="<%= search_path(q: @query, type: 'casebooks') %>" class="wrapper">
            <%= t 'search.results.n-casebook-results', n: @results[:casebooks].try(:total) || 0 %>
          </a>
        </div>
        <div class="search-tab <% if @type == 'cases' %>active<% end %>">
          <a href="<%= search_path(q: @query, type: 'cases') %>" class="wrapper">
            <%= t 'search.results.n-case-results', n: @results[:cases].try(:total) || 0 %>
          </a>
        </div>
        <div class="search-tab <% if @type == 'users' %>active<% end %>">
          <a href="<%= search_path(q: @query, type: 'users') %>" class="wrapper">
            <%= t 'search.results.n-user-results', n: @results[:users].try(:total) || 0 %>
          </a>
        </div>
      </div>
      <% if @main_group %>
        <div class="results-list">
          <% @main_group.results.each do |result| %>
            <% if result.is_a? Content::Casebook %>
              <a href="<%= casebook_path(result.id) %>" class="wrapper">
                <div class="results-entry">
                  <div class="title">
                    <%= result.display_name %>
                  </div>
                  <div class="owner">
                    <% if result.respond_to?(:owner) && result.owner %>
                      <%= result.owner.display_name %>
                    <% end %>
                  </div>
                  <div class="date">
                    <%= result.created_at.year %>
                  </div>
                </div>
              </a>
            <% elsif result.is_a? Case %>
              <a href="<%= case_path(result.id) %>" class="wrapper">
                <div class="results-entry">
                  <div class="title">
                    <%= result.full_name %>
                  </div>
                  <div class="owner">
                  </div>
                  <div class="date">
                    <%= result.decision_date %>
                  </div>
                </div>
              </a>
            <% elsif result.is_a? User %>
              <a href="<%= user_path(result.id) %>" class="wrapper">
                <div class="results-entry">
                  <div class="profile-image">
                    <%= image_tag result.image.url(:thumb) %>
                  </div>
                  <div class="title">
                    <%= result.display_name %>
                  </div>
                  <div class="casebook-count">
                    <%= t 'search.results.user-casebook-count', count: result.casebooks.count %>
                  </div>
                </div>
              </a>
            <% end %>
          <% end %>

        </div>
      <% else %>
        <div class="no-results">
          <%= t 'search.results.no-results' %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
