<header class="advanced-search">
  <%= simple_form_for :search, url: :search, method: :get do |f| %>
    <%= f.input :type, as: :hidden, input_html: { name: 'type', value: @type }  %>
    <div class="narrow-inner">
      <%= text_field_tag :q, params[:q], class: 'form-control',  placeholder: t('search.labels.query.placeholder') %>
    </div>
    <div class="search-options">
      <% if @type == 'casebooks' %>
        <%= f.input :sort, collection: {'Title': 'display_name', 'Date': 'created_at', 'Relevance': 'score'}, selected: params[:sort] || 'display_name', label: 'Sort By:', input_html: { name: 'sort', class: 'minimal' } %>

          <%= f.label "Filters:", class: 'filter-label' %>

          <%= f.input :author, collection: @author_filters, label_method: :value, value_method: :value, selected: params[:author], include_blank: 'All Authors', input_html: { name: 'author', class: 'minimal' }, label: false %>

          <%= f.input :school, collection: @school_filters, label_method: :value, value_method: :value, selected: params[:school], include_blank: 'All Schools', input_html: { name: 'school', class: 'minimal' }, label: false %>

        <% elsif @type == 'cases' %>
          <%= f.input :sort, collection: {'Title': 'display_name', 'Date': 'decision_date', 'Relevance': 'score'}, selected: params[:sort] || 'display_name', label: 'Sort By:', input_html: { name: 'sort', class: 'minimal' } %>
        <% elsif @type == 'users' %>
          <%= f.label "Filters:" %>
          <%= f.input :school, collection: @school_filters, label_method: :value, value_method: :value, selected: params[:school], include_blank: 'All Schools', input_html: { name: 'school', class: 'minimal' }, label: false %>
        <% end %>
    </div>
  <% end %>
</header>
<section class="search-results">
  <div class="content">
    <% if @results %>
      <div class="results-container">
        <div class="type-tabs">
          <div class="type-tab <% if @type == 'casebooks' %>active<% end %>">
            <% if params[:sort].present? %>
              <% params[:sort] = 'created_at' %>
            <% end %>
            <a href="<%= search_path(q: @query, type: 'casebooks', school: params[:school], author: params[:author], sort: params[:sort]) %>" class="wrapper">
              <%= t 'search.results.n-casebook-results', n: @results[:casebooks].try(:total) || 0 %>
            </a>
          </div>
          <div class="type-tab <% if @type == 'cases' %>active<% end %>">
            <% if params[:sort].present? %>
              <% params[:sort] = 'decision_date' %>
            <% end %>
            <a href="<%= search_path(q: @query, type: 'cases', school: params[:school], author: params[:author], sort: params[:sort]) %>" class="wrapper">
              <%= t 'search.results.n-case-results', n: @results[:cases].try(:total) || 0 %>
            </a>
          </div>
          <div class="type-tab <% if @type == 'users' %>active<% end %>">
            <a href="<%= search_path(q: @query, type: 'users', school: params[:school], author: params[:author]) %>" class="wrapper">
              <%= t 'search.results.n-user-results', n: @results[:users].try(:total) || 0 %>
            </a>
          </div>
        </div>
      </div>
      <% if @paginated_group.present? %>
        <%= render partial: 'results', locals: {paginated_group: @paginated_group} %>
      <% else %>
        <div class="no-results">
          <h3><%= t 'search.results.no-results', type: @type.capitalize, query: @query %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</section>