<!-- Modified from https://github.com/sferik/rails_admin/blob/master/app/views/rails_admin/main/delete.html.haml -->

<% if %w(TextBlock Case Default).include?(@object.class.name) && @object.associated_resources.present? %>
  <h4>Can't delete <%= @object.class.name %> because it's used in casebooks:</h4>
  <div class="associated-resources"><%= html_escape(@object.associated_resources) %></div>
    
<% else %>
  <h4>Are you sure you want to delete "<%= @object.title %>"?</h4>
  <%= form_for(@object, url: delete_path(model_name: @abstract_model.to_param, id: @object.id), html: {method: "delete", class: "delete-object-form"}) do %>
    <input name="return_to" type="<%= :hidden %>" value="<%= (params[:return_to].presence || request.referer) %>"></input>
    <div class="form-actions">
      <button class="btn btn-danger" data-disable-with="<%= t("admin.form.confirmation") %>" type="submit">
        <i class="icon-white icon-ok"></i>
        <%= t("admin.form.confirmation") %>
      </button>
      <button class="btn" data-disable-with="<%= t("admin.form.cancel") %>" name="_continue" type="submit">
        <i class="icon-remove"></i>
        <%= t("admin.form.cancel") %>
      </button>
    </div>
  <% end %>
<% end %>
