<h4>
  <%= t("admin.form.are_you_sure_you_want_to_delete_the_object", model_name: @abstract_model.pretty_name.downcase) %>
  &ldquo;
  <strong>>= @model_config.with(object: @object).object_label</strong>
  \&rdquo;
  <span>></span>
  <%= "? This will delete the playlist, and its nested content that isn't referenced elsewhere." %>
</h4>
<% if false %>
  <ul>
    <%= render partial: "delete_notice", object: @object %>
  </ul>
<% end %>
<%= form_for(@object, url: delete_playlist_nested_path(model_name: @abstract_model.to_param, id: @object.id), html: {method: "delete_playlist_nested"}, authenticity_token: true) do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input name="return_to" type="<%= :hidden %>" value="<%= (params[:return_to].presence || request.referer) %>"></input>
  <div class="form-actions">
    <button class="btn btn-danger" data-disable-with="<%= t("admin.form.confirmation") %>" type="submit">
      <i class="icon-white icon-ok"></i>
      <%= t("admin.form.confirmation") %>
    </button>
    <button class="btn" data-disable-with="<%= t("admin.form.cancel") %>" name="_continue" type="submit">
      <i class="icon-remove"></i>
      <%= t("admin.form.cancel") %>
    </button>
  </div>
<% end %>
