<div class="manage-collaborators-container">
  <div class="collaborator-search">
    <h3>Add collaborator</h3>
    <div class="form-group">
      <%= form_tag manage_collaborators_path, method: "get", class: 'search-form' do %>
        <span class="fa fa-search search-icon"></span>
        <%= search_field_tag 'search', nil, placeholder: 'Example professor', class: "form-control search-field" %>
      <% end %>
    </div>
  </div> 

  <% if @users.present? %>
    <div class="collaborators">
      <% @users.each do |user| %>
          <div class="collaborator-block search-result">
            <ul>
              <li><span class="lightly-bolded">User id:</span> <%= user[:id] %></li>
              <li><span class="lightly-bolded">Display name:</span> <%= user[:display] %></li>
              <li><span class="lightly-bolded">Affiliation:</span> <%= user[:affiliation] %></li>
              <li><span class="lightly-bolded">Email:</span> <%= user[:email_address] %></li>
              <li><span class="lightly-bolded">Verified professor:</span> <%= user[:verified_professor] %></li>
            </ul>

            <%= form_tag manage_collaborators_path, method: "post", class: "add-collaborator-form" do %>
              <div class="form-check has-attribution" id="has-attribution-<%= user[:id] %>">
                <span class="form-check-label">
                  <%= hidden_field_tag "has_attribution", false %>
                  <%= check_box_tag "has_attribution", value: "true", class: "form-check-input", type: "checkbox", role: "checkbox" %>
                  <span class="lightly-bolded">Grant attribution status</span>
                </span>
              </div>
              <%= select_tag "role", options_for_select(['Owner', 'Editor']), class: "dropdown-menu role", role: "button" %>
              <%= button_tag t('admin.action.manage_collaborators.add-collaborator'), class: 'collaborator-button btn btn-primary', value: user[:id] %>
            <% end %> 
          </div>
        <% end %>
      </div>
  <% elsif @no_results == true %>
    <div class="no-results">No results for '<%= @search_term %>'</div> 
  <% end %> 

  <hr class="divider">

  <h3 class="change-collaborators">Change collaborators</h3>

  <div class="collaborators">
    <% @object.collaborators.each do |collaborator| %>
      <% user = collaborator.user %>
      <div class="collaborator-block">
        <ul>
          <li><span class="lightly-bolded">Display name:</span> <%= user.display %></li>
          <li><span class="lightly-bolded">Role:</span> <%= collaborator.role.capitalize %></li>
          <li><span class="lightly-bolded">User id:</span> <%= user.id %></li>
          <li><span class="lightly-bolded">Affiliation:</span> <%= user.affiliation %></li>
          <li><span class="lightly-bolded">Email:</span> <%= user.email_address %></li>
          <li><span class="lightly-bolded">Verified professor:</span> <%= user.verified_professor %></li>


        <%= form_tag manage_collaborators_path, method: "patch" do %>
          <div class="form-check edit-attribution-form">
              <span class="form-check-label">
                <%= hidden_field_tag 'has_attribution', false %>
                <% collaborator.has_attribution == true ? checked = "checked" : "" %>
                <%= check_box_tag "has_attribution_#{user[:id]}", collaborator.id, checked, id: "has_attribution_#{user[:id]}", class: "form-check-input", type: "checkbox", role: "checkbox" %>
               <span class="lightly-bolded">Has attribution</span>
              </span>
            </div>
          </ul>
          <%= button_tag t('admin.action.manage_collaborators.update'), class: 'btn btn-default submit-edit-attribution', value: collaborator.id %>
        <% end %>

        <%= form_tag manage_collaborators_path, method: "delete", class: 'delete-collaborator' do %>
          <%= button_tag t('admin.action.manage_collaborators.remove-collaborator'), class: 'delete-collaborator-button btn btn-danger', value: collaborator.id %>
        <% end %> 
      </div>  
    <% end %>
  </div>
</div>