<div><%= 'Current owner'.pluralize(@object.owners.count) %></div>
<% @object.owners.each do |owner| %>
  <div class="owner-block">
    <ul>
      <li><%= owner.display %></li>
      <li><%= owner.email_address %></li>
      <li><%= owner.id %></li>
    </ul>
    <%= form_tag transfer_casebook_ownership_path, :method => "delete" do %>
      <% button_tag t('admin.action.transfer_casebook_ownership.remove-owner'), data: {owner: owner.id}, class: 'remove-owner', value: owner.id %>
    <% end %> 
  </div>  
<% end %>



<!-- add popup when deleting user that says are you sure -->
<!-- post to search 
  < ajax autofill results> 

post to select user ( and create content collaborator w/ select roll )  -->