
<h4>Transfer Casebook Ownership</h4>

<div><%= 'Current owner'.pluralize(@object.owners.count) %></div>
<% @object.owners.each do |owner| %>
  <div class="owner-block">
    <ul>
      <li><%= owner.display %></li>
      <li><%= owner.email_address %></li>
      <li><%= owner.id %></li>
    </ul>
    <button class="remove-owner">
      <%= t('admin.action.transfer_casebook_ownership.remove-owner') %>
    </button>
  </div>  
<% end %>



