<section class="playlists">
	<ul>
    	<% @playlist.playlist_items.each_with_index do |item, index| %>
		<li class="playlist" id="playlist_item_<%= item.id %>">
			<div class="number"><%= index + 1 %></div>
			<a class="link-add" href="#">+</a>
			<div class="data">
				<div class="tags">
					<% if item.resource_item.actual_object -%>
					<ul>
						<% item.resource_item.actual_object.tags.each do |tag| -%>	
						<li><a href="#"><%= tag.name %></a></li>
						<% end -%>
					</ul>
					<% end -%>
				</div>
				<hgroup>
					<h3>
						<%= link_to item.resource_item.name, item.resource_item.url %>
					</h3>
					<a href="#" class="icon-type icon-type-<%= item.resource_item_type.downcase %>"></a>
					<div class="cl"></div>
				</hgroup>
				<p>
					<%= PlaylistItem.format_content(item.resource_item.description) %>
				</p>
			</div>
			<div class="cl"></div>
	  	</li>
    	<% end %>
	</ul>
</section>

<%= javascript_tag %Q|
jQuery(document).ready(function(){
    jQuery('.item_drag_handle').button({icons: {primary: 'ui-icon-arrowthick-2-n-s'}});

    jQuery(".sortable").sortable({
        handle: '.item_drag_handle',
        axis: 'y',
        helper: sortableCellHelper,
        update: function(event, ui) {
            var container_id = jQuery('#container_id').text();
            var playlist_order = jQuery(".sortable").sortable("serialize");
            jQuery.ajax({
                type: "post",
                dataType: 'json',
                url: '/playlists/' + container_id + '/position_update',
                data: {
                    playlist_order: playlist_order
                }
            });
        }
        }).disableSelection();
   });
| %>
