<div id="url_error" class="error" style="display: none;"></div>

<div id="tabs">
  <ul>
    <li><a href="#submit-url">From a URL</a></li>
    <% PlaylistItem.playlistable_classes.each do |objects| %>
      <li><%= link_to(objects.playlisting_name, '#from-' + objects.name) %></li>
    <% end %>
  </ul>
  <div id="submit-url">
    <%= text_field_tag 'url_input', nil,
      :size => 45,
      :name => 'url_input',
      :class => "ui-widget-content ui-corner-all"
    %>
    <p><a id="url_review">Submit URL</a></p>
    <div id="result_data">
    </div>
  </div>
  <% PlaylistItem.playlistable_classes.each do |objects| %>
    <div id="from-<%= objects.name %>">
      <%= render :partial => 'shared/playlistable_item', :object => objects %>
    </div>
  <% end %>
</div>


<%= javascript_tag(%q|jQuery(document).ready(function(){
  jQuery("#url_review").button();
  jQuery('#tabs').tabs();
});|) %>
