<%
title_class = ""


if post.ancestors_count == 0
  left_margin = 30
else
  left_margin = 30 + (post.ancestors_count * 30)
end

if post.assigned? && !post.answered_by_user? then title_class = "post-assigned" end
%>

  <div class="ui-widget ui-widget-content post_container" style="margin-left: <%=h left_margin %>px;">
    <div class="post-title posts <%=h title_class%>"><%=h post.title %> by <%=h post.author.login %> during round <%=h post.round %>

    </div>
    <div class="posts">
      <%= post.viewable? ? post.output : "<i>This post will be made available after the current round has ended.</i>" %></div>
    <div>

      <% if post.replyable?%>
      <button id="button-post-reply-<%= post.id %>" name="button-post-reply" class="ui-button ui-state-default ui-corner-all">
        <%= image_tag "/images/icons/arrow_rotate_anticlockwise.png" %>
      </button>
      <% end %>

      <% if post.editable? %>
      <button id="button-post-edit-<%= post.id %>" name="button-post-edit" class="ui-button ui-state-default ui-corner-all">
        <%= image_tag "/images/icons/application_form_edit.png" %>
      </button>

      <button id="button-post-delete-<%= post.id %>" name="button-post-delete" class="ui-button ui-state-default ui-corner-all">
        <%= image_tag "/images/icons/application_form_delete.png" %>
      </button>
      <% end %>

    </div>
  </div>

<% post.children.each do |post_child|  %>
  <%= render :partial => 'rotisserie_posts/rotisserie_post_content', :locals => {:post => post_child} %>
<% end %>
