<div class='standard-form case-finder-search-form'>
  <%= form_for :case_finder, method: 'get', html: { class: 'formtastic' } do |f| %>
    <%= f.label :name %><%= f.text_field :name %><br />
    <%= f.label :citation %><%= f.text_field :citation %><br />
    <%= f.submit 'Search', class: 'button' %>
  <% end %>
</div>

<% if @cases %>
  <%= render :partial => 'cases' %> 
<% end %>