%header.CasebookTitle= @casebook.title
%header.CasebookSubtitle= @casebook.subtitle
- @casebook.contents.each do |content|
  - if content.is_a? Content::Section
    %header.SectionNumber= content.ordinal_string
    %header.SectionTitle= content.title
    - if content.subtitle.present?
      %header.SectionSubtitle= content.subtitle
    - if content.headnote.present?
      %header.SectionHeadnote= content.headnote
  - elsif content.is_a? Content::Resource
    %header.ResourceNumber= content.ordinal_string
    %header.ResourceTitle= content.title
    - if content.subtitle.present?
      %header.ResourceSubtitle= content.subtitle
    - if content.headnote.present?
      %header.ResourceHeadnote= content.headnote
    - if content.resource.class.in? [Case, TextBlock]
      %main
        - content.annotated_paragraphs(editable: false).each_with_index do |p_node, p_idx|
          = p_node.to_html.html_safe
    - elsif content.resource.is_a? Default
      %p
        = link_to content.resource.display_name, content.resource.url, target: '_blank'
