%header.CasebookTitle= @casebook.title
%header.CasebookSubtitle= @casebook.subtitle
%p.CasebookHeadnote= @casebook.headnote

%table-of-contents
  - @casebook.contents.each_with_index do |content, idx|
    %toc-entry{data: {depth: content.ordinals.length, idx: idx + 1}}
      = content.ordinal_string
      = content.title

- @casebook.contents.each_with_index do |content, idx|
  - if content.is_a? Content::Section
    %header.SectionNumber{data: {'toc-idx': idx + 1}}=content.ordinal_string
    %header.SectionTitle=content.title
    - if content.subtitle?
      %header.SectionSubtitle=content.subtitle
    - if content.headnote?
      %p.SectionHeadnote= content.headnote
  - elsif content.is_a? Content::Resource
    %header.ResourceNumber{data: {'toc-idx': idx + 1}}=content.ordinal_string
    %header.ResourceTitle=content.title
    - if content.subtitle?
      %header.ResourceSubtitle= content.subtitle
    - if content.headnote?
      %p.ResourceHeadnote= content.headnote
    - if content.resource.class < ContentAnnotatable
      %resource-body
        - content.send(@include_annotations ? :annotated_paragraphs : :paragraph_nodes).each do |node|
          = node.to_html.html_safe
        - if @include_annotations
          %div= content.footnote_annotations
    - elsif content.resource.is_a? Link 
      %p
        = link_to content.resource.url, content.resource.url, target: '_blank'
