- editable = true
- content = edit
- if content.is_a? Content::Resource
  .listing-wrapper{data: {ordinals: content.ordinal_string}}
    - if content.resource.is_a? Default
      %a.listing.resource{href: edit_resource_path(content.casebook, content), draggable: true, data: {ordinals: content.ordinal_string, editable: editable}}
        .section-number= content.ordinal_string
        .section-title= content.title
        .resource-type= t "content.resource.type.#{content.resource.content_type.parameterize}"
    - else
      %a.listing.resource{href: annotate_resource_path(content.casebook, content), draggable: true, data: {ordinals: content.ordinal_string, editable: editable}}
        .section-number= content.ordinal_string
        - if content.resource.is_a? Case
          .section-title= content.resource.short_name
          .resource-case= content.resource.case_citations.first
          .resource-date= content.resource.try(:date_year) || t('content.resource.date.not-applicable')
          .resource-type= t 'content.resource.type.case'
        - elsif content.resource.is_a? TextBlock
          .section-title= content.title
          .resource-type= t 'content.resource.type.text'
        - else
          .section-title= content.title
          .resource-type
            .not-applicable= t "content.resource.type.not-applicable"
    - if editable
      .actions
        = button_to t('content.edit.delete-section'), section_path(content.casebook, content), method: :delete, class: 'action-delete', 'data-n-children': content.try(:contents).try(:count)

- elsif content.is_a? Content::Section
  - if @edit_section == content
    = render partial: 'content/sections/form', locals: {section: content}
  - else
    .listing-wrapper{draggable: true, data: {ordinals: content.ordinal_string}}
      %a.listing.section{href: layout_section_path(content.casebook, content), draggable: true, data: {ordinals: content.ordinal_string, editable: editable}}
        .section-number= content.ordinal_string
        .section-title= content.title
      - if editable
        .actions
          = button_to t('content.edit.delete-section'), section_path(content.casebook, content), method: :delete, class: 'action-delete'

- elsif content.is_a? Enumerable
  .section-wrapper
    - if editable
      .section-contents
        = render partial: 'content/table_of_contents/edit', collection: content
    - else
      .section-contents
        = render partial: 'content/table_of_contents/show', collection: content
