<!-- edit casebook table of contents and sections view -->

<%= simple_form_for @content, url: @section.present? ? section_path(@casebook, @section) : @resource.present? ? resource_path(@casebook, @resource) : casebook_path(@casebook), class: 'casebook-details' do |f| %>
	<header class="casebook-info">
	  <% if @section.present? %>
	    <div class="breadcrumbs">
	      <%= t 'content.show.section' %>
	      <% @section.ordinals.each_with_index do |ordinal, idx| %>
          <% unless idx == @section.ordinals.length-1 %>
            <a class="breadcrumb" href="<%= layout_section_path(@casebook, @section.ordinals[0..idx].join('.')) %>" %><%= ordinal %></a>
            <span class="separator">:</span>
         <% else %>
            <span class="breadcrumb active"><%= ordinal %></span>
            <span class="separator">:</span>
         <% end %>
        <% end %>
	    </div>
	  <% end %>

		<%= f.input :title, placeholder: t('simple_form.labels.casebook.name') %>
		<%= f.input :subtitle, placeholder: t('simple_form.labels.casebook.subtitle') %>
	</header>

  <section class="edit-headnote">
	  <h5>
	    <%= t 'content.show.headnote' %>
	  </h5>
	  <%= f.cktext_area :headnote, placeholder: t('simple_form.labels.casebook.description'), class: 'ckeditor form-control' %>
	</section>

  <% if @section.nil? %>
    <div class="authorship">
      <div class="collaborators">
        <%= render partial: 'content/collaborators', locals: {content: @content} %>
      </div>
      <div class="root-attribution">
        <% if @casebook.root_owner %>
          Original author: <%= link_to @casebook.root_owner, user_path(@casebook.root_owner) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @casebook.present? %>
  <aside class="casebook-actions">
    <%= render 'content/actions' %>
  </aside>
<% end %>
