<% editable = true %>
<% start_depth = contents.first.try(:ordinals).try(:length) %>
<% current_depth = start_depth %>

<% contents.each do |content| %>
  <%# render separate opening and closing tags around sections %>
  <% (1..content.ordinals.length - current_depth).each do %>
    <div class="section-wrapper">
      <div class="section-contents editable">
  <% end %>
  <% (1..current_depth - content.ordinals.length).each do %>
      </div>
    </div>
  <% end %>
  <% current_depth = content.ordinals.length %>

  <%# render each section or resource within contents %>
  <% if content.is_a? Content::Resource %>
    <div class="listing-wrapper" data-ordinals="<%= content.ordinal_string %>" >
    <% if content.resource.is_a? Default %>
        <a class="listing resource" href="<%= edit_resource_path(content.casebook, content) %>" draggable="true" data-ordinals="<%= content.ordinal_string %>" data-editable="" >
          <div class="section-number"><%= content.ordinal_string %></div>
          <div class="section-title"><%= content.title %></div>
          <div class="resource-type-container">
            <div class="resource-type"><%= t 'content.resource.type.default' %></div>
          </div>
        </a>
    <% else %>
        <a class="listing resource" href="<%= annotate_resource_path(content.casebook, content) %>" draggable="true" data-ordinals="<%= content.ordinal_string %>" data-editable="" >
          <div class="section-number"><%= content.ordinal_string %></div>
        <% if content.resource.is_a? Case %>
          <div>
            <div class="section-title case-section-title"> <%= content.title %> </div>
            <div class="case-metadata-container">
              <div class="resource-case"> <%= content.resource.citations.dig(0, "cite") %></div>
              <div class="resource-date"> <%= content.resource.try(:date_year) || t('content.resource.date.not-applicable') %> </div>
            </div>
          </div>
          <div class="resource-type-container">
            <div class="resource-type"> <%= t 'content.resource.type.case' %></div>
          </div>
        <% elsif content.resource.is_a? TextBlock %>
          <div class="section-title"> <%= content.title %></div>
          <div class="resource-type-container">
            <div class="resource-type"> <%= t 'content.resource.type.text' %></div>
          </div>
        <% else %>
          <div class="section-title"><%= content.title %></div>
          <div class="resource-type-container">
            <div class="resource-type">
              <div class="not-applicable"> <%= t "content.resource.type.not-applicable" %></div>
            </div>
          </div>
          <% end %>
        </a>
    <% end %>
    <% if editable %>
        <div class="actions"><button class="action-delete"></button></div>
    <% end %>
    </div>
  <% elsif content.is_a? Content::Section %>
    <% if @edit_section == content %>
      <%= render partial: 'content/sections/form', locals: {section: content} %>
    <% else %>
      <div class="listing-wrapper" draggable="true" data-ordinals="<%= content.ordinal_string %>">
        <a class="listing section" href="<%= layout_section_path(content.casebook, content) %>" draggable="true" data-ordinals="<%= content.ordinal_string %>" data-editable="">
          <div class="section-number"> <%= content.ordinal_string %> </div>
          <div class="section-title"> <%= content.title %> </div>
        </a>
        <% if editable %>
          <div class="actions">
            <button class="action-delete"></button>
          </div>
        <% end %>
      </div>
    <% end %>
  <% elsif content.is_a? Enumerable %>
      <div class="section-wrapper">
      <% if editable %>
        <div class="section-contents editable">
          <%= render 'content/table_of_contents/edit', collection=content %>
        </div>
      <% else %>
        <div class="section-contents">
          <%= render 'content/table_of_contents/show', collection=content %>
        </div>
      <% end %>
      </div>
  <% end %>
<% end %>

<%# final closing section tags %>
<% (start_depth..current_depth - 1).each do %>
  </div></div>
<% end %>

