- editable = true
- content = edit
- if content.is_a? Content::Resource
  .listing-wrapper{data: {ordinals: content.ordinal_string}}
    %a.listing.resource{href: annotate_resource_path(content.casebook, content), draggable: true, data: {ordinals: content.ordinal_string, editable: editable}}
      .section-number= content.ordinal_string
      - if content.is_a? Content::Resource
        - if content.resource.is_a? Case
          .section-title= content.resource.short_name
          .resource-date
            = content.resource.try(:date_year) || t('content.resource.date.not-applicable')
        - else
          .section-title= content.title
      - if content.is_a? Content::Resource
        - if content.resource.is_a? Case
          .resource-case= content.resource.case_citations.first
        - elsif content.resource.is_a? TextBlock
          .resource-type= t 'content.resource.type.text'
        - elsif content.resource.is_a? Default
          .resource_type= t "content.resource.type.#{content.resource.content_type.parameterize}"
        - else
          .resource-type
            .not-applicable= t "content.resource.type.not-applicable"
    - if editable && content.can_delete?
      .actions
        = button_to t('content.edit.delete-section'), section_path(content.casebook, content), method: :delete, class: 'action-delete'

- elsif content.is_a? Content::Section
  - if @edit_section == content
    = render partial: 'content/sections/form', locals: {section: content}
  - else
    .listing-wrapper{draggable: true, data: {ordinals: content.ordinal_string}}
      %a.listing.section{href: layout_section_path(content.casebook, content), draggable: true, data: {ordinals: content.ordinal_string, editable: editable}}
        .section-number= content.ordinal_string
        .section-title= content.title
      - if editable && content.can_delete?
        .actions
          = button_to t('content.edit.delete-section'), section_path(content.casebook, content), method: :delete, class: 'action-delete'

- elsif content.is_a? Enumerable
  .section-wrapper
    .section-contents
      - if editable
        = render partial: 'content/table_of_contents/edit', collection: content
      - else
        = render partial: 'content/table_of_contents/show', collection: content
