<% start_depth = contents.first.try(:ordinals).try(:length) %>
<% current_depth = start_depth %>
<% contents.each do |content| %>

  <%# render separate opening and closing tags around sections %>
  <% (1..content.ordinals.length - current_depth).each do %>
    <div class="section-wrapper">
      <div class="section-contents">
  <% end %>
  <% (1..current_depth - content.ordinals.length).each do %>
      </div>
    </div>
  <% end %>
  <% current_depth = content.ordinals.length %>

  <% if content.is_a? Content::Resource %>
    <div class="listing-wrapper" data-ordinals="<%= content.ordinal_string %>">
      <a class="listing resource" href="<%= resource_path(content.casebook, content) %>">
        <div class="section-number"> <%= content.ordinal_string %> </div>
        <% if content.resource.is_a? Case %>
          <div class="resource-container">
            <div class="section-title case-section-title"> <%= content.title %> </div>
            <div class="case-metadata-container">
              <div class="resource-case"><%= content.resource.citations.dig(0, "cite") %></div>
              <div class="resource-date"><%= content.resource.try(:date_year) || t('content.resource.date.not-applicable') %> </div>
            </div>
          </div>
          <div class="resource-type-container">
            <div class="resource-type"> <%= t 'content.resource.type.case' %></div>
          </div>
        <% elsif content.resource.is_a? TextBlock %>
          <div class="resource-container">
            <div class="section-title"> <%= content.title %></div>
          </div>
          <div class="resource-type-container">
            <div class="resource-type"> <%= t 'content.resource.type.text' %></div>
          </div>
        <% elsif content.resource.is_a? Default %>
          <div class="resource-container">
            <div class="section-title"> <%= content.title %></div>
          </div>
          <div class="resource-type-container">
            <div class="resource-type"> <%= t "content.resource.type.default" %></div>
          </div>
        <% else %>
          <div class="resource-type">
            <div class="not-applicable"> <%= t "content.resource.type.not-applicable" %></div>
          </div>
        <% end %>
      </a>
    </div>
  <% elsif content.is_a? Content::Section %>
    <div class="listing-wrapper" data-ordinals="<%= content.ordinal_string %>">
      <a class="listing section" href="<%= section_path(content.casebook, content) %>">
        <div class="section-number"> <%= content.ordinal_string %> </div>
        <div class="section-title"> <%= content.title %> </div>
      </a>
    </div>
  <% end %>
<% end %>

<%# final closing section tags %>
<% (start_depth..current_depth - 1).each do %>
  </div></div>
<% end %>

<% if false %>
- editable = false
- content = show
- if content.is_a? Content::Resource
  .listing-wrapper{data: {ordinals: content.ordinal_string}}
    %a.listing.resource{href: resource_path(content.casebook, content), draggable: true, data: {ordinals: content.ordinal_string, editable: editable}}
      .section-number= content.ordinal_string

    - if editable && content.can_delete?
      .actions
        = button_to t('content.edit.delete-section'), section_path(content.casebook, content), method: :delete, class: 'action-delete'

- elsif content.is_a? Content::Section
  - if @edit_section == content
    = render partial: 'content/sections/form', locals: {section: content}
  - else
    .listing-wrapper{draggable: true, data: {ordinals: content.ordinal_string}}
      %a.listing.section{href: section_path(content.casebook, content), draggable: true, data: {ordinals: content.ordinal_string, editable: editable}}
        .section-number= content.ordinal_string
        .section-title= content.title
      - if editable && content.can_delete?
        .actions
          = button_to t('content.edit.delete-section'), section_path(content.casebook, content), method: :delete, class: 'action-delete'

- elsif content.is_a? Enumerable
  .section-wrapper
    .section-contents
      - if editable
        = render partial: 'content/table_of_contents/edit', collection: content
      - else
        = render partial: 'content/table_of_contents/show', collection: content
<% end %>
