<h1>Listing case_citations</h1>

<table>
  <tr>
    <th>Case</th>
    <th>Volume</th>
    <th>Reporter</th>
    <th>Page</th>
  </tr>

<% @case_citations.each do |case_citation| %>
  <tr>
    <td><%=h case_citation.case_id %></td>
    <td><%=h case_citation.volume %></td>
    <td><%=h case_citation.reporter %></td>
    <td><%=h case_citation.page %></td>
    <td><%= link_to 'Show', case_citation %></td>
    <td><%= link_to 'Edit', edit_case_citation_path(case_citation) %></td>
    <td><%= link_to 'Destroy', case_citation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New case_citation', new_case_citation_path %>