<p>
  <b>Case:</b>
  <%= @case_citation.case_id %>
</p>

<p>
  <b>Volume:</b>
  <%= @case_citation.volume %>
</p>

<p>
  <b>Reporter:</b>
  <%= @case_citation.reporter %>
</p>

<p>
  <b>Page:</b>
  <%= @case_citation.page %>
</p>


<%= link_to 'Edit', edit_case_citation_path(@case_citation) %> |
<%= link_to 'Back', case_citations_path %>
