= simple_form_for section, url: section.persisted? ? casebook_section_path(@casebook, section) : casebook_section_index_path(@casebook), method: section.persisted? ? :patch : :post do |f|
  = f.input :ordinals, as: :hidden
  .listing.section
    .section-number= section.ordinal_string
    = f.input :title, label: false
    = f.submit t 'content.edit.save-section'
