<%= form_tag new_section_path(@casebook), method: :get, class: 'simple_form' do %>
  <% if @section.present? %>
    <%= hidden_field_tag :parent, @section.ordinal_string %>
  <% end %>
  <div class="form-group string">
    <%= text_field_tag :q, params[:q], placeholder: t('simple_form.labels.search.query'), class: 'form-control' %>
  </div>
  <%= submit_tag t('simple_form.labels.search.submit'), class: 'save-button' %>
<% end %>
<% if params[:q] %>
  <div class="search-results">
    <% if @results.empty? %>
      <%= t 'search.zero-results' %>
    <% else %>
      <%= t 'search.n-results', n: @results.count %>
    <% end %>
    <% @results.each_with_index do |result, idx| %>
      <div class="search-result">
        <%= render partial: 'search_result', locals: {result: result, idx: idx} %>
      </div>
    <% end %>
  </div>
<% end %>
