<div class="listing-wrapper">
  <a class="listing resource" href="<%= case_path(result) %>">
    <div class="section-number">
      <%= idx + 1 %>
    </div>
    <div class="section-title">
      <%= result.title %>
    </div>
    <div class="resource-date">
      <%= result.try(:date_year) || t('content.resource.date.not-applicable') %>
    </div>
    <% if result.is_a? Case %>
      <div class="resource-case">
        <%= result.name_abbreviation %>
      </div>
    <% elsif result.is_a? TextBlock %>
      <div class="resource-type">
        <%= t 'content.resource.type.text' %>
      </div>
    <% elsif result.is_a? Link %>
      <div class="resource-type">
        <%= t "content.resource.type.#{object.resource.content_type.parameterize}" %>
      </div>
    <% else %>
      <div class="resource-type">
        <div class="not-applicable">
          <%= t "content.resource.type.not-applicable" %>
        </div>
      </div>
    <% end %>
  </a>
  <div class="actions">
    <% if @section.present? %>
      <%= button_to t('content.resource.add-to-section'), sections_path(@casebook), params: {resource_id: result.id, parent: @section.id}, method: :post, class: 'action-add-resource' %>
    <% else %>
      <%= button_to t('content.resource.add-to-casebook'), sections_path(@casebook), params: {resource_id: result.id}, method: :post, class: 'action-add-resource' %>
    <% end %>
  </div>
</div>
