.listing-wrapper
  %a.listing.resource{href: case_path(result)}
    .section-number= idx + 1
    .section-title= result.title
    .resource-date
      = result.try(:date_year) || t('content.resource.date.not-applicable')
    - if result.is_a? Case
      .resource-case= result.short_name
    - elsif result.is_a? TextBlock
      .resource-type= t 'content.resource.type.text'
    - elsif result.is_a? Default
      .resource-type= t "content.resource.type.#{object.resource.content_type.parameterize}"
    - else
      .resource-type
        .not-applicable= t "content.resource.type.not-applicable"
  .actions
    - if @section.present?
      = button_to t('content.resource.add-to-section'), casebook_section_index_path(@casebook), params: {resource_id: result.id, parent: @section.ordinal_string}, method: :post, class: 'action-add-resource'
    - else
      = button_to t('content.resource.add-to-casebook'), casebook_section_index_path(@casebook), params: {resource_id: result.id}, method: :post, class: 'action-add-resource'
