%header.SectionNumber= @section.ordinal_string
%header.CasebookTitle= @section.title
%header.CasebookSubtitle= @section.subtitle
%p.CasebookHeadnote= @section.formatted_headnote
- @section.contents.each do |content|
  - if content.is_a? Content::Section
    %header.SectionNumber= content.ordinal_string
    %header.SectionTitle= content.title
    - if content.subtitle.present?
      %header.SectionSubtitle= content.subtitle
    - if content.headnote.present?
      %p.SectionHeadnote= content.formatted_headnote
  - elsif content.is_a? Content::Resource
    %header.ResourceNumber= content.ordinal_string
    %header.ResourceTitle= content.title
    - if content.subtitle.present?
      %header.ResourceSubtitle= content.subtitle
    - if content.headnote.present?
      %p.ResourceHeadnote= content.formatted_headnote
    - if content.resource.class.in? [Case, TextBlock]
      %resource-body
        - content.annotated_paragraphs.each_with_index do |paragraph_node, paragraph_index|
          = paragraph_node.to_html.html_safe
        - if @include_annotations
          %div= content.footnote_annotations
    - elsif content.resource.is_a? Default
      %p
        = link_to content.resource.url, content.resource.url, target: '_blank'
