- section = @content_node
%header.SectionNumber= section.ordinal_string
%header.CasebookTitle= section.title
%header.CasebookSubtitle= section.subtitle
%p.CasebookHeadnote= section.headnote
- section.contents.each do |content|
  - if content.is_a? Content::Section
    %header.SectionNumber= content.ordinal_string
    %header.SectionTitle= content.title
    - if content.subtitle?
      %header.SectionSubtitle= content.subtitle
    - if content.headnote?
      %p.SectionHeadnote= content.headnote
  - elsif content.is_a? Content::Resource
    %header.ResourceNumber= content.ordinal_string
    %header.ResourceTitle= content.title
    - if content.subtitle?
      %header.ResourceSubtitle= content.subtitle
    - if content.headnote?
      %p.ResourceHeadnote= content.headnote
    - if content.resource.class < ContentAnnotatable
      %resource-body
        - content.send(@include_annotations ? :annotated_paragraphs : :paragraph_nodes).each do |node|
          = node.to_html.html_safe
        - if @include_annotations
          %div= content.footnote_annotations
    - elsif content.resource.is_a? Default
      %p
        = link_to content.resource.url, content.resource.url, target: '_blank'
