<li <%= raw 'class="current"' if @playlist == playlist %>>
<% if @playlist == playlist -%>
<span id="current_marker">Current Playlist</span><br />
<% end -%>
<span class="date"><%= playlist.created_at.to_s(:simpledatetime) %></span> by
<%= link_to(@playlist.user.display, user_path(@playlist.user)) %><br />
<%= link_to raw(playlist.name), playlist %>
<% if playlist.public_children.size > 0 -%>
	<ul class="lineage">
	<% playlist.public_children.each do |child| -%>
	<%= render :partial => 'playlist_children',
  		:locals => { :playlist => child } %>
	<% end -%>
	</ul>
<% end -%>
</li>
