<section id="breadcrumbs">
	<aside class="filter">
		<%= @playlists.total %> Playlists Total
	</aside>
	<aside class="pagination">
		<%= will_paginate @playlists.hits, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
	</aside>
	<div class="cl"></div>
</section>

<section id="results">
	<hgroup id="playlists_hgroup">
		<ul class="tabs">
			<li><a href="#" class="active" id="all_playlists_link">ALL PLAYLISTS</a></li>
			<% if current_user -%>
			<li><a href="#" id="my_playlists_link">MY PLAYLISTS</a></li>
			<% end -%>
			<% if false -%><li><a href="#">MY BOOKMARKS</a></li><% end -%>
		</ul>
		<%= render :partial => 'shared/sort' %>
		<div class="cl"></div>
	</hgroup>
	<article class="songs">
	<ul id="all_playlists" class="playlists_section">
		<%= render :partial => 'shared/objects/playlist', :collection => @playlists.results %>
	</ul>
	<ul id="my_playlists" class="playlists_section">
    	<% if @my_playlists.empty? -%>
		None!
		<% end -%>
		<%= render :partial => 'shared/objects/playlist', :collection => @my_playlists %>
	</ul>
	</article>
</section>
