<table class="core_table">
  <thead>
    <tr class="table_heading ">
      <th>Playlist Title</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= link_to playlist.display_name, playlist %></td>
        <td>
          <% if current_user && (@is_playlist_admin || @playlists_i_can_edit.include?(playlist) || @my_playlists.include?(playlist)) %>
          <button id="button-playlist-edit-<%= playlist.id %>" name="button-playlist-edit" class="ui-button ui-state-default ui-corner-all">
            <%= image_tag "/images/icons/application_form_edit.png" %>
          </button
          <% end %>
        </td>
        <td>
          <% if current_user && (@is_playlist_admin || @my_playlists.include?(playlist)) %>
          <button id="button-playlist-delete-<%= playlist.id %>" name="button-playlist-delete" class="ui-button ui-state-default ui-corner-all">
            <%= image_tag "/images/icons/application_form_delete.png" %>
          </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
