- content_for :tabs do
  %a.tab.active{href: edit_casebook_path(@casebook)}= t 'casebooks.tabs.layout'
  %a.tab{href: edit_casebook_path(@casebook)}= t 'casebooks.tabs.edit'
  %a.tab{href: edit_casebook_path(@casebook)}= t 'casebooks.tabs.details'
- content_for :actions do
  %a.action.publish= t 'casebooks.actions.publish'

= simple_form_for @casebook, url: edit_casebook_path(@casebook) do |f|
  %header
    = f.input :name, label: false, placeholder: t('simple_form.labels.playlist.name')
    = f.input :subtitle, as: :string, label: false, placeholder: t('simple_form.labels.playlist.subtitle')
    .collaborators
      - [@casebook.user].each do |user|
        .user{class: user.verified? ? 'verified' : ''}= user.display_name
      %a.add-collaborator= t 'casebooks.edit.add-collaborator'
  %section.headnote
    %h5= t 'casebooks.show.headnote'
    = f.input :description, label: false, placeholder: t('simple_form.labels.playlist.description')
  %section.table-of-contents
    .chapter-listing
      .chapter-number= '1'
      .chapter-title= 'Introduction'
    .chapter-contents
      .material-listing
        .chapter-number= '1.1'
        .chapter-title= 'Lombard v. Arkansas'
      .material-listing
        .chapter-number= '1.2'
        .chapter-title= 'Lombard v. Arkansas'
      .chapter-listing
        .chapter-number= '1.3'
        .chapter-title= 'Lombard v. Arkansas'
      .chapter-contents
        .material-listing
          .chapter-number= '1.3.1'
          .chapter-title= 'Lombard v. Arkansas'
        .material-listing
          .chapter-number= '1.3.1'
          .chapter-title= 'Lombard v. Arkansas'
