<div id="playlist" class="singleitem" data-itemid="<%= @playlist.id %>">

   <% if !@load_all %>
   <div id="playlist-items-limit-notice">
    This is a preview of how your content will look on export. To <b>export</b> the complete content
    in DOC or PDF format, click the blue export button in the upper right corner of this page.
  </div>
   <% end %>

        <div class="Playlist-title scale1-5 vh1"><%= raw @playlist.name %></div>

    <div class="sidebar-box">
    <div class="MsoToc1" id="toc-container"><% if !params[:load_all] -%><div class="text-fade"></div><% end -%>
    </div>
    </div>

<style>
  .sidebar-box {
    position: relative;
    overflow: hidden;
  }
  .text-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    height: 50px;
    background-image: -moz-linear-gradient(top, transparent, white);
    Xbackground-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent), color-stop(1, white));
    background-image: linear-gradient(180deg, transparent, white);
  }
</style>

<% if (item_desc = @playlist.formatted(:description)) != '' %>
	<div class="details">
		<div id="description" class="item_description">
          <div class="Item-description">
			<%= raw item_desc %>
		  </div>
		</div>
	</div>
<% end %>
	<%= render :partial => 'playlist_items/playlist_items_block_print',
      :locals => {
        :playlist => @playlist,
        :playlist_items_limit => @playlist_items_limit,
      }
    %>

    <% if !@load_all %>
    <div id="playlist-items-limit-notice">
      You've reached the bottom of your content preview.<br/> 
      <%= link_to raw("To <b>view</b> the rest in your browser, click here."), export_all_playlist_url(@playlist)%>   <br/>
      To <b>export</b> the full content in DOC or PDF format, click the blue export button in the upper right corner of this page.<br>
      <br>
      (Note: If you view the entire playlist, any changes you've made to export settings will be lost. Large playlists may temporarily freeze your browser while loading, as well.)
    </div>
    <%end%>

</div>
