<div id="playlist" class="singleitem" data-itemid="<%= @playlist.id %>">
	<hgroup class="description">
		<h2><%= @playlist.name %></h2>
	</hgroup>
	<div class="details">
		<h5>
			<%= @playlist.created_at.to_s(:simpledatetime) %>
			by <a href="#"><%= raw @playlist.owners.collect { |u| link_to(u.login, user_path(u)) }.join(', ') %></a>
		</h5>
		<div id="description">
			<%= @playlist.description %>
		</div>
	</div>
	<%= render :partial => 'playlist_items/playlist_items_block_print', :locals => {:playlist => @playlist} %>
</div>
