<div id="playlist" class="singleitem" data-itemid="<%= @playlist.id %>">
	<hgroup class="description">
		<h1><%= raw @playlist.name %></h1>
	</hgroup>
	<div class="details">
		<h2>
			<%= @playlist.created_at.to_s(:simpledatetime) %>
			by <a href="#"><%= raw @playlist.owners.collect { |u| link_to(u.display, user_path(u)) }.join(', ') %></a>
		</h2>
		<div id="description" class="item_description">
			<%= Playlist.format_content(@playlist.description) %>
		</div>
	</div>
	<%= render :partial => 'playlist_items/playlist_items_block_print', :locals => {:playlist => @playlist} %>
</div>
