<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'playlists-logo',
  :url => playlists_path,
  :right_search => 'playlists/nav_search' } %>
	
<section id="breadcrumbs">
	<aside class="filter">
		<% if params[:tag] -%>
		<p>
		Playlists tagged: <%= CGI.unescape(params[:tag]) %> (<%= pluralize @playlists.total_entries, 'Playlist' %> Total)
		<%= link_to "CLEAR TAG", playlists_path %>
		</p>
		<% elsif params[:keywords] -%>
		<p>
		Results for: <%= params[:keywords] %> (<%= pluralize @playlists.total_entries, 'Playlist' %> Total)
		<%= link_to "CLEAR SEARCH", playlists_path %>
		</p>
		<% else -%>
		<%= @playlists.total_entries %> Playlists Total
		<% end -%>
	</aside>
	<aside class="pagination">
		<div id="all_playlists_pagination">
		<%= will_paginate @playlists, :container => false, :previous_label => 'Prev', :next_label => 'Next' %>
		</div>
	</aside>
	<div class="cl"></div>
</section>

<section id="results">
	<hgroup id="playlists_hgroup">
		<ul class="tabs">
			<li><a href="#" class="active" data-region="all_playlists">ALL PLAYLISTS</a></li>
    		<% if @my_playlists.any? -%>
			<li><a href="#" data-region="my_playlists">MY PLAYLISTS</a></li>
			<% end -%>
			<% if @my_bookmarks.any? -%>
			<li><a href="#" data-region="my_bookmarks">MY BOOKMARKS</a></li>
			<% end -%>
		</ul>
		<aside class="sort">
			<div id="all_playlists_sort" data-type="playlists">
				<%= render :partial => 'shared/sort', :locals => { :list => @generic_sort_list } %>
			</div>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<article class="songs">
	<ul id="all_playlists">
		<%= render :partial => 'shared/objects/playlist', :collection => @playlists %>
	</ul>
	<% if current_user -%>
    <% if @my_playlists.any? -%>
	<ul id="my_playlists">
		<%= render :partial => 'shared/objects/playlist', :collection => @my_playlists %>
	</ul>
	<% end -%>
	<% if @my_bookmarks.any? -%>
	<ul id="my_bookmarks">
		<%= render :partial => 'shared/objects/playlist', :collection => @my_bookmarks %>
	</ul>
	<% end -%>
	<% end -%>
	</article>
</section>

<%= render :partial => "shared/popup", :locals => { :type => "playlist" } %>
