<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'playlists-logo',
  :url => playlists_path,
  :right_search => 'playlists/nav_search' } %>

<div id="playlist" class="singleitem" data-itemid="<%= @playlist.id %>">
	<hgroup class="description">
		<h2><%= @playlist.name %></h2>
		<aside class="toolbar">
			<ul>
				<li><a href="#" class="link-share">Share</a></li>
				<% if current_user -%>
				<li><%= link_to "Remix Playlist", copy_playlist_path(@playlist), :class => "link-remix remix-action" %></li>
				<li><%= link_to "Bookmark This Playlist", '#', :class => "link-bookmark bookmark-action" %></li>
				<% end -%>
				<li><%= link_to 'Print', playlist_path(@playlist, :format => 'pdf'), :class => 'link-print' %></li>
			</ul>
		</aside>
		<% if @can_edit -%>
		<aside class="buttons">
			<ul>
    			<li class="btn-li">
					<%= link_to 'ADD ITEM +', new_playlist_item_path, :class => 'btn-a new-playlist-item-control' %>
				</li>
			</ul>
		</aside>
		<% end %>
		<div class="cl"></div>
	</hgroup>
	<div class="details">
		<% cache "playlist-#{@playlist.id}-tags" do -%>
		<div class="tags">
			<ul>
				<% @playlist.tags.each do |tag| -%>
				<li><%= link_to tag.name, playlist_tag_path(CGI.escape(tag.name)) %></li>
				<% end -%>
			</ul>
		</div>
		<% end -%>
		<h5>
			<%= @playlist.created_at.to_s(:simpledatetime) %>
			by <a href="#"><%= raw @playlist.owners.collect { |u| link_to(u.login, user_path(u)) }.join(', ') %></a>
		</h5>
		<% if false -%>
		<div class="influence"></div>
		<% end -%>
		<div class="cl"></div>
		<% if !@playlist.description.nil? -%>
		<% if @playlist.description.length > 500 -%>
			<div id="description_less">
				<%= @playlist.description[1..500] %>... <a href="#" class="link-more">MORE</a>
			</div>
			<div id="description_more">
				<%= @playlist.description %> <a href="#" class="link-less">LESS</a>
				<% if @can_edit -%>
				<%= link_to "EDIT", edit_playlist_path(@playlist), :class => "edit-action" %>
				<% end -%>
			</div>
		<% else -%>
			<div id="description">
				<%= @playlist.description %>
				<% if @can_edit -%>
				<%= link_to "EDIT", edit_playlist_path(@playlist), :class => "edit-action" %>
				<% end -%>
			</div>
		<% end -%>
		<% else -%>
			<p>
				<% if @can_edit -%>
				<%= link_to "EDIT", edit_playlist_path(@playlist), :class => "edit-action" %>
				<% end -%>
			</p>
		<% end -%>
	</div>
	<% cache "playlist-block-#{@playlist.id}-#{@can_edit}" do -%>
	<%= render :partial => 'playlist_items/playlist_items_block', :locals => {:playlist => @playlist} %>
	<% end -%>
</div>

<%= render :partial => "shared/popup", :locals => { :type => "playlist" } %>
<script type="text/javascript">
var container_id = <%= @playlist.id %>;
var owner_can_sort = <%= @can_edit ? "true" : "false" %>;
</script>
