<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'playlists-logo',
  :url => playlists_path,
  :right_search => 'playlists/nav_search' } %>

<div id="playlist" class="singleitem" data-itemid="<%= @playlist.id %>">
	<hgroup class="description">
		<h2><%= @playlist.name %></h2>
		<aside class="toolbar">
			<ul>
				<li class="requires_logged_in"><%= link_to "Remix Playlist", copy_playlist_path(@playlist), :class => "link-remix remix-action" %></li>
				<li class="requires_logged_in"><%= link_to "Bookmark This Playlist", '#', :class => "link-bookmark bookmark-action" %></li>
				<li id="print-container">
          <%#= link_to 'Print', playlist_path(@playlist, :format => 'pdf'), :class => 'link-print' %>
          <a href="#" class="link-print">
            <span>Print</span>
          </a>
					<div class="popup print-popup">
						<ul>
							<li>
                <strong><input type="checkbox" id="alltext" />
								SHOW ALL TEXT</strong>
								<div class="cl">&nbsp;</div>
							</li>
							<li>
                <strong><input type="checkbox" id="allannotations" />
								SHOW ALL ANNOTATIONS</strong>
								<div class="cl">&nbsp;</div>
							</li>
							<li>
								<strong>FONT SIZE</strong>
                <select id="printfontsize">
                  <option value="11">Small</option>
                  <option value="14">Medium</option>
                  <option value="16">Large</option>
                  <option value="20">Extra Large</option>
                </select>
								<div class="cl">&nbsp;</div>
							</li>
							<li>
								<strong>FONT TYPE</strong>
                <select id="printfonttype">
                  <option value="serif">Serif</option>
                  <option value="sans-serif">Sans-Serif</option>
                </select>
								<div class="cl">&nbsp;</div>
							</li>
              <li>
                <a href="<%= playlist_path(@collage, :format => 'pdf') %>" class="btn-a">DOWNLOAD</a>
              </li>
						</ul>
					</div>
        </li>
			</ul>
		</aside>
		<aside class="buttons">
			<ul>
        <li class="btn-li afterload">
          <a href="#" class="btn-a" id="fonts">
            <span>Aa</span>
          </a>
					<div class="popup font-size-popup">
            <select id="font-size">
              <option value="10">small</option>
              <option value="13">medium</option>
              <option value="16">large</option>
              <option value="19">extra-large</option>
            </select>
          </div>
        </li>
    	  <li class="btn-li requires_edit">
					<%= link_to 'ADD ITEM +', new_playlist_item_path, :class => 'btn-a new-playlist-item-control' %>
				</li>
			</ul>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<div class="details">
		<% cache "playlist-#{@playlist.id}-tags" do -%>
		<div class="tags">
			<ul>
				<% @playlist.tags.each do |tag| -%>
				<li><%= link_to tag.name, playlist_tag_path(CGI.escape(tag.name)) %></li>
				<% end -%>
			</ul>
		</div>
		<% end -%>
    <%= render :partial => 'playlist_meta' %>
		<div class="cl"></div>
		<% if !@playlist.description.nil? -%>
		<% if @playlist.description.length > 500 -%>
			<div id="description_less">
				<%= Playlist.format_content(@playlist.description[0..500]) %>... <a href="#" class="link-more">MORE</a>
			</div>
			<div id="description_more">
				<%= Playlist.format_content(@playlist.description) %> <a href="#" class="link-less">LESS</a>
				<%= link_to "EDIT", edit_playlist_path(@playlist), :class => "edit-action requires_edit" %>
        <a href="#" class="public-notes requires_edit" data-type="public">MAKE NOTES PUBLIC</a>
        <a href="#" class="private-notes requires_edit" data-type="private">MAKE NOTES PRIVATE</a>
			</div>
		<% else -%>
			<div id="description">
				<%= Playlist.format_content(@playlist.description) %>
				<%= link_to "EDIT", edit_playlist_path(@playlist), :class => "edit-action requires_edit" %>
        <a href="#" class="public-notes requires_edit" data-type="public">MAKE NOTES PUBLIC</a>
        <a href="#" class="private-notes requires_edit" data-type="private">MAKE NOTES PRIVATE</a>
			</div>
		<% end -%>
		<% else -%>
			<p>
				<%= link_to "EDIT", edit_playlist_path(@playlist), :class => "edit-action requires_edit" %>
        <a href="#" class="public-notes requires_edit" data-type="public">MAKE NOTES PUBLIC</a>
        <a href="#" class="private-notes requires_edit" data-type="private">MAKE NOTES PRIVATE</a>
			</p>
		<% end -%>
	</div>
	<%= render :partial => 'playlist_items/playlist_items_block', :locals => {:playlist => @playlist} %>
</div>
<script type="text/javascript">
var container_id = <%= @playlist.id %>;
var editability_path = "<%= access_level_playlist_path(@playlist) %>"; 
</script>

<div class="popup add-popup" data-type="<%= type %>">
  <h4>ADD TO</h4>
  <%= collection_select(:playlist, :id, [], :id, :name) %>
  <ul>
    <li><%= link_to "CREATE NEW PLAYLIST", new_playlist_path, :class => "new-playlist-and-item" %></li>
    <li><a href="#" class="bookmark-popup bookmark-this bookmark-action">ADD BOOKMARK</a></li>
  </ul>
  <a href="#" class="btn new-playlist-item">ADD FILE</a>
</div>
