<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'playlists-logo',
  :url => playlists_path,
  :right_search => 'playlists/nav_search' } %>

<div id="playlist">
	<hgroup class="description">
		<h2><%= @playlist.name %></h2>
		<aside class="toolbar">
			<ul>
				<li><a href="#"><img src="/images/ui/toolbar-1.png" alt="" /></a></li>
				<li><a href="#"><img src="/images/ui/toolbar-2.png" alt="" /></a></li>
				<li><a href="#"><img src="/images/ui/toolbar-3.png" alt="" /></a></li>
				<li><a href="#"><img src="/images/ui/toolbar-4.png" alt="" /></a></li>
			</ul>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<details>
		<div class="tags">
			<ul>
				<% @playlist.tags.each do |tag| -%>
				<li><a href="#"><%= tag.name %></a></li>
				<% end -%>
			</ul>
		</div>
		<h5>
			<%= @playlist.created_at.to_s(:simpledatetime) %> 
			by <a href="#"><%= @playlist.creators.collect { |u| u.login }.join(', ') %></a>
		</h5>
		<% if false -%>
		<div class="influence"></div>
		<% end -%>
		<div class="cl"></div>
		<% if @playlist.description.length > 500 -%>
			<p id="description_less">
			<%= @playlist.description[1..500] %>... <a href="#" class="link-more">MORE</a>
			</p>
			<p id="description_more">
			<%= @playlist.description %> <a href="#" class="link-less">LESS</a>
			</p>
		<% else -%>
			<p><%= @playlist.description %></p>
		<% end -%>
		</p>
	</details>
	<%= render :partial => 'playlist_items/playlist_items_block', :locals => {:playlist => @playlist} %>
</div>


<div id="container_id" style="display: none;"><%= @playlist.id %></div>

<% if current_user && (@playlist.admin? || @playlist.owner?) %>
  <div class="info_block">
    <%= link_to('Create Playlist Item',new_playlist_item_path, :class => 'button new-playlist-item') %>
  </div>
<% end %>

<div id="dialog-item-edit" title="Edit item"></div>
<div id="dialog-item-delete" title="Delete item"></div>
<div id="dialog-playlist-copy" title="Copy playlist"></div>
