<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'playlists-logo',
  :url => playlists_path,
  :right_search => 'playlists/nav_search' } %>

<div id="playlist" class="singleitem" data-itemid="<%= @playlist.id %>">
	<hgroup class="description">
		<h2><%= @playlist.name %></h2>
		<aside class="toolbar">
			<ul>
				<li><a href="#" class="link-share">Share</a></li>
				<li><%= link_to "Remix Playlist", copy_playlist_path(@playlist), :class => "link-remix remix-action" %></li>
				<li><%= link_to "Bookmark This Playlist", bookmark_item_path, :class => "link-bookmark bookmark-action" %></li>
				<li><a href="#" class="link-print">Print</a></li>
			</ul>
		</aside>
		<% if current_user && (@playlist.admin? || @playlist.owner?) %>
		<aside class="buttons">
			<ul>
    			<li class="btn-li">
					<%= link_to 'ADD ITEM +', new_playlist_item_path, :class => 'btn-a new-playlist-item' %>
				</li>
			</ul>
		</aside>
		<% end %>
		<div class="cl"></div>
	</hgroup>
	<details>
		<div class="tags">
			<ul>
				<% @playlist.tags.each do |tag| -%>
				<li><%= link_to tag.name, playlist_tag_path(tag.name) %></li>
				<% end -%>
			</ul>
		</div>
		<h5>
			<%= @playlist.created_at.to_s(:simpledatetime) %>
			by <a href="#"><%#= @playlist.creators.collect { |u| u.login }.join(', ') %></a>
		</h5>
		<% if false -%>
		<div class="influence"></div>
		<% end -%>
		<div class="cl"></div>
		<% if !@playlist.description.nil? -%>
		<% if @playlist.description.length > 500 -%>
			<p id="description_less">
				<%= @playlist.description[1..500] %>... <a href="#" class="link-more">MORE</a>
			</p>
			<p id="description_more">
				<%= @playlist.description %> <a href="#" class="link-less">LESS</a>
				<%= link_to "EDIT", edit_playlist_path(@playlist), :class => "edit-action" %>
			</p>
		<% else -%>
			<p>
				<%= @playlist.description %>
				<%= link_to "EDIT", edit_playlist_path(@playlist), :class => "edit-action" %>
			</p>
		<% end -%>
		<% else -%>
			<p><%= link_to "EDIT", edit_playlist_path(@playlist), :class => "edit-action" %></p>
		<% end -%>
	</details>
	<%= render :partial => 'playlist_items/playlist_items_block', :locals => {:playlist => @playlist} %>
</div>


<div id="container_id" style="display: none;"><%= @playlist.id %></div>

<div id="dialog-item-edit" title="Edit item"></div>
<div id="dialog-item-delete" title="Delete item"></div>
<div id="dialog-playlist-copy" title="Copy playlist"></div>

<%= render :partial => "shared/popup", :locals => { :type => "collage" } %>
