<div id="fixed_links">
<a href="#" class="fixed_link left-tooltip" id="collapse_toggle" title="Toggle Right Panel">Collapse/Expand</a>
<a href="#" class="fixed_link requires_edit left-tooltip" id="edit_toggle" title="Toggle Edit Mode">Edit/View</a>
<a href="<%= export_playlist_path(@playlist) %>" class="fixed_link left-tooltip" id="fixed_print" title="Print <%= @playlist.name %>">Print</a>
<a href="#" class="fixed_link left-tooltip btn-a dont_hide" id="fixed_font" title="Change the size of the text">Font Settings</a>
</div>

<aside id="singleitem_barcode_toolbar">
  <%= render :partial => "shared/barcode", :locals => { :object => @playlist } %>
  <%= link_to raw('<span class="icon icon-remix-large"></span>'), prepare_copy_playlist_path(@playlist), :class => "tooltip link-remix remix-action requires_logged_in", :title => "Remix #{@playlist.name}" %>
  <%= link_to raw('<span class="icon icon-add-large"></span>'), '#', "data-item_id" => @playlist.id, "data-type" => "playlist", :class => 'link-add tooltip requires_logged_in', :title => "Add to a Playlist" %>
  <%= link_to raw('<span class="icon icon-favorite-large"></span>'), '#', :class => "bookmark-action tooltip requires_logged_in", :title => "Bookmark #{@playlist.name}", "data-type" => "playlist", "data-itemid" => @playlist.id %>
</aside>

<div id="playlist" class="singleitem" data-itemid="<%= @playlist.id %>">
  <div id="main_details">
    <h1 class="scale1-5"><span><%= raw @playlist.name %></span></h1>
    <h3 class="scale1-5 <%= @playlist.root != @playlist ? 'with_creators' : '' %>">
      <% if @playlist.root != @playlist -%>
      <span class="creator_details">
        <span>Original Creator: </span><%= raw @playlist.root.owners.collect { |u| link_to(u.display, user_path(u)) }.join(', ') %>
      </span>
      <span class="creator_details">
        <span>Current Version: </span><%= raw @playlist.owners.collect { |u| link_to(u.display, user_path(u)) }.join(', ') %>
      </span>
      <% else -%>
      <span>by </span><%= raw @playlist.owners.collect { |u| link_to(u.display, user_path(u)) }.join(', ') %>
      <% end -%>
    </h3>
  </div>
  <div id="description" class="scale1-1">
    <%= Playlist.format_content(@playlist.description) %>
    <%= link_to raw('<span class="icon icon-edit"></span>EDIT PLAYLIST INFORMATION<span class="icon icon-arrow"></span>'), edit_playlist_path(@playlist), :class => "edit-action requires_edit collage_edit scale0-8" %>
    <a href="#" class="public-notes requires_edit scale0-8" data-type="public"><span class="icon icon-setup"></span>MAKE NOTES PUBLIC</a>
    <a href="#" class="private-notes requires_edit scale0-8" data-type="private"><span class="icon icon-setup"></span>MAKE NOTES PRIVATE</a>
  </div>
  <%= render :partial => 'playlist_items/playlist_items_block', :locals => {:playlist => @playlist} %>
</div>

<div id="stats" class="right_panel">
  <a href="#" class="right_panel_close"></a>
  <h3 class="info">Playlist Information<span class="icon icon-panel"></span></h3>
  <div class="stats_panel">
  <%= render :partial => 'meta' %>
  </div>
  <h3>Author Stats</h3>
  <%= render :partial => "shared/author_stats", :locals => { :user => @playlist.owners.first } %>
  <h3>Other Playlists by <%= @playlist.owners.first.simple_display %></h3>
  <div class="stats_panel" id="author_playlists">
  <%= render :partial => "partial_results/author_playlists" %>
  </div>
</div>

<div id="edit_item" class="requires_edit right_panel">
  <a href="#" class="right_panel_close"></a>
  <table class="tabs"><tr>
    <td><a id="find_items_tab" class="current" href="#">Find Items</a></td>
    <td></td>
  </tr></table>
  <div id="find_items" class="tab_panel new_item">
    <p class="instruction">
      Drag and drop items to move within the playlist.
      Or search to find new items, then drag and drop items from this list onto your playlist.
      Note, you may only drop items into this playlist. To edit nested playlists, click on the playlist title and edit on that playlist page.
    </p>
    <div id="search_wrapper_outer">
      <a id="add_item_search" href="#">SEARCH</a>
      <div id="select_wrapper">
      <select id="add_item_select">
        <option value="base">all</option>
        <option value="cases">cases</option>
        <option value="collages">collages</option>
        <option value="medias">medias</option>
        <option value="playlists">playlists</option>
        <option value="text_blocks">texts</option>
        <option value="defaults">links</option>
      </select>
      </div>
      <div id="search_wrapper">
      <input id="add_item_term" />
      </div>
    </div>
  </div>
  <div id="add_item_results"></div>
</div>

<div class="clear"></div>

<script type="text/javascript">
var container_id = <%= @playlist.id %>;
var editability_path = "<%= access_level_playlist_path(@playlist) %>"; 
</script>
