<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'playlists-logo',
  :url => playlists_path,
  :right_search => 'playlists/nav_search' } %>

<div id="playlist" class="singleitem" data-itemid="<%= @playlist.id %>">
	<hgroup class="description">
		<h2><%= @playlist.name %></h2>
		<aside class="toolbar">
			<ul>
        <li class="requires_logged_in"><%= link_to "Remix Playlist", copy_playlist_path(@playlist), :class => "tooltip link-remix remix-action", :title => "Remix #{@playlist.name}" %></li>
        <li class="requires_logged_in"><%= link_to "Bookmark This Playlist", '#', :class => "tooltip link-bookmark bookmark-action", :title => "Bookmark #{@playlist.name}" %></li>
				<li id="print-container">
        <a href="<%= export_playlist_path(@playlist) %>" class="tooltip link-print" target="_blank" title="Print <%= @playlist.name %>">
            <span>Print</span>
          </a>
        </li>
			</ul>
		</aside>
		<aside class="buttons">
			<ul>
        <li class="btn-li afterload">
          <a href="#" class="btn-a tooltip" id="fonts" title="Change the size of the text">
            <span>Aa</span>
          </a>
					<div class="popup font-size-popup">
            <select id="font-size">
              <option value="10">small</option>
              <option value="13">medium</option>
              <option value="16">large</option>
              <option value="19">extra-large</option>
            </select>
          </div>
        </li>
    	  <li class="btn-li requires_edit">
					<%= link_to 'ADD ITEM +', new_playlist_item_path, :class => 'btn-a new-playlist-item-control' %>
				</li>
			</ul>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<div class="details">
		<% cache "playlist-#{@playlist.id}-tags" do -%>
		<div class="tags">
			<% @playlist.tags.each do |tag| -%>
			<%= link_to tag.name, playlist_tag_path(CGI.escape(tag.name)) %>
			<% end -%>
		</div>
		<% end -%>
    <%= render :partial => 'playlist_meta' %>
		<div class="cl"></div>
		<% if !@playlist.description.nil? -%>
		<% if @playlist.description.length > 500 -%>
			<div id="description_less">
				<%= Playlist.format_content(@playlist.description[0..500]) %>... <a href="#" class="link-more">MORE</a>
			</div>
			<div id="description_more">
				<%= Playlist.format_content(@playlist.description) %> <a href="#" class="link-less">LESS</a>
				<%= link_to "EDIT", edit_playlist_path(@playlist), :class => "edit-action requires_edit" %>
        <a href="#" class="public-notes requires_edit" data-type="public">MAKE NOTES PUBLIC</a>
        <a href="#" class="private-notes requires_edit" data-type="private">MAKE NOTES PRIVATE</a>
			</div>
		<% else -%>
			<div id="description">
				<%= Playlist.format_content(@playlist.description) %>
				<%= link_to "EDIT", edit_playlist_path(@playlist), :class => "edit-action requires_edit" %>
        <a href="#" class="public-notes requires_edit" data-type="public">MAKE NOTES PUBLIC</a>
        <a href="#" class="private-notes requires_edit" data-type="private">MAKE NOTES PRIVATE</a>
			</div>
		<% end -%>
		<% else -%>
			<p>
				<%= link_to "EDIT", edit_playlist_path(@playlist), :class => "edit-action requires_edit" %>
        <a href="#" class="public-notes requires_edit" data-type="public">MAKE NOTES PUBLIC</a>
        <a href="#" class="private-notes requires_edit" data-type="private">MAKE NOTES PRIVATE</a>
			</p>
		<% end -%>
	</div>
	<%= render :partial => 'playlist_items/playlist_items_block', :locals => {:playlist => @playlist} %>
</div>
<script type="text/javascript">
var container_id = <%= @playlist.id %>;
var editability_path = "<%= access_level_playlist_path(@playlist) %>"; 
</script>

<div class="popup add-popup" data-type="<%= type %>">
  <h4>ADD TO</h4>
  <%= collection_select(:playlist, :id, [], :id, :name) %>
  <ul>
    <li><%= link_to "CREATE NEW PLAYLIST", new_playlist_path, :class => "new-playlist-and-item" %></li>
    <li><a href="#" class="bookmark-popup bookmark-this bookmark-action">ADD BOOKMARK</a></li>
  </ul>
  <a href="#" class="btn new-playlist-item">ADD FILE</a>
</div>
