<script type="text/javascript">
  jQuery(document).ready(function() {
      jQuery("#user_session_login").focus();

    jQuery("#user_submit").hover( function () {
        jQuery(this).attr('src', '/images/elements/signin_twitter_light.png');
      },
      function () {
        jQuery(this).attr('src', '/images/elements/signin_twitter_dark.png');
      }
    );
  });
</script>

<div id="login-form" <%= (request.xhr?) ? ' class="loaded-via-xhr"' : '' %>>
  <% form_for @user_session, :url => user_session_path do |f| %>
    <%= f.error_messages %>
    <%= f.label :login %><br />
    <%= f.text_field :login %><br />
    <br />
    <%= f.label :password %><br />
    <%= f.password_field :password %><br />
    <br />
    <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
    <br />
    <%= f.submit "Login" %><br />
    
    <p>
    <% #  image_submit_tag("elements/signin_twitter_dark.png", :name => 'login_with_oauth', :id => 'user_submit') %>
    <% if false %>
      <%= oauth_login_button :value => "Login with Twitter" %><br />
    <% end %>
    </p>
<% end %>
  <p>
  <div class="p20"><b><%= link_to "If you don't have a login, please register by clicking here.", new_user_path %></b></div>
  </p>
</div>
