<header class="users">
  <div class="content">
    <h1>
      <%= t 'users.sign-in.header' %>
    </h1>
  </div>
</header>
<section class="sign-in">
  <div class="content">
    <div class="layout">
      <div class="form">
        <%= simple_form_for @user_session, url: user_sessions_path do |f| %>
          <%= f.error_notification %>
          <%= f.input :email_address %>
          <%= f.input :password, required: true %>
          <%= f.button :submit, t('simple_form.labels.user.sign-in') %>
          <%= f.hint t 'users.sign-in.terms-of-service.html', terms_path: page_path('terms-of-service') %>
        <% end %>
      </div>
      <div class="help">
        <h2>
          <%= t 'users.sign-in.help.header' %>
        </h2>
        <ul>
          <li>
            <%= t 'users.sign-in.help.login.html' %>
          </li>
          <li>
            <%= t 'users.sign-in.help.password.html', reset_path: new_password_reset_path %>
          </li>
          <li>
            <%= t 'users.sign-in.help.sign-up.html', sign_up_path: new_user_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
