%header.users
  .content
    %h1= t 'users.sign-in.header'
%section.sign-in
  .content
    .layout
      .form
        = simple_form_for @user_session, url: user_sessions_path, html: {data: {remote: true}} do |f|
          = f.error_notification
          = f.input :email_address
          = f.input :password, required: true
          = f.button :submit, t('simple_form.labels.user.sign-in')
          = f.hint t 'users.sign-in.terms-of-service.html', terms_path: root_path
      .help
        %h2= t 'users.sign-in.help.header'
        %ul
          %li= t 'users.sign-in.help.login.html'
          %li= t 'users.sign-in.help.password.html', reset_path: new_password_reset_path
          %li= t 'users.sign-in.help.sign-up.html', sign_up_path: new_user_path
