- if action_name.in? %w{edit layout annotate} ##draft mode
  - if action_name == 'layout'
    - if @content.is_a? Content::Casebook
      = button_to t('content.actions.publish'), casebook_path(@casebook), method: :patch, params: {content_casebook: {public: true}}, class: 'action publish one-line'
      = link_to t('content.actions.preview'), casebook_path(@casebook), class: 'action one-line preview'
    - elsif @content.is_a? Content::Section
      = link_to t('content.actions.preview'), section_path(@casebook, @section), class: 'action one-line preview'
    = link_to t('content.actions.add-resource'), new_section_path(@casebook), class: 'action add-resource'
    = button_to t('content.actions.add-section'), sections_path(@casebook, params: {parent: @section.try(:id)}), method: :post, class: 'action add-section'
  - if @content.is_a? Content::Resource
    = link_to t('content.actions.preview'), resource_path(@casebook, @resource), class: 'action one-line preview'
- else
  - if @casebook.owners.include?(current_user)
    - if @casebook.public ## published version
      - if @content.is_a? Content::Casebook
        = link_to t('content.actions.revise'), layout_casebook_path(@casebook), class: 'action edit one-line'
      - elsif @content.is_a? Content::Section
        = link_to t('content.actions.revise'), layout_section_path(@casebook, @section), method: :patch, params: {content_casebook: {public: false}}, class: 'action edit one-line'
      - elsif @content.is_a? Content::Resource
        = link_to t('content.actions.revise'), annotate_resource_path(@casebook, @resource), class: 'action edit one-line'
    - elsif action_name == 'show' ## preview mode
      - if @content.is_a? Content::Casebook
        = button_to t('content.actions.publish'), casebook_path(@casebook), method: :patch, params: {content_casebook: {public: true}}, class: 'action publish one-line'
        = link_to t('content.actions.edit'), layout_casebook_path(@casebook), class: 'action edit one-line'
      - elsif @content.is_a? Content::Section
        = link_to t('content.actions.edit'), layout_section_path(@casebook, @section), class: 'action edit one-line'
      - elsif @content.is_a? Content::Resource
        = link_to t('content.actions.edit'), annotate_resource_path(@casebook, @resource), class: 'action edit one-line'
  = button_to t('content.actions.clone-casebook'), clone_casebook_path(@casebook), method: :post, class: 'action clone-casebook'
  = link_to t('content.actions.export'), export_casebook_path(@casebook), class: 'action one-line export'