:ruby
  active_tab =
    if action_name == 'new'
      'new'
    elsif action_name == 'edit'
      'details'
    elsif @casebook.is_a? Content::Resource
      'edit'
    else
      'layout'
    end
- if @section.present?
  - if @section.is_a? Content::Resource
    - if @section.section.is_a? Content::Casebook
      %a.tab{href: casebook_section_index_path(@casebook, @section), class: active_tab == 'layout' ? 'active' : ''}= t 'content.tabs.layout'
    - else
      %a.tab{href: casebook_section_path(@casebook, @section.section), class: active_tab == 'layout' ? 'active' : ''}= t 'content.tabs.layout'
    %a.tab{href: casebook_section_path(@casebook, @section), class: active_tab == 'edit' ? 'active' : ''}= t 'content.tabs.edit'
    %a.tab{href: edit_casebook_section_path(@casebook, @section), class: active_tab == 'details' ? 'active' : ''}= t 'content.tabs.resource-details'
  - elsif @section.is_a? Content::Section
    %a.tab{href: casebook_section_path(@casebook, @section), class: active_tab == 'layout' ? 'active' : ''}= t 'content.tabs.layout'
    - if @section.resources.any?
      %a.tab{href: casebook_section_path(@casebook, @section.resources.first), class: active_tab == 'edit' ? 'active' : ''}= t 'content.tabs.edit'
    - else
      %a.tab{href: casebook_section_path(@casebook, @section), class: active_tab == 'edit' ? 'active' : ''}= t 'content.tabs.edit'
    %a.tab{href: edit_casebook_section_path(@casebook, @section), class: active_tab == 'details' ? 'active' : ''}= t 'content.tabs.section-details'
- else
  %a.tab{href: casebook_section_index_path(@casebook), class: active_tab == 'layout' ? 'active' : ''}= t 'content.tabs.layout'
  - if @casebook.resources.any?
    %a.tab{href: casebook_section_path(@casebook, @casebook.resources.first), class: active_tab == 'edit' ? 'active' : ''}= t 'content.tabs.edit'
  - else
    %a.tab{href: casebook_section_index_path(@casebook), class: active_tab == 'edit' ? 'active' : ''}= t 'content.tabs.edit'
  %a.tab{href: edit_casebook_path(@casebook), class: active_tab == 'details' ? 'active' : ''}= t 'content.tabs.casebook-details'
