- if action_name == 'show'
  - if @content.is_a?(Content::Casebook)
    - active_tab = 'casebook'
  - else
    - active_tab = 'read'
- else
  - active_tab = action_name

- if active_tab.in? %w{edit layout annotate} # draft mode
  - if @resource.present?
    %a{:class => "tab #{active_tab == 'layout' ? '' : ''}", :href => layout_casebook_path(@casebook)}= t 'content.tabs.casebook'
    - if @resource.resource_type.in? %w{Case TextBlock}
      %a{:class => "tab #{active_tab == 'annotate' ? 'active' : ''}", :href => annotate_resource_path(@casebook, @resource)}= t 'content.tabs.annotate'
    - if @resource.resource_type.in? %w{Default TextBlock}
      %a{:class => "tab #{active_tab == 'edit' ? 'active' : ''}", :href => edit_resource_path(@casebook, @resource)}= t 'content.tabs.resource-details'
  - elsif @section.present?
    %a{:class => "tab #{active_tab == 'layout' ? '' : ''}", :href => layout_casebook_path(@casebook)}= t 'content.tabs.casebook'
    %a{:class => "tab #{active_tab == 'layout' ? 'active' : ''}" }= t 'content.tabs.edit'
  - else
    %a{:class => "tab #{active_tab == 'layout' ? 'active' : ''}", :href => layout_casebook_path(@casebook)}= t 'content.tabs.casebook'

- else # published mode
  %a{:class => "tab #{active_tab == 'casebook' ? 'active' : ''}", :href => casebook_path(@casebook)}= t 'content.tabs.casebook'
  - if @resource.present?
    %a{:class => "tab #{active_tab == 'read' ? 'active' : ''}", :href => resource_path(@casebook, @resource)}= t 'content.tabs.read'
  - elsif @section.present?
    %a{:class => "tab disabled #{active_tab == 'read' ? 'active' : ''}"}= t 'content.tabs.read'
