<% if action_name == 'new' %>
  <% active_tab = 'new' %>
<% elsif action_name == 'edit' %>
  <% active_tab = 'details' %>
<% elsif @casebook.is_a? Content::Resource %>
  <% active_tab = 'edit' %>
<% else %>
  <% active_tab = 'layout' %>
<% end %>

<% if @section.present? %>
  <% if @section.is_a? Content::Resource %>
    <% if @section.section.is_a? Content::Casebook %>
      <a class="tab <%= active_tab == 'layout' ? 'active' : '' %>" href="<% casebook_section_index_path(@casebook, @section) %>"><%= t 'content.tabs.layout' %></a>
    <% else %>
      <a class="tab <%= active_tab == 'layout' ? 'active' : '' %>" href="<% casebook_section_path(@casebook, @section.section) %>"><%= t 'content.tabs.layout' %></a>
    <% end %>

    <a class="tab <%= active_tab == 'edit' ? 'active' : '' %>" href="<%= casebook_section_path(@casebook, @section) %>"><%= t 'content.tabs.edit' %></a>
    <a class="tab <%= active_tab == 'details' ? 'active' : '' %>" href="<%= edit_casebook_section_path(@casebook, @section) %>"><%= t 'content.tabs.resource-details' %></a>
  <% elsif @section.is_a? Content::Section %>
    <a class="tab <%= active_tab == 'layout' ? 'active' : '' %>" href="<%= casebook_section_path(@casebook, @section) %>"><%= t 'content.tabs.layout' %></a>

    <% if @section.resources.any? %>
      <a class="tab <%= active_tab == 'edit' ? 'active' : '' %>" href="<%= casebook_section_path(@casebook, @section.resources.first) %>"><%= t 'content.tabs.edit' %></a>
    <% else %>
      <a class="tab <%= active_tab == 'edit' ? 'active' : '' %>" href="<%= casebook_section_path(@casebook, @section) %>"><%= t 'content.tabs.edit' %></a>
    <% end %>

    <a class="tab <%= active_tab == 'details' ? 'active' : '' %>" href="<%= edit_casebook_section_path(@casebook, @section) %>"><%= t 'content.tabs.section-details' %></a>
  <% end %>
<% else %>
  <a class="tab <%= active_tab == 'layout' ? 'active' : '' %>" href="<%= casebook_section_index_path(@casebook) %>"><%= t 'content.tabs.layout' %></a>

  <% if @casebook.resources.any? %>
    <a class="tab <%= active_tab == 'edit' ? 'active' : '' %>" href="<%= casebook_section_path(@casebook, @casebook.resources.first) %>"><%= t 'content.tabs.edit' %></a>
  <% else %>
    <a class="tab <%= active_tab == 'edit' ? 'active' : '' %>" href="<%= casebook_section_index_path(@casebook) %>"><%= t 'content.tabs.edit' %></a>
  <% end %>

  <a class="tab <%= active_tab == 'details' ? 'active' : '' %>" href="<%= edit_casebook_path(@casebook) %>"><%= t 'content.tabs.casebook-details' %></a>
<% end %>
<div class="empty-tab"></div>
