%header.dashboard
  .content
    .content-inner
      = render 'content/search'

%section.dashboard
  .content
    - if @user == current_user
      %h2.casebooks= 'Your Casebooks'
    - else
      %h2.casebooks= "#{@user.attribution}'s Casebooks"
    %hr{:class => "owned"}
    = render partial: 'content/dashboard/content_browser', locals: {content: @user.casebooks.owned, section: 'owned'}
  -# -# %script{type: 'text/template'}= render partial: 'content/dashboard/content_browser'
