<header class="dashboard">
</header>
<section class="dashboard">
  <% content_for :custom_skip_target do %>arbitrary text, necessary so that content_for :custom_skip_target evaluates to true<% end %>
  <p id="main" tabindex="-1" class="sr-only">Main Content</p>
  <div class="content">
    <% if @user == current_user %>
      <h2 class="casebooks">
        <%= 'My Casebooks' %>
      </h2>
      <hr class="owned"/>
      <%= render partial: 'content/dashboard/content_browser', locals: {content: @user.owned_casebook_compacted, section: 'owned'} %>
    <% else %>
      <h2 class="casebooks">
        <%= "#{@user.attribution}'s Casebooks" %>
      </h2>
      <% if (current_user && current_user.superadmin?) %>
        <hr class="owned"/>
        <%= render partial: 'content/dashboard/content_browser', locals: {content: @user.owned_casebook_compacted, section: 'owned'} %>
      <% else %>
        <hr class="owned"/>
        <%= render partial: 'content/dashboard/content_browser', locals: {content: @user.casebooks.owned.published, section: 'owned'} %>
      <% end %>
    <% end %>
  </div>
</section>
