%header.dashboard
  .content
    .content-inner
      = render 'content/search'

%section.dashboard
  .content
    %h2.casebooks= t 'content.dashboard.headers.casebooks'
    - if @user == current_user
      = render partial: 'content/dashboard/content_browser', locals: {header: t('content.dashboard.headers.owned-casebooks'), content: @user.casebooks.owned, section: 'owned'}
    - else
      = render partial: 'content/dashboard/content_browser', locals: {header: "#{@user.attribution}'s Casebooks", content: @user.casebooks.owned, section: 'owned'}
  -# -# %script{type: 'text/template'}= render partial: 'content/dashboard/content_browser'
