= simple_form_for @content, url: @section.present? ? casebook_section_path(@casebook, @section) : casebook_path(@casebook), class: 'casebook-details' do |f|
  - if @section.present?
    %header.casebook-header
      %a.casebook-title{href: edit_casebook_path(@casebook)}= @casebook.title
      .collaborators= render partial: 'content/collaborators', locals: {content: @casebook}
  %header.content
    - if @section.present?
      .breadcrumbs
        = t 'content.show.section'
        - @section.ordinals.each_with_index do |ordinal, idx|
          - unless idx == @section.ordinals.length-1
            %a.breadcrumb{href: edit_casebook_section_path(@casebook, @section.ordinals[0..idx].join('.'))}= ordinal
            %span.separator .
          - else
            %span.breadcrumb.active= ordinal
    = f.input :title, placeholder: t('simple_form.labels.casebook.name')
    = f.input :subtitle, placeholder: t('simple_form.labels.casebook.subtitle')
    - if @section.nil?
      .collaborators
        - @casebook.users.each do |user|
          .user{class: user.verified? ? 'verified' : ''}= user.display_name
        %a.add-collaborator= t 'content.edit.add-collaborator'
  %section.headnote
    %h5= t 'content.show.headnote'
    = f.input :headnote, placeholder: t('simple_form.labels.casebook.description')
  %section.edit-actions
    = f.submit t('simple_form.labels.casebook.save'), class: 'save-button'
    = link_to t('simple_form.labels.casebook.revert'), casebook_path(@casebook), class: 'reset-button'
- if @content.respond_to? :contents
  %section.table-of-contents
    = render partial: 'content/table_of_contents/show', locals: {contents: @content.tree, editable: false}
- elsif @content.respond_to? :resource
  %section.resource
    = render partial: 'content/resources/show', locals: {resource: @content, editable: false}
