<!-- FINDING OUT WHERE TO PUT CONTENT/EDIT_DETAILS PARTIAL -->



<!-- If in a section -->
<% if @section.present? && @casebook.present? %>
  <header class="casebook-header">
    <div class="casebook-title">
      <%= @casebook.title %>
    </div>
  </header>
<% end %>

<header class="content">
  <!-- if in a section -->
  <% if @section.present? && @casebook.present? %>
    <div class="breadcrumbs">
      <%= t 'content.show.section' %>
      <% @section.ordinals.each_with_index do |ordinal, idx| %>
        <% unless idx == @section.ordinals.length-1 %>
          <a class="breadcrumb" href="<%= layout_section_path(@casebook, @section.ordinals[0..idx].join('.')) %>"><%= ordinal %></a>
          <span class="separator">.</span>
        <% else %>
          <span class="breadcrumb active"><%= ordinal %></span>
          <span class="separator">:</span>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <!-- if on the layout tab -->
  <%= render partial: 'content/edit_details', locals: {content: @content} %>
</header>

<% if @content.headnote.present? || @content.subtitle.present? %>
  <section class="headnote">
    <h5>
      <%= t 'content.show.headnote' %>
    </h5>
    <% if @section.present? %>
      <h3>
        <%= @content.subtitle %>
      </h3>
    <% end %>
    <p>
      <%= @content.headnote %>
    </p>
  </section>
<% else %>
  <section class="no-headnote"></section>
<% end %>

<section class="table-of-contents">
  <h5>
    <% if @section.present? %>
      <%= t 'content.show.section-contents' %>
    <% end %>
  </h5>
  <% if @content.contents.any? %>
    <%= render partial: 'content/table_of_contents/edit', collection: @content.tree %>
  <% else %>
    <div class="listing empty">
    <% if @editable %>
      <% if @section.present? %>
        <%= t 'content.edit.empty-section.html', add_resource_button: link_to(t('content.edit.empty-section.add-button'), new_section_path(@casebook, parent: @section.id), class: 'add-resource') %>
      <% else %>
        <%= t 'content.edit.empty-casebook.html', add_section_button: button_to(t('content.edit.empty-casebook.add-button'), sections_path(@casebook), method: :post, class: 'add-resource') %>
      <% end %>
    <% else %>
      <% if @section.present? %>
        <%= t 'content.show.empty-section' %>
      <% else %>
        <%= t 'content.show.empty-casebook' %>
      <% end %>
    <% end %>
  <% end %>
</section>
