<header class="content">
  <%= render partial: 'content/edit_details', locals: {content: @content} %>
</header>

<% if @content.headnote.present? || @content.subtitle.present? %>
  <section class="headnote">
    <h5>
      <%= t 'content.show.headnote' %>
    </h5>
    <% if @section.present? %>
      <h3>
        <%= @content.subtitle %>
      </h3>
    <% end %>
    <p>
      <%= @content.headnote %>
    </p>
  </section>
<% else %>
  <section class="no-headnote"></section>
<% end %>

<section class="table-of-contents">
  <h5>
    <% if @section.present? %>
      <%= t 'content.show.section-contents' %>
    <% end %>
  </h5>
  <% if @content.contents.any? %>
    <%= render partial: 'content/table_of_contents/edit', collection: @content.tree %>
  <% else %>
    <div class="listing empty">
    <% if @editable %>
      <% if @section.present? %>
        <%= t 'content.edit.empty-section.html', add_resource_button: link_to(t('content.edit.empty-section.add-button'), new_section_path(@casebook, parent: @section.id), class: 'add-resource') %>
      <% else %>
        <%= t 'content.edit.empty-casebook.html', add_section_button: button_to(t('content.edit.empty-casebook.add-button'), sections_path(@casebook), method: :post, class: 'add-resource') %>
      <% end %>
    <% else %>
      <% if @section.present? %>
        <%= t 'content.show.empty-section' %>
      <% else %>
        <%= t 'content.show.empty-casebook' %>
      <% end %>
    <% end %>
  <% end %>
</section>
