<header class="content">
  <%= render partial: 'content/table_of_contents/edit_details', locals: {content: @content} %>
</header>

<section class="table-of-contents">
  <h5>
    <% if @section.present? %>
      <%= t 'content.show.section-contents' %>
    <% end %>
  </h5>
  <% if @content.contents.any? %>
    <%= render partial: 'content/table_of_contents/edit', locals: {contents: @content.contents} %>
  <% else %>
    <div class="listing empty">
    <% if @editable %>
      <% if @section.present? %>
        <%= t 'content.edit.empty-section.html' %>
      <% else %>
        <%= t 'content.edit.empty-casebook.html' %>
      <% end %>
    <% else %>
      <% if @section.present? %>
        <%= t 'content.show.empty-section' %>
      <% else %>
        <%= t 'content.show.empty-casebook' %>
      <% end %>
    <% end %>
  <% end %>
</section>
