<%= simple_form_for @content, url: @section.present? ? section_path(@casebook, @section) : @resource.present? ? resource_path(@casebook, @resource) : casebook_path(@casebook), class: 'casebook-details' do |f| %>

  <header class="content">
    <%= f.input :title, placeholder: t('simple_form.labels.casebook.name') %>
    <%= f.input :subtitle, placeholder: t('simple_form.labels.casebook.subtitle') %>
    <% if @section.nil? %>
      <div class="collaborators">
        <%= render partial: 'content/collaborators', locals: {content: @content} %>
      </div>
    <% end %>
  </header>

  <section class="edit-headnote">
    <h5><%= t 'content.show.headnote' %></h5>
    <%= f.cktext_area :headnote, placeholder: t('simple_form.labels.casebook.description'), class: 'ckeditor form-control' %>
  </section>

  <% if @content.resource.is_a?(Link) || @content.resource.is_a?(TextBlock) %>
    <section class="edit-resource">
      <h5><%= t 'content.show.content' %></h5>
      <%= f.simple_fields_for :resource do |r| %>
        <% if @content.resource.is_a? Link %>
          <%= r.input :url %>
        <% elsif @content.resource.is_a? TextBlock %>
          <%= r.cktext_area :content, class: 'ckeditor form-control' %>
        <% end %>
      <% end %>
    </section>
  <% end %>
<% end %>

<aside class="casebook-actions">
  <%= render 'content/actions' %>
</aside>
