- if @section.present?
  %header.casebook-header
    %a.casebook-title{href: casebook_path(@casebook)}= @casebook.title
    .collaborators= render partial: 'content/collaborators', locals: {content: @casebook}
%header.content
  - if @section.present?
    .breadcrumbs
      = t 'content.show.section'
      - @section.ordinals.each_with_index do |ordinal, idx|
        - unless idx == @section.ordinals.length-1
          %a.breadcrumb{href: casebook_section_path(@casebook, @section.ordinals[0..idx].join('.'))}= ordinal
          %span.separator .
        - else
          %span.breadcrumb.active= ordinal
          %span.separator :
  %h1= @content.title
  - if @section.nil?
    %h2= @content.subtitle
  - if @section.nil?
    .collaborators= render partial: 'content/collaborators', locals: {content: @content}
- if @content.headnote.present? || @content.subtitle.present?
  %section.headnote
    %h5= t 'content.show.headnote'
    - if @section.present?
      %h3= @content.subtitle
    %p= @content.headnote
- else
  %section.no-headnote
%section.table-of-contents
  - if @content.respond_to? :contents
    %h5
      - if @section.present?
        = t 'content.show.section-contents'
      - else
        = t 'content.show.table-of-contents'
    - if @content.contents.any?
      = render partial: 'content/table_of_contents/show', locals: {contents: @content.tree, editable: @edit_layout}
    - else
      .listing.empty
        - if @edit_layout
          - if @section.present?
            = t 'content.edit.empty-section.html', add_resource_button: link_to(t('content.edit.empty-section.add-button'), new_casebook_section_path(@casebook, parent: @section.ordinal_string))
          - else
            = t 'content.edit.empty-casebook.html', add_section_button: button_to(t('content.edit.empty-casebook.add-button'), casebook_section_index_path(@casebook), method: :post)
        - else
          - if @section.present?
            = t 'content.show.empty-section'
          - else
            = t 'content.show.empty-casebook'
  - elsif @content.respond_to? :resource
    %section.resource
      = render partial: 'content/resources/show', locals: {resource: @content.resource, editable: false}
