<div class="content">
  <div class="brand">
    <%= t 'footer.brand' %>
  </div>
  <div class="layout">
    <div class="link-group">
      <div class="link">

        <%= link_to t('footer.links.home'), root_path %>
      </div>
      <div class="link">
        <%= link_to t('footer.links.blog'), root_url(subdomain: :about)+'blog' %>
      </div>
      <div class="link">
        <%= link_to t('footer.links.terms-of-service'), page_path('terms-of-service')%>
      </div>
      <div class="link">
        <%= link_to t('footer.links.privacy-policy'), page_path('privacy-policy')%>
      </div>
      <div class="link">
        <%= link_to t('footer.links.about'), page_path('about')%>
      </div>
      <div class="link">
        <%= link_to t('footer.links.help-guide'), root_url(subdomain: :about)%>
      </div>
      <div class="link">
        <%= link_to t('footer.links.faq'), page_path('faq')%>
      </div>
    </div>
    <div class="info">
      <div class="link">
        <%= mail_to "info@opencasebook.org", t('footer.contact-link') %>
      </div>
      <div class="copyright">
        <%= t 'footer.copyright' %>
      </div>
    </div>
  </div>
</div>
