<nav>
  <div class="content">
    <div class="brand">
      <a class="wrapper logo" href="<%= root_path %>">
        <%= t 'header.brand' %>
      </a>
    </div>
    <div class="links">
      <% if current_user.present? %>
        <button type="button" class="create-casebook" data-action="show-casebook-modal"><%= t('header.links.create-casebook') %></button>
        <%= link_to t('header.links.search'), :search %>
      <% else %>
        <%= link_to t('header.links.search'), :search %>
      <% end %>
    </div>
    <div class="user">
      <% if current_user.present? %>
        <div class="current-user">
          <% if current_user.verified_professor? %>
            <div class="verified">
              <%= t 'header.user.verified_professor' %>
            </div>
          <% elsif !current_user.verified_email? %>
            <div class="unverified">
              <%= t 'header.user.unverified' %>
            </div>
          <% end %>
          <div class="dropdown">
            <button type="button" id="dLabel" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <span class="name">
                <%= current_user.display_name %>
              </span>
              <span class="caret"></span>
            </button>
            <ul class="user-links dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
              <li><a class="user-link" href="<%= user_path(current_user) %>">
                <%= t 'header.user.dashboard' %>
              </a></li>
              <li><a class="user-link" href="<%= edit_user_path(current_user) %>">
                <%= t 'header.user.edit-profile' %>
              </a></li>
              <li><%= button_to user_session_path(current_user_session), method: 'delete', class: 'user-link' do %><%=t('header.user.sign-out')%><% end %></li>
            </ul>
          </div>
        </div>
      <% else %>
        <a class="sign-up" href="<%= new_user_path %>">
          <%= t 'header.links.sign-up' %>
        </a>
        <a class="sign-in" href="<%= new_user_session_path %>">
          <%= t 'header.links.sign-in' %>
        </a>
      <% end %>
    </div>
  </div>
</nav>
