<!DOCTYPE HTML>

<html xmlns="//www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <title><%= raw(@page_title) || "H2O Classroom Tools" %></title>
    <link rel="icon" href="<%= asset_pack_path 'h20-logo.png' %>" type="image/png" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora|Sorts+Mill+Goudy">
    <%= stylesheet_pack_tag "application", media: "all" %>
    <script type="text/javascript" src="/modernizr.custom.77714.js"></script>

    <%= javascript_tag("var AUTH_TOKEN = '#{form_authenticity_token}';
var UTC_OFFSET = #{Time.zone.now.utc_offset * 1000};") %>
<script type="text/javascript" src="//use.typekit.net/yxz4hqb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<style type="text/css" id="additional_styles"></style>

</head>

<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>" id="<%= "#{params[:controller].gsub(/\//, '_')}_#{params[:action]}" %>" class="<%= @page_cache ? 'cached_page' : '' %> <%= Rails.env == 'test' ? 'no-touch' : '' %>">
    <a href="#main" class="skip-link">Skip to main content</a>
    <a href="#footer" class="skip-link">Skip to footer</a>
    <section id="shell">
    <%= render :partial => "shared/quickbar" %>
    <%= render :partial => "shared/nav" %>
    <div class="wrapper main_wrapper">
      <% unless content_for? :custom_skip_target %>
        <p id="main" tabindex="-1" class="sr-only">Main Content</p>
      <% end %>
    <% if flash[:notice] && flash[:notice].match(/^Your account has not been verified/) %>
    <p id="notice"><%= raw flash[:notice] %></p>
    <% elsif flash[:notice] && !@page_cache %>
    <p id="notice"><%= flash[:notice] %></p>
    <% end -%>

    <%= yield %>
    </div>
    <p id="footer" tabindex="-1" class="sr-only">Footer</p>
    <%= render :partial => 'shared/footer' %>
    <%= render :partial => 'shared/login' %>
  </section>

<%= render :partial => "shared/font_selectors" %>

<%= javascript_pack_tag "application" %>
<!-- <script src="//cdn.tinymce.com/4.1/tinymce.min.js"></script> -->
<!-- <script type="text/javascript" src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script> -->

<% flash.delete(:error) %>
<% flash.delete(:notice) %>

<script type="text/javascript">
  var editability_path = '<%= @editability_path || '' %>';
</script>
<%= render "layouts/analytics" %>
  </body>
</html>
