<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <title><%= raw(@page_title) || "H2O Classroom Tools" %></title>
    <link rel="icon" href="/images/h20-logo.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy">
    <%= stylesheet_link_tag 'jquery.ui.custom', 'ui', 'mobile', 'icons', 'barcode', 'formtastic', RAILS_ENV == 'development' ? {} : { :cache => 'all' } %>
    <% [(@stylesheets.blank?) ? nil : @stylesheets].compact.flatten.each do |ss| -%>
      <%= stylesheet_link_tag ss %>
    <% end -%>

    <%= javascript_tag("var AUTH_TOKEN = '#{form_authenticity_token}';
var UTC_OFFSET = #{Time.zone.now.utc_offset * 1000};") %>
  <%= javascript_include_tag 'modernizr.custom.77714' %>
  <% if Object.const_defined?(:GOOGLE_ANALYTICS_CODE) %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= GOOGLE_ANALYTICS_CODE %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %> 

<script type="text/javascript" src="//use.typekit.net/yxz4hqb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<style type="text/css" id="additional_styles"></style>

</head>

<body id="b<%= params[:controller] %>" class="b<%= "#{params[:controller]}_#{params[:action]}" %> action_<%= params[:action] %> <%= @page_cache ? 'cached_page' : '' %>">
	<section id="shell">
    <%= render :partial => "shared/quickbar" %>
    <%= render :partial => "shared/nav" %>
    <div class="wrapper main_wrapper">

    <% if flash[:notice] && !@page_cache %>
    <p id="notice"><%= flash[:notice] %></p>
    <% end -%>

    <%= yield %>
    </div>
    <%= render :partial => 'shared/footer' %>
    <%= render :partial => 'shared/login' %>
  </section>

<% if current_user && @single_resource && [Case, TextBlock].include?(@single_resource.class) && params[:action] == 'show' -%>
<%= render :partial => 'shared/forms/defect' %>
<% end -%>

<%= render :partial => "shared/font_selectors" %>

<%= javascript_include_tag 'jquery.min.js' %>
<% if RAILS_ENV == 'development' -%>
<%= javascript_include_tag 'jquery-migrate.js' %>
<% else -%>
<%= javascript_include_tag 'jquery-migrate.min.js' %>
<% end -%>
<%= javascript_include_tag 'jquery-ui.min.js' %>
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<%= javascript_include_tag 'fonts', 'jquery.selectbox-0.6.1.pack', 'jquery.rating.pack',
  'jquery.form', 'jquery.cookie', 'jquery.tabSlideOut.v1.3.js', 
  'jquery.rule.min', 'jquery.tipsy', 'jquery.hoverIntent', 'mustache', 'ui', 'jquery.address.min', RAILS_ENV == 'development' ? {} : { :cache => 'all' } %>

<% [ @javascripts.blank? ? nil : @javascripts ].compact.flatten.each do |js| %>
  <%= javascript_include_tag js %>
<% end -%>

<% flash.delete(:error) %>
<% flash.delete(:notice) %>

<script type="text/javascript">
  var editability_path = '<%= @editability_path || '' %>';
</script>

  </body>
</html>
