<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="must-revalidate" />
    <title><%= @page_title || "H2O Classroom Tools" %></title>

    <%= stylesheet_link_tag 'ui', 'jquery.ui.custom', 'formtastic', :cache => 'all' %>
    <% [(@stylesheets.blank?) ? nil : @stylesheets].compact.flatten.each do |ss| -%>
      <%= stylesheet_link_tag ss %>
    <% end -%>

    <%= javascript_tag("var AUTH_TOKEN = '#{form_authenticity_token}';
var UTC_OFFSET = #{Time.zone.now.utc_offset * 1000};") %>
  <%= javascript_include_tag 'modernizr.custom.86311' %>
  <% if Object.const_defined?(:GOOGLE_ANALYTICS_CODE) %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= GOOGLE_ANALYTICS_CODE %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  <% end %> 
  </head>
  <body id="b<%= params[:controller] %>" class="b<%= "#{params[:controller]}_#{params[:action]}" %>">
  	<section id="shell">
	<%= render :partial => 'shared/header' %>

	<%= yield %>
	<%= render :partial => 'shared/footer' %>
	<% if !current_user || ["collages#show", "playlists#show"].include?("#{params[:controller]}##{params[:action]}") -%>
	<div id="login-popup" class="standard-form">
		<div class="right">
		<h3>Returning user log in.</h3>
		<% form_for :user_session, :url => user_session_path do |f| -%>
		<%= f.label :login %>
		<%= f.text_field :login, :class => 'text' %>
		<%= f.label :password %>
		<%= f.password_field :password, :class => 'text' %>
     <div class="remember">
      <%= link_to 'forgot your password?', new_password_reset_path %>
     </div>
		<div class="remember">
			<%= f.check_box :remember_me %><%= f.label :remember_me %>
		</div>
		<div class="center">
			<%= f.submit "Login", :class => 'button' %>
		</div>
		<% end -%>
		</div>
		<div class="left">
		<h3>Are you a first time user?</h3>
		<a href="/users/new/" class="button">Sign-up Now</a>
		<div class="border"></div>
		<h3>Want to try it out without creating an account?</h3>
		<%= link_to 'Participate Anonymously', anonymous_user_path, :class => 'button' %>
		</div>
		
	</div>
	<% end -%>
	</section>
    
<%= render :partial => 'shared/forms/defect' %>
<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'jquery-ui.min.js' %>
<%= javascript_include_tag 'jquery.selectbox-0.6.1.pack', 'jquery.rating.pack', 'modernizr.custom.86311',
  'ui', 'jquery.form', 'jquery.validate.min','jquery.tag.suggestion', 'jquery.easing.1.3',
  'jquery.cookie', 'jquery.address.min','jquery.tabSlideOut.v1.3.js', 'jquery.rule.min', :cache => 'all' %>

<% [ @javascripts.blank? ? nil : @javascripts ].compact.flatten.each do |js| %>
  <%= javascript_include_tag js %>
<% end -%>

<!--[if IE]>
<%#= javascript_include_tag 'excanvas.js' %>
<![endif]--> 

<% flash.delete(:error) %>
  </body>
</html>
