:ruby
  @casebook_class = 'casebook-' + if @casebook.nil?
    'none'
  elsif @casebook.public?
    'public'
  else
    'draft'
  end

- if @casebook_class == 'casebook-draft'
  - content_for :banner do
    .banner{class: @casebook_class}
      .banner-inner= t 'content.edit.draft-banner.html', publish_path: edit_casebook_path(@casebook)

- content_for :nested_layout do
  %header.casebook{class: @casebook_class}
    .content
      .casebook-inner
        = render 'content/search'
        .tabs
          = render 'content/tabs'
  %section.casebook{class: @casebook_class}
    .content
      .casebook-inner
        .top-strip
        = yield
      %aside.casebook-actions
        = render 'content/actions'
  - if @casebook
    :coffeescript
      window.RAILS_ROUTES ?= []
      RAILS_ROUTES.casebook_section_path = (sectionId)->'#{j casebook_section_path(@casebook, '$CHAPTER_ID$')}'.replace('$CHAPTER_ID$', sectionId)

= render template: 'layouts/main'
