:ruby
  @book_class = 'casebook-' + if @book.nil?
    'none'
  elsif @book.public?
    'public'
  else
    'draft'
  end

- if @book_class == 'casebook-draft'
  - content_for :banner do
    .banner{class: @book_class}
      .banner-inner= t 'casebooks.edit.draft-banner.html', publish_path: edit_book_path(@book)

- content_for :nested_layout do
  %header.casebook{class: @book_class}
    .content
      .casebook-inner
        = render 'casebooks/search'
        .tabs
          = render 'casebooks/tabs'
  %section.casebook{class: @book_class}
    .content
      .casebook-inner
        .top-strip
        = yield
      %aside.casebook-actions
        = render 'casebooks/actions'
  - if @book
    :coffeescript
      window.RAILS_ROUTES ?= []
      RAILS_ROUTES.book_section_path = (sectionId)->'#{j book_section_path(@book, '$CHAPTER_ID$')}'.replace('$CHAPTER_ID$', sectionId)

= render template: 'layouts/main'
