<% if @casebook.nil? %>
  <% @casebook_class = 'casebook-none' %>
<% elsif @casebook.public? || @preview %>
  <% @casebook_class = 'casebook-public' %>
<% else %>
  <% @casebook_class = 'casebook-draft' %>
<% end %>

<% if @casebook_class == 'casebook-draft' %>
  <% content_for :banner do %>
    <div class="<%= @casebook_class %> banner">
      <div class="banner-inner">
        <%= t 'content.edit.draft-banner.html', publish_path: edit_casebook_path(@casebook) %>
      </div>
    </div>
  <% end %>
<% elsif @preview %>
  <% content_for :banner do %>
    <div class="casebook-preview banner">
      <div class="banner-inner">
        <%= t 'content.edit.preview-banner.html', edit_path: layout_casebook_path(@casebook) %>
      </div>
    </div>
  <% end %>
<% end %>
<% content_for :nested_layout do %>
  <header class="<%= @casebook_class %> casebook"  data-editable="<%= @editable || '' %>" data-casebook-id="<%= @casebook.try(:id) %>"  data-section-id="<%= @section.try(:id) %>" data-section-ordinals="<%= @section.try(:ordinals).join('.') if @section.try(:ordinals)  %>" data-resource-id="<%= @resource.try(:id) %>">
    <div class="content">
      <div class="casebook-inner">
        <% if @casebook.present? %>
          <div class="tabs">
            <%= render 'content/tabs' %>
          </div>
        <% else %>
        <% end %>
      </div>
    </div>
  </header>
  <section class="<%= @casebook_class %> casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="top-strip"></div>
        <% if @casebook.present? %>
          <% content_for :custom_skip_target do %>arbitrary text, necessary so that content_for :custom_skip_target evaluates to true<% end %>
          <p id="main" tabindex="-1" class="sr-only">Main Content</p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </section>
<% end %>

<% content_for :prepend_to_head do %>
  <% if @casebook %>
    <script>
      window.RAILS_ROUTES = {};
      RAILS_ROUTES.casebook_path = function (){ return '<%= j casebook_path(@casebook) %>'};
      RAILS_ROUTES.section_path = function (sectionId){ return '<%= j section_path(@casebook, '$CHAPTER_ID$') %>'.replace('$CHAPTER_ID$', sectionId)};
    </script>
  <% end %>
  <% if @section.try(:is_a?, Content::Resource) && @section.persisted? %>
    <script>
      window.RAILS_ROUTES = {};
      RAILS_ROUTES.resource_annotations_path = function () { return '<%= j resource_annotations_path(@section.id)%>' };
      RAILS_ROUTES.resource_annotation_path = function (id) { return '<%= j resource_annotation_path(@section.id, '$ID')%>'.replace('$ID', id) };
    </script>
  <% end %>
<% end %>

<%= render template: 'layouts/main' %>
