<!DOCTYPE HTML>

<html xmlns="//www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <title><%= raw(@page_title) || "H2O Classroom Tools" %></title>
    <link rel="icon" href="<%= asset_path 'h20-logo.png' %>" type="image/png" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora|Sorts+Mill+Goudy">
    <%= stylesheet_pack_tag "application", media: "all" %>
    <%= stylesheet_pack_tag "/common_legacy_normal_contrast.css", media: "all" %>
    <%# TODO: Remove this once we determine common_legacy_normal_contrast.css has all the rules we needed from it %>
    <%# stylesheet_link_tag "//canvas.harvard.edu/assets/vendor_legacy_normal_contrast.css", media: "all" %>
    <script type="text/javascript" src="/modernizr.custom.77714.js"></script>

    <%= javascript_tag("var AUTH_TOKEN = '#{form_authenticity_token}';
var UTC_OFFSET = #{Time.zone.now.utc_offset * 1000};") %>
<script type="text/javascript" src="//use.typekit.net/yxz4hqb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<style type="text/css" id="additional_styles"></style>

</head>

<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>" id="<%= "#{params[:type]}_show" %>" class="<%= @page_cache ? 'cached_page' : '' %>">
	<section id="shell">
    <div class="wrapper main_wrapper">

    <% if flash[:notice] && flash[:notice].match(/^Your account has not been verified/) %>
    <p id="notice"><%= raw flash[:notice] %></p>
    <% elsif flash[:notice] && !@page_cache %>
    <p id="notice"><%= flash[:notice] %></p>
    <% end -%>

    <%= render(partial: 'shared/iframe_bread_crumbs') %>

    <%= content_tag(
      :div,
      id: "single-resource",
      data: {
        name: @single_resource.name,
        href: iframe_show_path(params.permit(:id, :type).to_h.map {|k, v| sanitize v}),
        external: url_for(@single_resource),
        type: params[:type]
      }
    ) do %>
      <%= yield %>
    <% end %>
    </div>
    <%= render :partial => 'shared/login' %>
  </section>

<%= render :partial => "shared/font_selectors" %>

<%= javascript_pack_tag "application" %>
<%= javascript_pack_tag "test" if Rails.env.test? %>
<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<!-- <script type="text/javascript" src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script> -->

<% flash.delete(:error) %>
<% flash.delete(:notice) %>

<script type="text/javascript">
  var editability_path = '<%= @editability_path || '' %>';
</script>
<%= render "layouts/analytics" %>
  </body>
</html>
