<!DOCTYPE html>
<html>
  <head>
    <% if content_for? :prepend_to_head %>
      <%= yield :prepend_to_head %>
    <% end %>
    <% if content_for :page_title %>
      <title><%= "H2O | " + yield(:page_title) %></title>
    <% elsif @page_title %>
      <title><%= "H2O | #{@page_title}" %></title>
    <% else %>
      <title><%= "H2O | Open Casebooks" %></title>
    <% end %>
    <%= render 'layouts/meta_tags' %>
    <%= render 'layouts/favicon' %>
    <%= stylesheet_pack_tag 'main', media: 'all' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lora|Sorts+Mill+Goudy' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.13/css/all.css'%>
    <% if @include_vuejs %>
      <%= javascript_pack_tag "vue_app" %>
      <%= stylesheet_pack_tag "vue_app", media: "all" %>
    <% end %>
  </head>
  <body class="view-<%= controller_name.parameterize %>-<%= action_name.parameterize %>">
    <% if @include_vuejs %><div id="app"><% end %>
      <div id="non-modal">
        <a href="#main" class="skip-link">Skip to main content</a>
        <a href="#footer" class="skip-link">Skip to footer</a>
        <div class="overlay"></div>
        <% if content_for? :banner %>
        <%= yield(:banner) %>
        <% end %>
        <header id="main-header">
          <%= render 'layouts/header' %>
        </header>
        <main>
          <% unless content_for? :custom_skip_target %>
          <p id="main" tabindex="-1" class="sr-only">Main Content</p>
          <% end %>
          <section id="flash">
            <div class="content">
              <% flash.each do |kind, message| %>
              <div class="flash-<%= kind %> flash-message">
                <%= message %>
              </div>
              <% end %>
            </div>
          </section>
          <% if content_for? :nested_layout %>
            <%= yield :nested_layout %>
          <% else %>
            <%= yield %>
          <% end %>
        </main>
        <footer id="main-footer">
          <p id="footer" tabindex="-1" class="sr-only">Footer</p>
          <%= render 'layouts/footer' %>
        </footer>
      </div>
      <div class="modal-overlay"></div>
    <% if @include_vuejs %></div><% end %>
    <%= javascript_pack_tag "application" %>
    <%= render 'layouts/analytics' %>
  </body>
</html>
<!-- Hey I'm an easter egg -->
