<!DOCTYPE html>
<html>
  <head>    
    <% if content_for :page_title %>
      <title><%= "H2O | " + yield(:page_title) %></title>
    <% elsif @page_title %>
      <title><%= "H2O | #{@page_title}" %></title>
    <% else %>
      <title><%= "H2O | #{controller_name}" %></title>
    <% end %>
    <%= render 'layouts/meta_tags' %>
    <%= render 'layouts/favicon' %>
    <%= stylesheet_link_tag 'main', media: 'all' %>
    <% if controller_name == 'exceptions' %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
  </head>
  <body class="view-<%= controller_name.parameterize %>-<%= action_name.parameterize %>">
    <div class="overlay"></div>
    <% if content_for? :banner %>
      <%= yield(:banner) %>
    <% end %>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main>
      <section id="flash" style="height: <%= flash.keys.length * 40 %>px">
        <div class="content">
          <% flash.each do |kind, message| %>
            <div class="flash-<%= kind %> flash-message">
              <%= message %>
            </div>
          <% end %>
        </div>
      </section>
      <% if content_for? :nested_layout %>
        <%= yield :nested_layout %>
      <% else %>
        <%= yield %>
      <% end %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
    <%= javascript_include_tag "application", data: {'turbolinks-eval': "false"} %>
    <%= render 'layouts/analytics' %>
  </body>
</html>
<!-- Hey I'm an easter egg -->