<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="must-revalidate" />
    <title></title>

    <%= stylesheet_link_tag 'ui', 'pdf' %>
    <% [(@stylesheets.blank?) ? nil : @stylesheets].compact.flatten.each do |ss| -%>
      <%= stylesheet_link_tag ss %>
    <% end -%>
	<%= javascript_include_tag 'modernizr.custom.86311' %>
  </head>
  <body id="b<%= params[:controller] %>">
  	<section id="shell">
	<%= yield %>
	</section>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <%= javascript_include_tag 'export_collage' %>
  </body>
</html>
