<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="must-revalidate" />
    <title><%= raw @page_title ? "Printed #{raw @page_title}" : "H2O Classroom Tools" %></title>

    <%= stylesheet_link_tag 'ui', 'icons', 'export', :media => "all" %>
    <%= stylesheet_link_tag 'print', :media => "print" %>
    <% [(@stylesheets.blank?) ? nil : @stylesheets].compact.flatten.each do |ss| -%>
      <%= stylesheet_link_tag ss %>
    <% end -%>
	  <%= javascript_include_tag 'modernizr.custom.86311' %>
    <%#= This is needed for jQuery.rule plugin %>
    <style type="text/css" rel="stylesheet"></style>
  </head>
  <body id="b<%= params[:controller] %>">
    <div class="wrapper">
  	<section id="shell">
      <div id="print-options">
        <strong>FONT SIZE</strong>
        <select id="printfontsize">
          <option value="11" selected="selected">Small</option>
          <option value="14">Medium</option>
          <option value="16">Large</option>
        </select>
        <strong>FONT TYPE</strong>
        <select id="printfonttype">
          <option value="serif">Serif</option>
          <option value="sans-serif" selected="selected">Sans-Serif</option>
        </select>
        <strong>PRINT TITLE(S)</strong>
        <select id="printtitle">
          <option value="yes" selected="selected">Yes</option>
          <option value="no">No</option>
        </select>
        <strong id="create_date">PRINT CREATE AND DATE DETAILS</strong>
        <select id="printdetails">
          <option value="yes" selected="selected">Yes</option>
          <option value="no">No</option>
        </select>
        <% if ["collages", "playlists"].include?(params[:controller]) -%>
        <strong>PRINT PARAGRAPH NUMBERS</strong>
        <select id="printparagraphnumbers">
          <option value="yes" selected="selected">Yes</option>
          <option value="no">No</option>
        </select>
        <div id="highlight_options">
          <strong>PRINT HIGHLIGHTS</strong>
          <select id="printhighlights">
            <option value="original" selected="selected">Original</option>
            <option value="all">All</option>
            <option value="none">None</option>
          </select>
        </div>
        <div id="heatmap_options">
          <strong>PRINT HEATMAP</strong>
          <select id="printheatmap">
            <option value="yes">Yes</option>
            <option value="no" selected="selected">No</option>
          </select>
        </div>
      <% end %>
      </div>
      <%= yield %>
    </section>
    </div>

    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'jquery-ui.min.js' %>
    <%= javascript_include_tag 'jquery.selectbox-0.6.1.pack', 'export', 'jquery.rule.min', 'jquery.xcolor' %>
  </body>
</html>
