<!DOCTYPE HTML>

<html xmlns="//www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="must-revalidate" />
    <title><%= raw @page_title ? "Printed #{raw @page_title}" : "H2O Classroom Tools" %></title>
    <%= stylesheet_link_tag "application-print", media: "all" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <script type="text/javascript" src="/modernizr.custom.77714.js"></script>
    <script type="text/javascript" src="//use.typekit.net/yxz4hqb.js"></script>
    <style type="text/css" id="additional_styles"></style>
    <style type="text/css" id="highlight_styles"></style>
    <script type="text/javascript">try{Typekit.load();}catch(e){ console.log('WARNING: Typekit.load() failed.');}</script>
  </head>
  <body data-controller="<%= params[:controller] %>" id="<%= "#{params[:controller].gsub(/\//, '_')}_#{params[:action]}" %>">
    <div id="print-options">
      <div id="print-options-orig">
      <h2>PRINT SETTINGS</h2>
      <%= form_tag(export_as_playlist_path(@playlist), :method => "post", id: "export-form" ) do %>
      <%= hidden_field_tag "playlist_name", @playlist.name %>

      <div id="export_format_options">
        <strong>FMT</strong>
        <select id="export_format" name="export_format">
          <option value="pdf" selected="selected">PDF</option>
        </select>
      </div>
      <div id="toc_levels_options">
        <strong>TOC</strong>
        <select id="toc_levels" name="toc_levels">
          <option value="" selected="selected">None</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <strong>TITLES</strong>
      <select id="printtitle" name="printtitle">
        <option value="yes" selected="selected">Show</option>
        <option value="no">Hide</option>
      </select>
      <strong>DATES DETAILS</strong>
      <select id="printdetails" name="printdetails">
        <option value="yes" selected="selected">Show</option>
        <option value="no">Hide</option>
      </select>
      <% if ["collages", "playlists"].include?(params[:controller]) -%>
      <strong>PARAGRAPH NUMBERS</strong>
      <select id="printparagraphnumbers" name="printparagraphnumbers">
        <option value="yes" selected="selected">Show</option>
        <option value="no">Hide</option>
      </select>
      <div id="annotation_options">
        <strong>COMMENTS/LINKS</strong>
        <select id="printannotations" name="printannotations">
          <option value="yes">Show</option>
          <option value="no" selected="selected">Hide</option>
        </select>
      </div>
      <div id="highlight_options">
        <strong>HIGHLIGHTS</strong>
        <select id="printhighlights" name="printhighlights">
          <option value="original" selected="selected">Last Saved</option>
          <option value="all">Show All</option>
          <option value="none">Hide</option>
        </select>
      </div>
      <div id="hidden_text_options">
        <strong>HIDDEN TEXT</strong>
        <select id="hiddentext" name="hiddentext">
          <option value="show">SHOW</option>
          <option value="hide" selected="selected">HIDE</option>
        </select>
      </div>
      <% end %>
      <% if ["collages", "playlists", "cases", "text_blocks"].include?(params[:controller]) -%>
      <div id="fontface_div">
        <strong id="fontface_s">FONT FACE</strong>
        <select id="fontface" name="fontface">
          <option value="leitura">Leitura</option>
          <option value="garamond">Garamond</option>
          <option value="futura">Futura</option>
          <option value="verdana">Verdana</option>
          <option value="proxima">Proxima Nova</option>
          <option value="dagny" selected="selected">Dagny Web</option>
        </select>
      </div>
      <div id="fontsize_div">
        <strong>FONT SIZE</strong>
        <select id="fontsize" name="fontsize">
          <option value="small" selected="selected">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
          <option value="xlarge">X-Large</option>
        </select>
      </div>
      <% end %>
     <% end %><!-- /form -->

    </div><!-- /print-options-orig -->
<br/>

<!-- BOOP -->

      <div id="print-options-new" style="width: 100%; border: 2px black solid; margin: 10px; padding: 10px;">
      <%= form_tag(export_as_playlist_path(@playlist), :method => "post", id: "export-form" ) do %>
      <%= hidden_field_tag "playlist_name", @playlist.name %>

      <div id="themes-div" style="border: 1px #DDDDDD solid; margin-right: 20px;">
      <b>PRINT THEMES</b></br>
      <%= button_tag "Classic", class: 'theme-button', id: 'theme-classic', type: 'button' %>
      <%= button_tag "Modern",  class: 'theme-button', id: 'theme-modern', type: 'button' %>
      <%= button_tag "Gothic",  class: 'theme-button', id: 'theme-gothic', type: 'button' %>
      </div>

<!--
      <div id="export_format_options">
        <strong>FMT</strong>
        <select id="export_format" name="export_format">
          <option value="pdf" selected="selected">PDF</option>
        </select>
      </div>
      <div id="toc_levels_options">
        <strong>TOC</strong>
        <select id="toc_levels" name="toc_levels">
          <option value="" selected="selected">None</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <strong>TITLES</strong>
      <select id="printtitle" name="printtitle">
        <option value="yes" selected="selected">Show</option>
        <option value="no">Hide</option>
      </select>
      <strong>DATES DETAILS</strong>
      <select id="printdetails" name="printdetails">
        <option value="yes" selected="selected">Show</option>
        <option value="no">Hide</option>
      </select>
      <% if ["collages", "playlists"].include?(params[:controller]) -%>
      <strong>PARAGRAPH NUMBERS</strong>
      <select id="printparagraphnumbers" name="printparagraphnumbers">
        <option value="yes" selected="selected">Show</option>
        <option value="no">Hide</option>
      </select>
      <div id="annotation_options">
        <strong>COMMENTS/LINKS</strong>
        <select id="printannotations" name="printannotations">
          <option value="yes">Show</option>
          <option value="no" selected="selected">Hide</option>
        </select>
      </div>
      <div id="highlight_options">
        <strong>HIGHLIGHTS</strong>
        <select id="printhighlights" name="printhighlights">
          <option value="original" selected="selected">Last Saved</option>
          <option value="all">Show All</option>
          <option value="none">Hide</option>
        </select>
      </div>
      <div id="hidden_text_options">
        <strong>HIDDEN TEXT</strong>
        <select id="hiddentext" name="hiddentext">
          <option value="show">SHOW</option>
          <option value="hide" selected="selected">HIDE</option>
        </select>
      </div>
      <% end %>
      <% if ["collages", "playlists", "cases", "text_blocks"].include?(params[:controller]) -%>
      <div id="fontface_div">
        <strong id="fontface_s">FONT FACE</strong>
        <select id="fontface" name="fontface">
          <option value="leitura">Leitura</option>
          <option value="garamond">Garamond</option>
          <option value="futura">Futura</option>
          <option value="verdana">Verdana</option>
          <option value="proxima">Proxima Nova</option>
          <option value="dagny" selected="selected">Dagny Web</option>
        </select>
      </div>
      <div id="fontsize_div">
        <strong>FONT SIZE</strong>
        <select id="fontsize" name="fontsize">
          <option value="small" selected="selected">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
          <option value="xlarge">X-Large</option>
        </select>
      </div>
      <% end %>
-->
      <%= submit_tag "Export", class: 'button', id: 'export-form-submit' %>
     <% end %><!-- /form -->
    </div><!-- /print-options-new -->
      
    </div><!-- /print-options -->
    <div class="wrapper">
  	  <section id="shell">
        <%= yield %>
      </section>
    </div>

    <%= javascript_include_tag "application-print" %>
    <%= render "shared/google_analytics" %>

  </body>
</html>
